<div class='edit-referal'>
  <div class='col-md-8' id='response-message'></div>

  <h2>Referal already exist for this skill</h2>
  <h2>Do you want to replace with existing one ?</h2>

  <div class='col-md-10'>
    <%= form_tag update_referal_user_path, :remote => true do %>
      <%= hidden_field_tag :already_exist, :value => true  %>
      <%= hidden_field_tag :user_id,  @user.id  %>
      <%= hidden_field_tag :skill_id, @skill.id    %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <%= submit_tag "Replace", :class => 'btn btn-primary' %>
    <% end %>
  </div>

</div>  