<div class='edit-referal'>
  <div class='col-md-8' id='response-message'></div>
  
  <h2>Please select skill</h2>
    <div class='col-md-10'>
      <%= form_tag update_referal_user_path, :remote => true do %>
        <%= hidden_field_tag :multiple_skills, @response[:multiple_skills] %>
        <%= hidden_field_tag :user_id, @user.id  %>
        <%= select_tag :skill_id, options_from_collection_for_select(@skills, "id", "name")  %>
        <%= submit_tag "Preferred Referral", :class => 'btn btn-primary' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <% end %>  
    </div>
</div>