<% content_for :head do %>
  <%= stylesheet_link_tag "contact_us" %>
  <%= javascript_include_tag "invites" %>
<% end %>

<div class="contact_box">
  <p class="text_aflt">Invite friend</p>
  <div class="contact_boxLeft">
    <%= render :partial => 'shared/error_messages', :locals => {:target => @invite}%>

    <%= form_for @invite, :validate => true do |f| %>
      <div>Reciever email</div>
      <%= f.email_field :reciever_email, :class => "" %>
      <div>Reciever name</div>
      <%= f.text_field :reciever_name , :class => ""%>
      <div>Add a comment</div>
      <%= f.text_area :comment , :class => ""%>

      <div class="login_btn_r">
        <%= link_to "Preview", "javascript:void(0)", :class=> "btn btn-sm preview", :id=>"preview"%>
        <%= f.submit "Send", :class => "btn_r1" %>
      </div>

    <% end %>
  </div>
    
  <div class="clear"></div>
</div>