<% options = {} %>
<% options[:reciever_name] = (params[:reciever_name] || '').titleize %>

<% options[:sender_full_name] = current_user.full_name %>
<% options[:sender_business_name] = current_user.business_name.try(:titleize) %>

<% options[:comment] = params[:comment] || ''%>
<% options[:affiliate_token] = '' %>
<% options[:invite_token] = '' %>
<% options[:sender_profile] = user_url(current_user.username) %>

<%= render :partial => "shared/invite_template" , :locals => {:options => options} %>