<% if user_signed_in? # means on edit profile page%> 
  var parent = $("#<%= @postal_code_input_id%>").parents('.sing_up_r');
  var city_input = parent.find('.city-field');
  var city_input_name = city_input.attr('name');
  var state_select = parent.find('select');
  var state = "<%=j @state %>";
  var city_select = $($.parseHTML("<%=j select_tag 'user[city]', options_from_collection_for_select(@zip_codes, 'CityAliasName', 'CityAliasName') , {:class => 'city-field form-control'}   %>"));
  city_select.attr('name', city_input_name);

  city_input.replaceWith(city_select);

<% else # means on registration %>

  var parent = $("#user_city")
  var user_state_code = [];
  var state = "<%=j @state %>";
  parent = $("#user_city");
  user_state_code = $("#user_state_code");

  parent.replaceWith("<%=j select_tag 'user[city]', options_from_collection_for_select(@zip_codes, 'CityAliasName', 'CityAliasName') , {:class => 'form-control'}   %>");
  user_state_code.val(state);
<% end %>

    
