<%= form_for [:admin, @skill] do |f| %>

  <%= render :partial => 'shared/error_messages', :locals => {:target => @skill}%>

  <div class='row'>
    <div class='col-md-2'>
      <label>Name:</label>
    </div>
    <div class='col-md-10'>
      <%= hidden_field_tag :page, (params[:page] || 1) %>
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>

  <br/>

  <div class='row'>
    <div class='col-md-6 col-md-offset-6'>
      <%= f.submit :submit ,class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>