<%= form_tag search_admin_skills_path do |f| %>
  <div class='row'>
    <div class='col-md-5'>
      <%= text_field_tag :query, params[:query], :class => 'form-control' %>
    </div>  
    <div class='col-md-2'>
      <%= submit_tag :search, :class => 'btn btn-default' %>
    </div>     
  </div>
<% end %>