<!-- <div class="users_list digg_pagination">
  <%#= will_paginate @skills, :container => false %>
</div>
 -->
<div class="skills">
  <table width="647" class="table table-striped table-hover">
    <tr>
      <th>Serial </th>
     <!--  <th>State</th> -->
      <th>Name</th>
      <th>Users count</th>
      <th class='action-btns'></th>
    </tr>

    <% @skills.each_with_index do |skill, index| %>
        <tr id="<%= dom_id(skill) %>">
          <td><a href="javascript:void(0)">#<%= serial_number(@page, @per_page, index) %></a></td>
          <td><%= skill.name %></td>
          <td><%= skill.users.count %></td>
          <td class='view_edit'> 
            <span><%= link_to 'Edit', edit_admin_skill_path(skill, {page: params[:page]}), class: 'btn btn-sm btn-primary' %></span>
            <span><%= link_to 'Remove', admin_skill_path(skill), class: 'btn btn-sm btn-danger', remote: true, :data => {:confirm => 'Are you sure?', method: :delete } %></span>
            <span><%= link_to 'Force remove', force_destroy_admin_skill_path(skill), class: 'btn btn-sm btn-danger', remote: true, :data => {:confirm => 'Are you sure?', method: :delete } %></span>            
          </td>    
        </tr>
    <% end %>    
  </table>
</div>

<div class="skills digg_pagination">
  <%= will_paginate @skills, :container => false %>
</div>


<script type="text/javascript">
    $('#skills .digg_pagination a').on('click', function (event) {
      event.preventDefault();
      show_loader();
      $.getScript(this.href)
        .complete(function( script, textStatus ) {
          hide_loader();
        }).error(function (XMLHttpRequest, textStatus, errorThrown) {
            console.log('error ', errorThrown);
            alert('Error: '+errorThrown);
        });
    });
</script>