<% content_for :header do %>
  <div class="title_head">
    <div class="container">
      <div class="col-md-4">
        <p class="admin_h">Admin /</p>
        <h2 class="orders_h">Merge Skills</h2>
      </div>
    </div>
  </div>
<% end %>

<!-- <div class='row pull-right'>  
  <div class='col-md-6'>
    <%#= link_to 'New skill', new_admin_skill_path, :class => 'btn btn-primary' %>
  </div>  
  <div class='col-md-6'>
    <%#= link_to 'Skills', admin_skills_path, :class => 'btn btn-primary' %>
  </div>  
</div> -->

<div id='merge-skills'>
  
  <%= form_tag merge_admin_skills_path, id: 'skills-merge-form' do %>
    <div class="row">
      <div class='col-md-5'>
        <h4>Select skill to remove</h4>
        <%= text_field_tag :to_skill_ids, params[:to_skill_ids], class: 'form-control', id: "skill-to-remove" %>
      </div>
      <div class='col-md-5'>
        <h4>Select skill to merge with</h4>
        <%= text_field_tag :with_skill_name, params[:with_skill_name], class: 'form-control', id: "skill-with-merge" %>
      </div>
      <div class='col-md-2' style="margin-top: 39px;">
        <%= submit_tag :Merge, class: 'btn btn-primary'%>
      </div>    
    </div>
  <% end %>  

</div>

