<% content_for :header do %>
  <div class="title_head">
    <div class="container">
      <div class="col-md-4">
        <p class="admin_h">Admin /</p>
        <h2 class="orders_h">Skills</h2>
      </div>
    </div>
  </div>
<% end %>

<div class='row'>
  <div class='col-md-7'>
    <%= render :partial => 'search' %>
  </div>  
  <div class='col-md-5'>
    <%= link_to 'New skill', new_admin_skill_path, :class => 'btn btn-primary' %>
  </div>    
</div>

<div id='skills'>
  <%= render :partial => 'skills' %>
</div>

<script type="text/javascript">
  $('#skills .digg_pagination a').on('click', function () {
    $.getScript(this.href);
    return false;
  });
</script>