<div id="paymentModal" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Upgrade membership payment detail</h4>
      </div>

      <ul class="nav nav-tabs nav-payment-tabs" role="tablist">
        <li class='active'>
          <a href="#credit_card" role="tab" data-toggle="tab" data-payment="credit_card">
            <icon class="fa fa-credit-card"></icon> Credit Card
          </a>
        </li>
        <li>
          <a href="#checkout" role="tab" data-toggle="tab" data-payment="checkout">
             <%= image_tag "paypal-logo.png",  alt: "paypal button" %>
          </a>
        </li>
      </ul>
      
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane fade active in" id="credit_card">
          <div class="tab-pane-content">
            <%= form_for @payment_detail , :url => upgrade_membership_path , :remote => true do |pd| %>
                <div class="modal-body">
                  <div class=" row">
                    <h3>Card Information</h3>
                    <div class="alert" style="display:none;"></div>
                    <div class="col-sm-12">
                      <div class="inp-m-row col-sm-6 car-inf">
                        <p>Card type </p>
                        <%= pd.hidden_field :upgrading_to %>
                        <%= pd.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] , {},:class=>"form-control"%>
                      </div>
                      <div class="inp-m-row col-sm-6 car-inf-2">
                        <p>Card number </p>
                        <%= pd.text_field :card_number , :class=>"form-control"%>
                      </div>
                      <div class="inp-m-row col-sm-6 car-inf">
                        <p>Card verification value (CVV)  </p>
                        <%= pd.text_field :card_verification , :class=>"form-control" %>
                      </div>
                      <div class="inp-m-row col-sm-6 car-inf-2">
                        <p>Card expires on  </p>
                        <%= pd.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true, :class =>"select3 list_s1 form-control", :order => [:day, :month, :year], :date_separator => "" %>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                  <button id="new-payment-submit-btn" type="submit" class="btn btn-primary ladda-button" data-style="expand-right"><span class="ladda-label">Pay now</span></button>

                </div>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="checkout">
          <div class="tab-pane-content">
            <h3>Express checkout</h3>
            <div class="">
              <%= link_to (image_tag "paypal-checkout.gif",  alt: "paypal button"), express_checkout_membership_path(express_checkout: true) %>
            </div>
          </div>  
        </div>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->