<div class="paln-box">
  <div class="col-sm-4 pln-cll1">
    <div class="plan-in">
      <div class="btn-box"> <a href="#" class="plan-btn-1">Homowner
        service seeker</a> </div>
      <h2>Free</h2>
      <div class="plan-txt">For Searching, Rating & Referring <span>(no skill or conact info listed)</span></div>
      <div class="wth-arrow"></div>
      <div class="plan-btn-box"> 
        <% if current_user.role?('basic') %>
          <a class="btn btn-default btn-plan-select" href="<%= edit_user_registration_path %>">
            <span class="current-plan">Current plan</span>  
          </a>
        <%  else %>  
          <% if current_user.can_upgrade_role_to?('basic')  %>
            <a data-remote="true" href="<%= change_membership_path(:upgrade => true , :membership => :basic) %>" class="btn btn-warning ladda-button btn-plan-select ajax-ladda-loader" data-style="expand-right"><span class="ladda-label">Upgrade</span></a>  
          <% else %>
            <a data-remote="true" data-confirm="WARNING:: you are downgrading your plan. there is no refund for plan change. Are you sure?" href="<%= change_membership_path(:downgrade => true , :membership => :basic) %>" class="btn btn-warning ladda-button btn-plan-select ajax-ladda-loader" data-style="expand-right"><span class="ladda-label">Downgrade</span></a>
          <% end %>
        <% end %>  
      </div>
    </div>
  </div>
  <div class="col-sm-4 pln-cll1">
    <div class="plan-in sec-in">
      <div class="btn-box"> <a href="#" class="plan-btn-1 pl-bt2">Contractor
        Tradesman 
        Professional <span>Or</span></a> </div>
      <h2>Free</h2>
      <div class="plan-txt">For searching, Rating & Referring 
        but Can list only one skills and will
        have contact info listed.
      </div>
      <div class="wth-arrow"></div>
      <div class="plan-btn-box">
        <% if current_user.role?('business') %>
          <a class="btn btn-default btn-plan-select" href="<%= edit_user_registration_path %>">
            <span class="current-plan">Current plan</span>  
          </a>
        <%  else %>  
            <% if current_user.can_upgrade_role_to?('business')  %>
              <a data-remote="true" href="<%= change_membership_path(:upgrade => true , :membership => :business) %>" class="btn btn-warning ladda-button btn-plan-select ajax-ladda-loader" data-style="expand-right"><span class="ladda-label">Upgrade</span></a>  
            <% else %>
              <a data-remote="true" data-confirm="WARNING:: you are downgrading your plan. there is no refund for plan change. Are you sure?" href="<%= change_membership_path(:downgrade => true , :membership => :business) %>" class="btn btn-warning ladda-button btn-plan-select ajax-ladda-loader" data-style="expand-right"><span class="ladda-label">Downgrade</span></a>
            <% end %>
        <% end %>  
      </div>
    </div>
  </div>
  <div class="col-sm-4 pln-cll1">
    <div class="plan-in three-in">
      <div class="btn-box"> <a href="#" class="plan-btn-1 pl-bt3">Premium</a> </div>
      <div class="rec"><a href="#">Recommened</a></div>
      <div class="yer-txt"><span>$50</span> Yearly Subscription</div>
      
      <div class="plan-txt">For searching, Rating & Referring 
        Can list unlimited skills and will
        have contact info listed.
      </div>
      <div class="wth-arrow"></div>
      <div class="plan-btn-box"> 

        <% if current_user.role?('premium') %>
          <a class="btn btn-default btn-plan-select" href="<%= edit_user_registration_path %>">
            <span class="current-plan">Current plan</span>  
          </a>
        <%  else %>  
            <% if current_user.can_upgrade_role_to?('premium')  %>
              <a data-remote="true" href="<%= change_membership_path(:upgrade => true , :membership => :premium) %>" class="btn btn-warning ladda-button btn-plan-select ajax-ladda-loader" data-style="expand-right"><span class="ladda-label">Upgrade</span></a>  
            <% else %>
              <a data-remote="true" data-confirm="WARNING:: you are downgrading your plan. there is no refund for plan change. Are you sure?" href="<%= change_membership_path(:downgrade => true , :membership => :premium) %>" class="btn btn-warning ladda-button btn-plan-select ajax-ladda-loader" data-style="expand-right"><span class="ladda-label">Downgrade</span></a>
            <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>

