<% if @payment_detail %>
  
    var paymentModal = '';

    if ($("#paymentModal").length){
      paymentModal = $("#paymentModal");
    }else{
      paymentModal = $("<%=escape_javascript(render :partial=>'payment' )%>");
    }
    
    paymentModal.modal();
    paymentModal.on('hidden.bs.modal', function () {
      $('.modal-backdrop').remove();
    });

    paymentModal.on('shown.bs.modal', function () {
        $("#new_payment_detail").bind("ajax:beforeSend", function (e, data, status, xhr){
          var l = Ladda.create($(this).find("#new-payment-submit-btn").get(0));
          l.start();    
        }).bind("ajax:complete", function (e, data, status, xhr){
          var l = Ladda.create($(this).find("#new-payment-submit-btn").get(0));
          l.stop();    
        })
    });

<% else %>
  $("#flash-message").html("<%= escape_javascript(render('/shared/flash_messages')) %>");
  $("#flash-message").slideDown();
  <% if current_user.errors.empty?  %>
    $("#membership-plans").html("<%= escape_javascript(render('plans')) %>");
  <% end %> 
<% end %>

apply_ladda_loader();