<% if @res[:success] %>
  $("#new_payment_detail")
    .find(".alert")
    .removeClass("alert-danger")
    .addClass("alert-success")
    .html("<%= @res[:message] %>")
    .slideDown();

    paymentModal = $("#paymentModal");
    paymentModal.modal();
    paymentModal.on('hidden.bs.modal', function () {
      window.location.href = "/membership";
    });

<% else %>
  $("#new_payment_detail")
    .find(".alert")
    .removeClass("alert-success")
    .addClass("alert-danger")
    .html("<%= @res[:message] %>")
    .slideDown();
<% end %>