<% user = referal.referred_user %>
<% skill = referal.skill %>
<li class="referal" data-role="referal<%= referal.id %>" data-move-url="<%= move_referal_url(referal) %>" data-position="<%= referal.position %>">

	<div class="content-list">
	    <div class="span2 remove-link">
		    	<%= link_to "Remove" ,remove_referal_path(referal) , :remote => true , :method => :delete%>
		  </div> 

      <div class="content-body row">

	      <div class="span6">
		      <div class="left">  
		        <fiqure class="feed-thumb">
		          <%= link_to image_tag(user.profile_photo_url(:small), :alt =>"img") , user_path(user.username)%>
		        </fiqure>

		        <div class="overflow">
		            <p class="skill-name"><%= skill.name %></p> 
		        </div>
		      </div>
		     </div>  

		    <div class="span6"> 
	      	<div class="right">  
		      	<h5> <i class="famfamfam-flag-us"></i>
		        	<span><%= user.business_or_full_name.titleize %>
		        	</span>
		        </h5>

		        <div class="rating-stars">
		          <%= render :partial => 'shared/stars' , :locals => { :y_star =>  user.rating_average , :percent_rate => ((user.rating_average/5)*100), :options => {}} %>
		        </div>
		      </div>  
		    </div>  

      </div>


    </div>
</li>

<div class="saperator"></div>