<div class="row-fluid search_listbox">
  <h5>Search Results</h5>

  <div class="users_list digg_pagination">
    <%= will_paginate @users, :container => false %>
  </div>

  <%= render :partial => "user" ,:collection => @users %>

  <div class="users_list digg_pagination">
    <%= will_paginate @users, :container => false %>
  </div>
</div>

