<% content_for :head do %>
  <%= stylesheet_link_tag "referals" %>
  <%#= javascript_include_tag "referals" %>
<% end%>


<!-- Seach Form Begins -->
<%= form_tag search_referals_path, :method =>'get', html: { autocomplete: 'off' }, :id => "referals-search-form" , :remote => true do %>

  <div class="row-fluid">
    <div class="search-box span12">
      <h1>Find users to refer</h1>
      <div class="search-bar">
        <div class="search-input">
          <span class="text">
            <%= text_field_tag :skill, params[:skill],class: "span12 search_input", placeholder: "Enter skill..." ,:id=>"referals-search-input" %>
          </span>
          <span class="search-btn">
            <input type="submit" name="" value="" />
          </span>
        </div>

        <div id="referals"></div>
        
      </div>
    </div>
  </div>    

<% end %>
<!-- Seach Form End -->