<div class="list_row show_row" id="<%= dom_id(user) %>">
  
  <div class="list_fcell"> 
    <a href="#">
      <%= link_to (image_tag user.profile_photo_url(:thumb), :alt =>"img") , user_path(user.username) %>
    </a>
  </div>

  <div class="list_fcel2">

    <div class="top_rating">
      <p class="title_n"> 
        <%=  truncate(user.skills.map(&:name).join(', ') , length: 50, omission: '...') if user.skills %>
        <%#= render :partial => 'shared/stars' , :locals => { :y_star => user.rating_average , :percent_rate => ((user.rating_average/5)*100) } %>
      </p>
      <div class="clear"></div>
    </div>

    <p class="tech_n">  
      <%= show_city_and_state(user) %> 
        <%= user_schedule(user) %> 
    </p>
    <p class="tech_n">
      <%= user.name.try(:titleize)%>

      <%#= truncate(["Ruby On Rails" , "Grapgics" , "Java","J2EE","PLSQL"].join(', ') , length: 40, omission: '...') if user.skills%>
    </p>
  </div>

  <div class="list_fcel3">
    <div class="hireme">
      <p class="title_n">
        <%= render :partial => 'shared/stars' , :locals => { :y_star => user.rating_average , :percent_rate => ((user.rating_average/5)*100), :options => {} } %>
      </p>
      <div>
        <div id="add_btn_<%= dom_id(user) %>">
          <% if !@already_referred_users.include?(user) %>      
            <%= link_to "Add To List" , referals_path(:user_id => user.id,:skill_name => @skill_name) ,:class => "btn btn-success btn-lg add-pr-list" , :method => :post , :remote => true %>
          
            <span id="loder" style="display:none;">
              <%= image_tag "loader.gif" %>
            </span>
          <% else %>
            <span class="label label-info">Already added</span>
          <% end %> 
        </div>       
      </div>  
    </div>
  </div>
  <div class="clear"></div>
</div>