<% if @response[:success]%>
	$("div#add_btn_<%= dom_id(@user) %>").html("<span class='label label-info'>Added</span>");
	$('<%= escape_javascript(render(@referal)) %>')
	  .prependTo('ol.referals')
	  .hide()
	  .fadeIn();
<% else %>
	<% flash[:alert] = @response[:message] %>
	$("div#flash-message").html("<%= escape_javascript(render('/shared/flash_messages')) %>");
	$("div#flash-message").slideDown();
	setTimeout(function(){
	    $('div#flash-message').slideUp();
	}, 9000);
<% end %>