<%= render :partial => "search_form" %>

<div class="row-fluid">
  <div id="users"></div>
</div>


<%= link_to "<< Back to profile" , user_path(current_user.username) , :class =>"btn btn-info" %>

<h3 class="referal-heading">Exisitng Referals <span>(You can shift the possition (or reorder) by just drag and drop)

</span>
</h3>

<ol class="referals" data-role="activerecord_sortable"> 
 	<%= render @referals %>
</ol>
