<% if @users %>
  <div class="row-fluid search_listbox">
        <h5>Search Results</h5>

        <div class="users_list digg_pagination">
          <%= will_paginate @users, :container => false %>
        </div>

        <% @users.try(:each) do |user| %>
          <div class="list_row show_row">
            
            <div class="list_fcell"> 
              <a href="#">
                <%= link_to (image_tag user.profile_photo_url(:thumb), :alt =>"img") , user_path(user.username) %>
              </a>
            </div>

            <div class="list_fcel2">

              <div class="top_rating">
                <p class="title_n"> 
                  <%= user.username.titleize %>
                  <%#= render :partial => 'shared/stars' , :locals => { :y_star => user.rating_average , :percent_rate => ((user.rating_average/5)*100) } %>
                </p>
                <div class="clear"></div>
              </div>

              <p class="tech_n">  
                <%= show_city_and_state(user) %> 
                  <%= user_schedule(user) %> 
              </p>
              <p class="tech_n">
                Skills offering  :
                <%= truncate(user.offering_skills.map(&:name).join(', ') , length: 50, omission: '...') if user.skills%>
              </p>     

              <p class="tech_n">
              Skills looking for  :
                <%= truncate(user.barter_skills.map(&:name).join(', ') , length: 50, omission: '...') if user.skills%>
              </p>

            </div>

            <div class="list_fcel3">
              <div class="hireme">
                <%= image_tag('barter-btn-md.png' , :alt=>"img" ,:border =>"0") %>              
                <p class="title_n">
                  <%= render :partial => 'shared/stars' , :locals => { :y_star => user.rating_average , :percent_rate => ((user.rating_average/5)*100), :options => {} } %>
                </p>
                <%= link_to image_tag('hire.png' , :alt=>"img" ,:border =>"0") , user_path(user.username) ,:class => "hireme" %>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        <% end %>

        <div class="users_list digg_pagination">
          <%= will_paginate @users, :container => false %>
        </div>
  </div>
<% end %>
