<div id="barters">
  <!-- Seach Form Begins -->
  <%= form_tag search_barters_path, :method =>'get', html: { autocomplete: 'off' }, :id => "barter_search" do %>

      <div class="row-fluid">
      <div class="search-box span12">
        <h1>Barter skills</h1>
        <div class="search-bar">
          <div class="search-input">
            <span class="text">
              <%= text_field_tag :search, params[:search] || "Type skills you are looking for..." ,class: "span12 search_input" ,:id=>"autocomplete-ajax", :onblur=>"if (this.value == '') {this.value = 'Type skills you are looking for...';}",:onfocus=>"if (this.value == 'Type skills you are looking for...') {this.value = '';}" %>
            </span>
            <span class="search-btn">
              <input type="submit" name="" value="" />
            </span>
          </div>
          
        </div>
      </div>
      </div>    

  <% end %>
  <!-- Seach Form End -->

  <div class="row-fluid">
      <div id="barter-users">
      <% if !@users.blank? %>
        <%= render :partial => "search_result" %>
      <% end %>
      </div>
  </div>
</div>