<div class="">
      <h3>Riszil Sales Policies and Procedures</h3>
      <p>
       These Policies and Procedures have been established to assist the Company and its Subscribing Members in the development and success of their respective businesses. This document must be read in its entirety. Submission of the Subscribing Member Agreement and acceptance of any Rewards or Rewards constitutes acknowledgement on the part of the Subscribing Member that it has read and agrees to abide by these Policies and Procedures. 
      </p>
      <p>
		These Policies and Procedures govern the relationship between Riszil.com, LLP ("Riszil") or any of its affiliates, subsidiaries or related companies with any person or entity that engages in use or the sales of the use of Company’s website (riszil.com) a Subscribing Member or applies to become a Seller of Riszil product and/or services. Unless the context clearly indicates otherwise, the terms "you" and "your" refer to each Subscribing Member or Selling Member that executes a Subscribing Member/Selling Member Application and Agreement that is accepted by Riszil. The terms "we, us, our" and the "Company" refer to riszil.com, LLP. These Policies and Procedures, in their present form and as amended from time to time at Riszil’s discretion, are incorporated into and form a part of the Riszil Subscribing Member Agreement and Selling Member Agreement. All references to time frames are based on USA Eastern Time Zone (ET) unless otherwise stated. In the case of a dispute, these Policies and Procedures, as published and modified from time to time in English, shall be considered the standard for determining and resolving disputes and issues.  Riszil reserves the right to amend the terms and conditions of these Policies and Procedures, the Rewards Plan, and the Subscribing Member and Selling Member Agreements at any time, as it deems necessary. You will be bound by any amendments upon notification of the amendments through any of Riszil official channels of communication three days after the posting of such notice. Those channels of communication include, but are not limited to, posting of information to the Riszil Web site, e-mail to the Subscribing Member or Preferred Customer, announcements in any official Riszil newsletter or other publication or mail to the Subscribing Member or Preferred Customer at the address listed on the Subscribing Member and Preferred Customer Applications and Agreements. 
      </p>

      <h4>Section 1: Becoming an Subscribing Member</h4>
      <p>
        A. An individual may Sponsor as a Subscribing Member, (hereinafter known as “MEMBER”) by submitting to the Company a completed Subscribing Member Agreement form and by paying a minimum of $25 USD for the Membership and support system. MEMBER Agreements may be submitted via the Company website. (http://riszil.com/users/sign_up ). The Company reserves the right, in its sole discretion, to refuse any MEMBER Agreement or renewal.
      </p>
      <p>
		B. Other than the Membership fee, no product or service purchase is required to obtain and maintain a Membership. All additional purchases are optional. A MEMBER is responsible to disclose this information to all potential MEMBERs that it introduces into the Riszil Opportunity,  
	  </p>
      <p>
       C.	The applicant is deemed a MEMBER on the date the MEMBER Agreement is completed and accepted at the Company’s corporate office. An applicant must become an approved MEMBER by the last working day of the week in order to be included in that week’s Rewards and qualification computations. Upon Sponsorship, the MEMBER is bound by the regulations as set forth in the Contract. 
      </p>
      <p>
		D.	MEMBER Corporation:
			1.  	When the MEMBER applicant is a Corporation, the MEMBER Agreement must be signed by someone authorized to sign on behalf of the Corporation and must include the name of the Corporation. In addition to the MEMBER Agreement, the applying Corporation must submit to the Company a Partnership/Corporation form that includes a Federal Tax Identification Number.
			2.    	With each Partnership/Corporation form submitted, the signature and tax identification number (e.g., Social Security number) of each person having a beneficial interest in the Corporation must appear on the form. Principal Officers and Members of the board of directors of non-profit organizations are considered to have beneficial interest and are required to be listed on the Partnership/Corporation form. Corporations must follow the same Sponsorship procedures as other applicants, including submitting all necessary. A Corporation may be asked to submit a copy of the Articles of Organization, Articles of Incorporation or any other similar business document. 
	  </p>

	  <p>
	       E.	A MEMBER who wishes to change its status from that of an individual to a Corporation under the same Sponsor may do so at any time, subject to applicable law, and upon completion and submission to the Company the Partnership/Corporation form. 
	  </p>

	 <p>
	  F. 	An applicant may elect to enroll as a Selling Member.  Selling Members are required to provide a tax identification number and do qualify to earn Rewards. They are not eligible to place ads for a trade or business.  Selling Members must make a minimum of two (2) sales per month in order to remain active.  While a Selling Member is “inactive,” there will be no Rewards earned during the inactive period.  If a Selling Member has no sales within a ninety (90) day period, the Selling Member account will be terminated.  Selling Members may become Subscribing Members at any time by paying the necessary Membership Fee.  Subscribing Members do not have a minimum requirement of sales.  Any agreement by Member to provide services to another Member is strictly between those parties.  The Company is not a part of any agreement between Members.
	  </p>

	<h4>Section 2: MEMBER Agreement and Restrictions </h4>
	<p>
		A.	A MEMBER must comply completely with all terms and conditions of the Contract.

B.	A MEMBER must be eighteen (18) years or older at the time of Sponsorship. 
C. 	A MEMBER Agreement that is incomplete or incorrect in any respect may be considered invalid. 
D.	A MEMBER is prohibited from submitting any false or inaccurate information to the Company. Sponsoring any individual as a MEMBER without the individual's knowledge and consent is prohibited. The Company reserves the right to immediately terminate a MEMBER or declare the MEMBERSHIP void from its inception, if the Company determines that false or inaccurate information was provided.
E.	A MEMBER must submit a MEMBER Agreement in its country of residence (Currently, only USA). Upon request of the Company, a MEMBER may be required to provide proof of residency and proof of ability to legally conduct business in the country that corresponds with the MEMBER Agreement. 
F.	A MEMBER must inform the Company of any changes affecting the accuracy of the MEMBER Agreement or the Partnership/Corporation form. Changes must be submitted on a new MEMBER Agreement or Partnership/Corporation Form with “Amended” checked at the top. The Company reserves the right to charge a fee to change a MEMBER identification number. Changes to address, telephone number, addition of person(s), or the correction of clerical error(s) will not be assessed a charge.
G.	A MEMBER identification number will be issued upon the Company’s acceptance of the MEMBER Agreement, and payment of any applicable fees.  Social Security and Federal Tax Identification Numbers for Corporations (W-9) must be provided to the Company for tax and identification purposes. All personal information will be kept strictly confidential under the Company’s privacy clause. 
H.	Any agreement by Member to provide services to another Member is strictly between those parties.  The Company is not a part of any agreement between Members.

	</p>  

	<h4>Section 3: MEMBER Status as an Independent Contractor </h4>
	<p>
		A. 	A MEMBER is an independent contractor.  A MEMBER is not an agent, employee, partner, or joint venture with the Company and is prohibited from representing itself as such.  A MEMBER has no authority to bind the Company to any obligation. The Company does not dictate MEMBER hours, expenditures, or plans, etc. No printed or verbal representations may be made stating or implying otherwise. A MEMBER may establish its own selling or marketing methods inasmuch as they abide by all Company Policies.  A MEMBER is responsible for its own business decisions and expenditures and obligations. 
B.	A MEMBER is responsible for paying its own self-employment taxes, federal income taxes and other taxes as required by law. A MEMBER is personally responsible for compliance with all federal, state, and local laws and regulations. 
C.	A MEMBER must represent the Company products, services, and opportunity ethically and professionally. 
1. No representation or sales offer may be made relating to products and services which are not accurate and truthful as to price, grade, quality, performance, and availability. 
2.	No misstatement or misrepresentation of any kind may be made by the MEMBER. 
D.	A MEMBER may not rely upon the Company or any of its divisions to provide legal, tax, financial, or other professional advice. 
	</p>

	<h4>Section 4: Renewal and Termination</h4>

	<p>A. A SUBSCRIBING MEMBERSHIP extends for one (1) year from the acceptance date. For each subsequent year, a renewal of the MEMBERSHIP is required. The Company assesses a minimum renewal administrative fee of 25 USD per Subscribing MEMBERSHIP. There is not fee for a Selling Membership.  Subscribing Membership includes those who are “users” of the website services and does not include a requirement of advertising or promotion of a Members services and/or products.  The MEMBER may elect to have the Company automatically debit the renewal fee (if any) from the method of payment identified on the MEMBER Agreement, or from earned Rewards(if not specified the funds will be deducted from the Rewards first, with the balance coming from your stored payment method). The MEMBER must notify the Company at least thirty (30) days prior to the anniversary date of Sponsorship if renewal is not desired to avoid the automatic renewal. Failure to collect this fee immediately does not waive the Company's right to collect. If the renewal fee is not collected, it will be assumed by the Company that the MEMBER is no longer involved in participation in the Riszil Rewards program.  This will result in the loss of the downline organization previously relied upon as a MEMBER.  Selling Members do not pay a fee for membership, but are required to meet minimum sales requirements in order to remain “active.”


B. 	Selling Members must make a minimum of two (2) sales per month in order to remain active.  While a Selling Member is “inactive,” there will be no Rewards earned during the inactive period.  If a Selling Member has no sales within a ninety (90) day period, the Selling Member account will be terminated.  
A MEMBER may terminate at any time and for any reason by submitting a notice through the website to the Company of intent to terminate. The written notice must be signed by all participants of the MEMBERSHIP. Termination becomes effective as of the date the notice is received by the Company.  Certain obligations regarding confidentiality of information, and otherwise as specified, survive the termination of the Contract. 
	</p>


<h4>Section 5: Sponsorship</h4>
<p>A. 	All active MEMBERs in good standing, as determined by the Company, have the right to Sponsor other individuals into the Riszil Opportunity.  Upon acceptance by the Company, the applicant is placed in the “Downline” Organization of the Sponsor listed on the MEMBER Agreement.
B.	The Sponsor listed on the MEMBER Agreement will receive Rewards as set forth in the Rewards plan, as it is published on the Company website.   All Rewards will be paid out through the Sponsorship tree.
C. 	When sharing the Riszil Opportunity with prospects, MEMBERs are required to present the program in its entirety, without omission, distortion or misrepresentation. Any additional offers or agreements made by a MEMBER in connection with the Riszil Opportunity are prohibited and may result in termination of the MEMBER. 
</p>

<h4>Section 6: Changes in MEMBERSHIP Status </h4>
<p>
	A.	A MEMBER may not convey, sell, assign, or otherwise transfer any right or position conveyed by the MEMBER Agreement to any person or 

B.	A MEMBER must inform the Company of any changes affecting the accuracy of the MEMBER Agreement or Partnership/Corporation Form. Changes to an organization must be submitted on a new MEMBER Agreement or Partnership/Corporation Form with “Amended” checked at the top. When submitted to the Company, the document must include all of the participants in the organization and be signed by all parties. 
</p>
<h4>Section 7: Rewards Payment </h4>
<p>
	A.		A MEMBER must be active and in good standing in order to qualify for Rewards and bonuses. So long as the MEMBER complies with the terms of the Contract, the MEMBER is eligible to receive Rewards in accordance with the Rewards Plan.  
B.		Payouts will be issued weekly. Please refer to the Company Website for a more detailed study of the Riszil Rewards Plan.  Upon request by the Member, MEMBERs can be issued monthly payments. Rewards shall be paid through Pay Pal Mass Pay to Member’s Pay Pal account each month.  If Member requires payments more frequently, Member will be charged a service charge of 2 USD per transaction for anything in excess of once per calendar month.  Any Rewards paid must be 100 USD or greater.  Payments must be requested through the Company website.  Payouts will not be more frequent than weekly.  Member must request any payout before it will be paid.  More than one payout per month will be subject to the service charge of 2 USD.  All payouts are through the PayPal system.
C.     A MEMBER receives Rewards for sponsoring other SUBSCRIBING MEMBERs. For each Subscribing Member sponsored by a Member, the sponsoring Member will be entitled to Rewards in the amount of 5 USD.  
For each Member that is sponsored by those Members directly sponsored by the original Sponsoring Member, Member will receive an additional amount of 5 USD.  
The Company may periodically advertise and promote additional promotional opportunities relating to the affiliate Rewards, but such promotions will be limited in time and scope as set forth on the Company website.
D.	A new MEMBER’s primary source of business income is derived from selling its products and services in the market place provided on the Company website.  Members can earn additional Rewards as set forth in 7C, above. 
E.		A MEMBER is neither guaranteed a specific income nor assured any level of profit or success. A MEMBER’s profit and success can come only through the successful sale of products or services and the sales of Memberships through the Rewards program. All success is based primarily on the efforts of the MEMBER. 
F.	 	If a MEMBER believes any errors have been made regarding Rewards, bonuses or charges, the MEMBER must notify the Company within thirty (30) days of the error or incident in question. The Company will not be responsible for any errors, omissions or problems not reported within this time period. 
G.		Manipulation of the Riszil Rewards Plan is not permitted and will result in disciplinary action. 
H.	Bonuses and Rewards are paid in the name of the Corporation listed on the MEMBER Agreement. When no Corporation is listed, Rewards are paid to the first name listed on the MEMBER Agreement. 
I.	A MEMBER authorizes the Company to deduct fees, fines, and/or penalties from the Rewards of the MEMBER as deemed at the sole discretion of the Company. 
J.	In the event that a Reward payment must be reissued to a MEMBER, the Company will charge the MEMBER a fee of 25 USD. There is no charge for payments reissued due to Company error.
K.	Riszil has the right to alter or change the Riszil Rewards Plan as deemed necessary and proper.
</p>

<h4>Section 8: Disciplinary Proceedings</h4>
<p>
	A.	A MEMBER’s rights relational to the Contract are dependent on its compliance and continued performance in accordance with the terms of this Contract. Violation of any term of the Contract will result in the withdrawal of the MEMBER’s rights. The Company reserves the right to determine when a policy violation has occurred and to discipline, terminate or exercise any other disciplinary action as deemed appropriate. In the event of a violation, the Company may take one or more of the following corrective measures: 
	1.	Monitor the MEMBER’s activities for a specific period of time to ensure compliance with all Policies;  
2.	Issue a written notification of the violation and of the Company’s intent to discontinue rights and proceed with further disciplinary action;
3.	Request that the MEMBER take immediate corrective measures and offer additional assurances that the MEMBER will remain in compliance;
4.	Deny privileges to the MEMBER that would otherwise be granted such as participation and/or promotion in the Riszil Rewards Plan, the ability to Sponsor other MEMBERs, the ordering of products and services, and the participation in Company sponsored events;
5.	Exact a fine with the amount at the discretion of the Company dependent on the severity of the breach of Contract;
6.	Adjustment of the MEMBER status or the reassignment of part or of all of the Downline Organization;
7.	Termination of the MEMBER. Upon termination, the MEMBER must immediately cease to represent itself as a MEMBER of the Company.
B.	While an alleged violation is being investigated, the Company reserves the right to suspend the rights of the MEMBER which may include withholding Rewards, and limiting Sponsorship rights. The Company may request additional information from the MEMBER in relation to the alleged violation. The Company will then make a decision based on the information available and presented. 
C.	The Company will evaluate each violation on a case-by-case basis and will make an appropriate decision based on all information available. Disciplinary actions may not be the same for similar violations. The Company will promptly notify the MEMBER of its decision. The MEMBER reserves the right to appeal the decision. 
D.	The Company may attribute to the MEMBER the non-compliant activity of any participant in the MEMBER, including all those listed on the Partnership/Corporation form and all remedies will be applied to all Members of the MEMBER. 
E.	Reports of policy violations must be brought to the attention of the Company within ninety (90) days of the initiation of the alleged policy violation. Policy violations reported after that time period will not be reviewed so as not to disrupt the ongoing business activities of MEMBERs. All reports of policy violations must be submitted to the Company in writing. 
</p>
<h4>
	Section 9: Confidentiality- Proprietary Information
</h4>
<p>
	A.	All information provided by an applicant on a MEMBER Agreement will be used solely for the purposes of appointing that applicant a MEMBER and for related activities of that MEMBER.

B. 	All information held by the Company with reference to Downline Organizations or Upline MEMBERs, including MEMBER names and contact information, is the confidential, proprietary property of the Company and all MEMBERs are required to treat it as such. The MEMBER maintains no ownership with reference to this information and/or data. Contact information will be available for business use only and will not be provided to any other party. It may not be sold, disseminated, or provided to any other party. Improper and unauthorized use of confidential information by a MEMBER may be cause for termination and/or any other legal remedy available to the Company. Should a MEMBER violate the terms of this confidentiality agreement, the MEMBER will be subject to all legal remedies available to the Company, including, but not limited to, damages in a minimum amount of three (3) times the total Rewards earned by the MEMBER in the preceding year prior to the time of the breach as liquidated damages; protective or restraining orders; or actual damages proven at the time of trial.  The Company reserves the right to further limit the access of personal information of MEMBERs.

C.	Violation of this confidentiality requirement is grounds for immediate termination of its MEMBERSHIP and may require injunctive relief as an appropriate remedy under applicable law. These obligations survive the termination of a MEMBER.
</p>

<h4>Section 10: Unauthorized Territorial Expansion </h4>

<p>
	A.	A MEMBER is not permitted to operate in any country or market that is not officially announced by the Company as open for business. This includes shipping or importing products, sales tools or services into an unauthorized country, unless the product is designated for personal use.  

B.	A MEMBER has no authority to take any steps in any country or other political jurisdiction to introduce or further the Company’s business. This includes conducting sales, Sponsorship or training meetings, Sponsoring or attempting to Sponsor potential Customers or MEMBERs, or conducting any other activity for the purpose of selling Riszil Company products or promoting the Riszil Opportunity. A MEMBER may not export or sell directly or indirectly to others who will ultimately export products and services to any unauthorized country.  

C.	The Company recognizes no exclusive territories. MEMBERs will not be limited from conducting business in any state, country, or jurisdiction declared officially opened by the Company and within which the MEMBER is legally qualified to do business.  A listing of the countries opened for business will be placed on the Company website www.riszil.com/countries .  The Company reserves the right to refuse shipment into any country or jurisdiction that is not opened by the Company. 

D.	A MEMBER has no authority to take any steps in any country to register or reserve Company names, trademarks, or trade names; to secure approval for products or business practices; or to establish business or governmental contacts of any kind on behalf of the Company. A MEMBER agrees to assign immediately any registration of Company names, trademarks, service marks or trade names registered or reserved in violation of this section to the Company.

E.	Each country has rules and procedures unique to that country. MEMBERs must follow the rules established for legal operation in the country in which they reside or in which they conduct business.
</p>

<h4>
	Section 11: General Business Information
</h4>
<p>
	A.	A MEMBER shall comply with all country, federal, state and municipal laws relating to its business and shall not engage in any unlawful or illegal trade practices or business activity. A MEMBER shall conduct its business in a manner that reflects the highest standards of honesty, integrity and responsibility towards others.

B.	A MEMBER must conduct all activity in the best interests of the Company. Any personal disputes between MEMBERs must be resolved quickly and in the best interests of the Company.
C.	A MEMBER is responsible for its own actions, including all statements both written and verbal, in relation to the Company and the MEMBER. The MEMBER agrees to indemnify and hold the Company harmless from any and all liability including judgments, civil penalties, refunds, attorney fees, court costs and other business loss incurred by the Company as a result of the MEMBER’s non-compliance with regulations as outlined in this Contract.  This provision survives termination of the MEMBER. 
D. 	Each MEMBER shall defend and hold the Company harmless from any claim, damages, or liability arising out of a MEMBER’s business or advertising, or resulting from statements that may be illegal and or claims not approved by the Company.

E.	The terms of the Contract, as set forth herein, shall be deemed severable. The invalidity or unenforceability of any provision shall not affect the validity or enforceability of any other provisions.

F.	A MEMBER may not solicit legal, financial, or other professional advice of the Company or its employees. Company employees cannot be held responsible for any advice given as it is the responsibility of the MEMBER to build and manage its own business.

G.	When a MEMBER has a grievance or complaint with another MEMBER relating to their respective businesses, the complaining MEMBER should first report the problem to the Sponsor who will review and attempt the resolve the matter. If the matter cannot be resolved, the problem should be reported in writing to the Company.  The Company will review all information and attempt to resolve the problem as appropriate. 

H.	 The Company and a MEMBER may, upon mutual written agreement, resolve any breach of this Contract by binding arbitration. The MEMBER waives all rights to trial by jury or to any court. The arbitration proceedings shall take place in accordance with the existing rules of the American Arbitration Association. 

I.	Any waiver by the Company of any breach of this Contract must be in writing and signed by an authorized Company officer. Waiver by the Company of any breach of the Contract by a MEMBER shall not operate or be construed as a waiver of any subsequent breach.

J.	Member shall not engage in the distribution of any information that is disparaging or defamatory with respect to the Company.
</p>
<h4>Section 20: Definitions</h4>
<p>
	Authorized Country: Any country designated in writing as officially open for business to all MEMBERs.

Affiliate Rewards:  Compensation paid by the Company to a MEMBER based on the sponsorship of affiliates (Members) into a MEMBER’s Downline Organization. To be eligible for any Rewards a MEMBER must be in good standing with the Company.  All Member Rewards paid to Members shall be done through Pay Pal services – requiring that Member have an established account with Pay Pal.  Member will be required to provide Company with the Member’s Pay Pal account information.

Company: As used throughout Contract to mean riszil.com, LLP. 

MEMBER Contract: The agreement between a MEMBER and the Company composed of these Policies and Procedures, the Rewards Plan, and the MEMBER Agreement. The Contract is the complete and only agreement between the Company and a MEMBER.

Corporation: Any type of business association authorized under the laws of the jurisdiction in which it was organized. This includes, but is not limited to, legally formed: corporations, partnerships, trusts, and limited-liability companies.

Downline Organization: An organization comprised of MEMBERs who have been personally sponsored or Sponsored by those in a direct chain of Sponsorship to any particular MEMBER.

Sponsor: A MEMBER who personally brings another MEMBER into the company. The Sponsor receives the Rewards for any new MEMBER it Sponsors as outlined in the Rewards Plan. 

Riszil Opportunity: the possibility for success and compensation through participation in the Rewards Plan.  Also includes Members ability to market its own products and/or services through Company’s online market place.

MEMBER Activity: Actions deemed by the Company, in its sole discretion, to be a meaningful promotion of the Company's business. Includes, but is not limited to, signing a MEMBER Agreement, advertising and marketing of Member products and/or services, selling or displaying Member product and/or services, sponsoring new MEMBERs, and hosting or presenting in a Company-related meeting.

MEMBER Agreement: The agreement submitted by an applicant to become a MEMBER. In signing the
MEMBER Agreement, an applicant certifies that it has read and will abide by the terms and conditions of the Contract.

Membership: The entity created when a MEMBER is sponsored.  This may consist of more than one MEMBER. 

Member: An individual or entity who, through the entering of an agreement, is eligible to participate in the Rewards Plan, as qualified.  This term will refer to both Subscribing Members and Selling Members.

Selling Member: A Person who has entered into the Contract with the Company.  A SELLING MEMBER is authorized to participate in the Rewards Plan, as qualified, but does not have the ability to market its products and/or services through the Company online market place (website). 

Subscribing Member: A Person who has entered into the Contract with the Company and has paid the annual Membership fee.   A SUBSCRIBING MEMBER is authorized to participate in the Rewards Plan, as qualified, as well as in the use of Company’s online market place (website) for the promotion of Member’s products and/or services. 

Riszil Rewards Plan: The specific plan utilized by the Company that details the requirements and benefits of the Riszil Rewards structure for MEMBERs through affiliate participation payments, as indicated on the Company website. 

Riszil Policies and Procedures: The policies governing how a MEMBER is to conduct its business as set forth in this document and defining all rights and relationship of the parties. 

Sponsor: Any MEMBER standing as the Upline to other MEMBERs directly underneath it in the Sponsor MEMBER Downline Organization. 

Upline: The single line of Placement and/or Sponsorship extending up from the MEMBER to the Company. 
</p>

</div>


<!-- <div class="">
  <label>
    <%#= f.check_box :terms_of_affiliate %> Agree to the Sales terms agreement ? 
  </label>
</div>
-->