<div class="row">
  <%= f.fields_for :payment_detail  do |pd| %>
    <div class="col-sm-6">
      <div class="row">
        <p>Card type </p>
        <%= pd.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] , {},:class=>"form-control"%>
      </div>

      <div class="row">
        <p>Card verification value (CVV)  </p>
        <%= pd.text_field :card_verification , :class=>"form-control" %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="row">
        <p>Card number </p>
        <%= pd.text_field :card_number , :class=>"form-control"%>
      </div>

      <div class="row">
        <p>Card expires on  </p>
        <%= pd.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true, :class =>"select3 list_s1 form-control", :order => [:day, :month, :year], :date_separator => "" %>
      </div>
    </div>
  <% end %>
</div>