<div>
  <%= simple_form_for(resource, html: { class: 'form_for_client_side_validation', :controllers => {:registrations => "newregistrations" }}, :as => resource_name, :url => registration_path(resource_name), :validate => true) do |f| %>
   
   <%= render :partial => 'shared/error_messages', :locals => {:target => resource }%>

    <% if params[:forwarded_token].blank? %>
      <%= render :partial => 'promo_box', :locals => {:form_builder => f }%>
    <% else %> 
      <%= hidden_field_tag :forwarded_token , params[:forwarded_token]%>
    <% end%> 

    <%= f.hidden_field :invite_token if params[:invite_token].present? %>

    <%= render :partial => 'user_detail', :locals => {:f => f}%>

    <%= render :partial => 'payment_detail', :locals => {:f => f}%>

    <div class="sign-bnt-row free-user-fields">
      <%= button_tag(type: "submit", :name=>"commit",class: "btn_r1") do %>
           <img src="/assets/register/icon-1.png"  alt="img" />Sign up</button>
      <% end %>
    </div>

  <% end %>
</div>
