<div id="payment_detail" class="payment-fields" >
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-payment-tabs" role="tablist">
      <li>
        <a href="#credit_card" role="tab" data-toggle="tab" data-payment="credit_card">
          <icon class="fa fa-credit-card"></icon> Credit Card
        </a>
      </li>
      <li>
        <a href="#checkout" role="tab" data-toggle="tab" data-payment="checkout">
          <%= image_tag "paypal-logo.png",  alt: "paypal button" %>
        </a>
      </li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade active in" id="credit_card">
        <div class="tab-pane-content">
          <h3>Card Information</h3>
          <%= render :partial => 'card_detail',:locals => {:f => f} %>
            <div class="sign-bnt-row">
              <%= button_tag(type: "submit", :name=>"commit",class: "btn_r1") do %>
                  <img src="/assets/register/icon-1.png"  alt="img" />Sign up
              <% end %>
            </div>
        </div>
      </div>
      <div class="tab-pane fade" id="checkout">
        <div class="tab-pane-content">
          <h3>Express checkout</h3>
          <div class="">
            <%= button_tag(type: "submit", :name=>"commit", class: "paypal-btn") do %>
              <%= hidden_field_tag :express_checkout , true  %>      
              <%= image_tag "paypal-checkout.gif",  alt: "paypal button" %>
            <% end %>
          </div>
        </div>  
      </div>
    </div>
</div>