<div class="paln-box">
  <div class="col-sm-4 pln-cll1">
    <div class="plan-in">
      <div class="btn-box"> <a href="#" class="plan-btn-1">Homowner
        service seeker</a> </div>
      <h2>Free</h2>
      <div class="plan-txt">For Searching, Rating & Referring <span>(no skill or conact info listed)</span></div>
      <div class="wth-arrow"></div>
      <div class="plan-btn-box"> 
        <%= link_to "Select plan" , new_user_registration_path(:plan => "basic"),:class=>"plan-btn" %>
      </div>
    </div>
  </div>
  <div class="col-sm-4 pln-cll1">
    <div class="plan-in sec-in">
      <div class="btn-box"> <a href="#" class="plan-btn-1 pl-bt2">Contractor
        Tradesman 
        Professional <span>Or</span></a> </div>
      <h2>Free</h2>
      <div class="plan-txt">For searching, Rating & Referring 
        but Can list only one skills and will
        have contact info listed.
      </div>
      <div class="wth-arrow"></div>
      <div class="plan-btn-box">
        <%= link_to "Select plan" , new_user_registration_path(:plan => "business"),:class=>"plan-btn" %>
      </div>
    </div>
  </div>
  <div class="col-sm-4 pln-cll1">
    <div class="plan-in three-in">
      <div class="btn-box"> <a href="#" class="plan-btn-1 pl-bt3">Premium</a> </div>
      <div class="rec"><a href="#">Recommened</a></div>
      <div class="yer-txt"><span>$50</span> Yearly Subscription</div>
      
      <div class="plan-txt">For searching, Rating & Referring 
Can list unlimited skills and will
have contact info listed.
</div>
      <div class="wth-arrow"></div>
      <div class="plan-btn-box">         
        <%= link_to "Select plan" , new_user_registration_path(:plan => "premium"),:class=>"plan-btn" %> 
      </div>
    </div>
  </div>
</div>

