<div class=" col-sm-12 row cmt-row2">
  <div class="col-sm-6 ref-inp">
    <span>Referrer Email</span>
    <%= form_builder.email_field :affiliate_email  , :class=> 'form-control' , :value=> affiliate_email %>
  </div>

  <div class="col-sm-6 ref-2">
<!--     <div class="row">
      <div class="col-sm-4">
        <p class="lead-box">
          <%#= form_builder.check_box :lead_email_present , :class=>"lead_email_present" , :id=>"lead_email_present" %>
          <label for="lead_email_present">Lead Email</label>
        </p>
      </div>

      <div class="col-sm-8">  
        <%#= form_builder.text_field :lead_email  , :class=> '' , :class=>"lead_email form-control" , :style => form_builder.object.lead_email_present.blank? ? 'display:none;' : 'display:block;' %>
      </div>  
    </div> -->
  </div>


</div>
