<div id="w9_form_detail_state_code_wrapper">
  <% parent_region ||= params[:parent_region] %>
  <% target ||= @target %>
  <% country = Carmen::Country.coded(parent_region) %>
	
  <% if country.nil? %>
    <!-- <em>Please select a country above</em> --> 
  <% elsif country.subregions? %>
   State :
    <%= subregion_select(:user, :state_code, parent_region) %>
  <% else %>
    <%= text_field(:user, :state_code) %>
  <% end %>
</div>