<div class="col-sm-12 row cmt-row">
   
  <div class="btn-box">
    <label for='user_membership_basic' class="membership-plans" data-membership="basic" data-name="<%= Role::ROLES[:basic][:title].try(:upcase) %>"
    data-toggle="tooltip" title="For searching, Rating & Referring </br>( no skill or contact info listed)" > 
      <span class="btn-basic hide-btn <%= resource.role?(Role::ROLES[:basic][:name]) ? 'membership-selected' : '' %>">
        <span class="btn-icon">
          <%= image_tag "register/icon-1.png" %>
        </span>
        Homeowner - Service Seeker
        <span class="free-svc"> (Free for Service Seekers)</span>
      </span>
    </label>   
  </div>

  <div class="btn-box">
   <label for='user_membership_business' class="membership-plans" data-membership="business" data-name="<%= Role::ROLES[:business][:title].try(:upcase) %>" data-toggle="tooltip" title="Same as service seekers but can list one skill and will have contact info listed.">
    <span class="btn-basic  hide-btn <%= resource.role?(Role::ROLES[:business][:name]) ? 'membership-selected' : '' %>">
      <span class="btn-icon">
        <%= image_tag "register/icon-2.png" %>
      </span>
      Contractor, Tradesman or Professional
      <span class="free-svc"> (Free for Professionals)
        <!-- <strong>(Free for a limited time)</strong>  -->
      </span>
    </span>
   </label>
  </div>

  <div class="btn-box">
    <label for='user_membership_premium' class="membership-plans" data-membership="premium" data-section="paid-user" data-name="<%= Role::ROLES[:premium][:title].try(:upcase) %>" data-toggle="tooltip" title="Same as professionals but with unlimited skills and will have contact info listed." >  
      <span class="btn-basic hide-btn <%= resource.role?(Role::ROLES[:premium][:name]) ? 'membership-selected' : '' %>">
        <span class="btn-icon"><img src="/assets/register/icon-3.png" alt="icon" /></span>
        Premium
        <span class="free-svc">$50.00 yearly subscription 
        <!-- <strong>($50.00 for a limited time)</strong> -->
        </span>
      </span>
    </label>   
  </div>

</div>
    
<div class="arrow-txt">
  YOUR SELECTED PLAN: <strong id="membership-name"><%= "#{Role::ROLES[resource.role_name.to_sym][:title].try(:upcase)}"  %></strong>
</div>