<% content_for :head do %>
    <%= stylesheet_link_tag "sign_up" %>
    <%#= javascript_include_tag "users" %>
<% end %>

<div class=" col-sm-12 row formbox">
  <h3>User Information</h3>

  <%= f.radio_button :membership, Role::ROLES[:basic][:name],:checked => resource.role?(Role::ROLES[:basic][:name]) %>
  <%= f.radio_button :membership, Role::ROLES[:business][:name],:checked => resource.role?(Role::ROLES[:business][:name]) %>
  <%= f.radio_button :membership, Role::ROLES[:premium][:name],:checked => resource.role?(Role::ROLES[:premium][:name]) %> 

    <%= f.fields_for :photos, f.object.photos.build(:is_profile_photo => true)  do |photo| %>
      <div class="inp-m-row">
        <div class="col-sm-6 frm-left"> 
          <p>Avatar </p>
          <%= photo.file_field :name, :onchange=>"readURL(this)", :class=>"form-control" %>
          <%= photo.hidden_field :is_profile_photo %>
        </div>

        <div class="col-sm-6 frm-left" id='uploaded-image'></div>
        
      </div>
    <% end %>  
      
    <div class="inp-m-row">
      <div class="col-sm-6 frm-left"> 
        <p>Email </p>
        <%= f.email_field :email, :required => true ,:class=>"form-control" %>
      </div>

      <div class="col-sm-6 frm-left paid-user-fields">
       <p>Business name &nbsp;</p>
        <%= f.text_field :business_name,:class=>"form-control" ,:data => {:toggle=>"tooltip"} ,:title=>"(Allowed: alphabet , number , spaces and underscore) " %>
      </div>
    </div>

    <div class="inp-m-row">
      <div class="col-sm-6 frm-left"> 
        <p>First name  </p>
        <%= f.text_field :first_name,:class=>"form-control" %>
      </div>

      <div class="col-sm-6 frm-left">
        <p> Last name</p>
      <%= f.text_field :last_name,:class=>"form-control"%>
      </div>
    </div>

    <div class="inp-m-row">
      <div class="col-sm-6 frm-left"> 
        <p>Password  </p>
        <%= f.password_field :password, :required => true,:class=>"form-control" , :id => "paid_user_password" %>
      </div>

      <div class="col-sm-6 frm-left">
        <p> Password confirmation </p>
      <%= f.password_field :password_confirmation, :required => true ,:class=>"form-control", :id => "paid_user_password_confirmation" %>
      </div>
    </div>

    <div class="inp-m-row paid-user-fields">
      <div class="col-sm-6 frm-left"> 
        <p>Address line1</p>
        <%= f.text_field :address_1 ,:class=>"form-control"%>
      </div>

      <div class="col-sm-6 frm-left">
        <p>Address line2</p>
      <%= f.text_field :address_2 ,:class=>"form-control"%>
      </div>
    </div>


    <div class="inp-m-row">
      <div class="col-sm-6 frm-left"> 
        <p>Postal code</p>
        <%= f.text_field :postal_code ,:class=>"form-control user_postal_code"%>
      </div>

      <div class="col-sm-6 frm-left">
        <p>City</p>
      <span id="user_city">Please slect valid zipcode first</span>
      </div>
    </div>

    <div class="inp-m-row paid-user-fields">
      <div class="col-sm-6 frm-left"> 
        <p>State</p>
        <%#= render partial: 'shared/subregion_select', locals: {parent_region: f.object.country_code , target: "user" } %>
        <%= subregion_select(f.object.class.name.underscore , :state_code, "US",{},:class=>"form-control") %> 
      </div>

      <div class="col-sm-6 frm-left">
         <p>Country</p>
      <%#= f.country_select :country_code,  id: "select", priority: %w(US CA), prompt: 'Please select a country' %> 
      <p class="country-name">
        <i class="famfamfam-flag-us"></i>  
        <%=  "United states" %>
      </p>
      <%= f.hidden_field :country_code , :value => 'US' %>
      </div>
    </div>

    <div class="inp-m-row paid-user-fields">
      <div class="col-sm-6 frm-left"> 
        <p>Phone</p>
        <%= f.text_field :contact_phone , :class => "phone form-control" , :placeholder => "999-999-9999"%>
      </div>

      <div class="col-sm-6 frm-left">
       <p>Mobile</p>
      <%= f.text_field :cell_phone , :class => "form-control phone", :placeholder => "999-999-9999"%>
      </div>
    </div>
    
    <div class="inp-m-row paid-user-fields">
      <div class="col-sm-6 frm-left"> 
        <p>Skill</p>
        <div class="sing_up_r">    
          <%= f.text_field :skill_tokens , :data => {:load => resource.skills} , :class=> 'form-control'%>
        </div>
      </div>

      <div class="col-sm-6 frm-left">
        <p>Website&nbsp;<span class="hint lowercase">(&nbsp;http://www.example.com&nbsp;) </span></p>
        <%= f.text_field :website , :class => "form-control" %>
      </div>

    </div>

</div>

<!-- <div class="col-sm-12 row formbox paid-user-fields" id="schedule-options">
  <%#= f.fields_for :schedule do |schedule| %> 
    <div class="col-sm-6 frm-left">
      <div class="inp-m-row sch-row">
        <span>Schedule</span>

        <div class="sadl">
          <%#= schedule.radio_button :fulltime , true %>
          <%#= schedule.label :fulltime_true , "Full Time" %>
        </div>
        <div class="sadl">
          <%#= schedule.radio_button :fulltime , false %>
          <%#= schedule.label :fulltime_false , "Part Time" %>
        </div>

      </div>
    </div>  

    <div class="col-sm-6 frm-right">
      <div id="part-time-shedules" class="inp-m-row txt-day" style="display:none;">
        <div class="day-n"> 
          <label>    
            <%#= schedule.check_box :nights %>  
            <%#= schedule.label :nights , "Nights" %>  
          </label>
        </div>
        <div class="day-n"> 
          <%#= schedule.check_box :weekends %>  
          <%#= schedule.label :weekends , "Weekends" %>
        </div>
      </div>
    </div>  
  <%# end %>  
</div> -->

<%= render :partial => "terms"%>

<div class="remember_me">
  <label>
    <%= f.check_box :terms_of_service %> Terms of service
  </label>
</div>