<% content_for :head do %>
  <%= stylesheet_link_tag "sign_up" %>
  <%#= javascript_include_tag "users" %>
<% end %>

<div class="signup_box">
  <%= nested_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put },  :validate => true) do |f| %>

    <%#= f.error_notification %>
    <%= render :partial => 'shared/error_messages', :locals => {:target => resource}%>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <!-- First Div start -->
    <div class="sign_up_in">
       <h2>Edit <%= resource_name.to_s.humanize %></h2>

        <div class="sing_up_r">
          <div class="sing_up_cell1 curve_box profile_theme">
            <h4>Select your profile theme</h4>
            <div class="sing_up_r">    
              <%= f.select :profile_theme , User::PROFILE_THEME.keys.map{|pt| [pt,pt]} %>
            </div>
          </div>
           <div class="clear"></div>
        </div>  
        <div class="clear"></div>

        <%= f.fields_for :photos, f.object.photos.build(:is_profile_photo => true) do |photo| %>
          <div class="sing_up_r">

            <div class="sing_up_cell1">
              <p>Avatar </p>
              <%= photo.file_field :name, :onchange=>"readURL(this)", :class=>"form-control", validate: false %>
              <%= photo.hidden_field :is_profile_photo %>
            </div>

            <div class="sing_up_cell1" id='uploaded-image'>
              <%= image_tag f.object.profile_photo_url(:profile) if f.object.profile_photo.present? %>
            </div>

            <div class="clear"></div>
          </div>
        <% end %>

        <div class="clear"></div>

        <div class="sing_up_r">

          <div class="sing_up_cell1">
            <p>Email</p>
            <%= f.email_field :email %>
            <%= check_box_tag 'user[settings][email]', true, f.object.settings[:email], data: {toggle: "tooltip"}, title: "Enable visibility on profile page" %>
          </div>
          <% unless f.object.basic_user? %>
            <div class="sing_up_cell1">
              <p>Business name&nbsp;<span class="hint lowercase">(&nbsp;Allowed: alphabet , number , spaces and underscore &nbsp;) </span></p>
                <%= f.text_field :business_name %>
            </div>
          <% end %>  
          <div class="clear"></div>
        </div> 

        <div class="sing_up_r">
          <div class="sing_up_cell1">
            <p>First name</p>
           <%= f.text_field :first_name %>
          </div>
          <div class="sing_up_cell1">
            <p>Last name</p>
              <%= f.text_field :last_name %>
          </div>
          <div class="clear"></div>
        </div>

        <%= render :partial => 'shared/location', locals: { f: f } %>

        <div class="sing_up_r">
          <div class="sing_up_cell1">
             <p>Phone</p>
             <%= f.text_field :contact_phone , :class => "phone"%>
             <%= check_box_tag 'user[settings][contact_phone]', true, f.object.settings[:contact_phone], data: {toggle: "tooltip"}, title: "Enable visibility on profile page" %>
          </div>

          <div class="sing_up_cell1">
             <p>Mobile</p>
             <%= f.text_field :cell_phone , :class => "phone"%>
             <%= check_box_tag 'user[settings][cell_phone]', true, f.object.settings[:cell_phone], data: {toggle: "tooltip"}, title: "Enable visibility on profile page" %>
          </div>
          <div class="clear"></div>
        </div>
        <% unless f.object.basic_user? %>
          <div class="sing_up_r">
            <div class="sing_up_cell1">
               <p>Facebook URL</p>
               <%= f.text_field :facebook_url %>
            </div>

            <div class="sing_up_cell1">
               <p>Twitter URL</p>
               <%= f.text_field :twitter_url %>
            </div>
            <div class="clear"></div>
          </div>

          <div class="sing_up_r">
            <div class="sing_up_cell1">
               <p>Linkedin URL</p>
               <%= f.text_field :linkedin_url %>
            </div>

            <div class="sing_up_cell1">
               <p>Business tag line&nbsp;<span class="hint">( Ex: Custom Hardwood Flooring )</span></p>
               <%= f.text_field :tag_line %>
            </div>
          <% end %>  

          <div class="clear"></div>
        </div>


    </div>
    <!-- First Div End -->

    <!-- Second Div start -->
    <div class="sign_up_in skills">
      <% if  current_user.business_user? || current_user.premium_user? %>
        <div class="sing_up_cell1 curve_box">
          <h2>Skills<!-- <span class="barter"><%= f.check_box :barter%>&nbsp;<%#= f.label :barter , "I want to barter skills"%></span> --> </h2>
          <div class="sing_up_r">    
            <%= f.text_field :skill_tokens , :data => {:load => resource.skills} %>
          </div>
        </div>
      <% end %> 

      <% unless f.object.basic_user? %>
        <div class="sing_up_r">
          <div class="sing_up_cell1">
            <p>Website&nbsp;<span class="hint lowercase">(&nbsp;http://www.example.com&nbsp;) </span></p>
            <%= f.text_field :website , :class => "form-control" %>
            <%= check_box_tag 'user[settings][website]', true, f.object.settings[:website], data: {toggle: "tooltip"}, title: "Enable visibility on profile page" %>
          </div>

          <div class="clear"></div>
        </div>        
      <% end %> 

      <div class="clear"></div>
    </div>

    <div class="sign_up_in">
      <% if  current_user.business_user? || current_user.premium_user? %>
        <div class="sing_up_r">
          <h2>About My Company</h2>
          <%= f.cktext_area :about_company,  :style => "border: 1px solid rgb(204, 204, 204) !important;width:842px;height:183px;" %>
        </div>
      <% end %>
    </div>

    <!-- Second Div End -->

    <div class="sign_up_in">
      <div class="sing_up_r">
        <div class="sing_up_cell1 login_btn_r">
          <%= f.submit "Save Changes" ,:class=>"btn_r1" %>
        </div>
        <div class="clear"></div>
      </div>

      <% if current_user.is_paid_user? %>
        <h3>Cancel my account</h3>

        <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p> 
      <% end %>  
    </div>
  <%end%>  
</div>




<script>


    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
    });


    $(function(){
        
       var limit =  "<%= token_limit(current_user) %>";
       var token_limit = 0;

       if (limit == 'null')
           { token_limit = null }
       else if (limit == 1)
           { token_limit = 2 }
       else
           { token_limit = 0 }

      $("#user_skill_tokens").tokenInput("/skills/autocomplete",
        { queryParam: 'term' ,
          propertyToSearch: "name",
          theme: "facebook" ,
          tokenLimit: token_limit ,
          preventDuplicates: true,
          prePopulate: $("#user_skill_tokens").data('load'),
          onAdd: function (item) {
            if (token_limit !== null && $(this).tokenInput("get").length > limit ){
              
              $(this).tokenInput("remove", {name: item.name});

              if(confirm("You need to upgrade to Premium plan, to select more than one skill. You can upgrade for less than $1.00 per week. Do you want to upgrade? ")){
                location = '/membership';
              }
              else{
                return false;
              }
      
            }
          },          
        });
    

      $("#user_barter_skill_tokens").tokenInput("/skills/autocomplete",
        { queryParam: 'term' ,
          propertyToSearch: "name",
          theme: "facebook" ,
          tokenLimit: null ,
          prePopulate: $("#user_barter_skill_tokens").data('load')
        });

      $("#user_offering_skill_tokens").tokenInput("/skills/autocomplete?offering=true",
        { queryParam: 'term' ,
          propertyToSearch: "name",
          theme: "facebook" ,
          tokenLimit: token_limit ,
          prePopulate: $("#user_offering_skill_tokens").data('load')
        });


      $(".token-input-list-facebook").siblings(".tooltip-validate").css("margin-left","405px");

      // $('.ckeditor').ckeditor({
      //   // optional config
      // });

    });

  // $(document).ready(function(){
  //   $('form[data-remote]').bind('ajax:before', function(){
  //     for (instance in CKEDITOR.instances){
  //       CKEDITOR.instances[instance].updateElement();
  //     }
  //   });
  // });


</script>
