<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>

  <body style="margin:0;">
    <table width="800" border="0" align="center" cellpadding="0" cellspacing="0" style=" font-family:arial; border-top:solid 5px #0098E0;">
      <tr>
        <td align="center" valign="middle" style="color: #2c2b3f;
        font-family:arial;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;"><p>Hi again :)</p></td>
      </tr>
      <tr>
        <td align="center" valign="middle" style=" font-family:arial;">&nbsp;</td>
      </tr>
      <tr>
        <td align="center" valign="middle" style=" font-family:arial; color: #2c2b3f;       font-size: 18px;    font-weight: 400;    line-height: 32px;    margin: 10px 0;">
          <%= link_to @sender.full_name, user_url(@sender.username), :target => '_blank' %> invited you to join his Riszil elite network.<br>
          How would you like to respond?</td>
      </tr>
      <tr>
        <td align="center" valign="middle">&nbsp;</td>
      </tr>
      <tr>
        <td align="center" valign="middle" style="border-bottom:solid 1px #dfdfe2; padding:30px;">
        <a href="<%= new_user_registration_url(:affiliate_token => (@sender.affiliate_token || ''), :invite_token => (@invite.token || '')) %>" style="  background: #0098E0 none repeat scroll 0 0;
      border-radius: 100px;
      color: #ffffff;
      display: inline-block;
     font-family:arial;
      font-size: 15px;
      font-weight: 700;
      letter-spacing: 0.5px;
      display:inline-block;
      line-height: 60px;
      padding: 0 48px;
      text-decoration: none;
      vertical-align: middle;">ACCEPT</a> 

      <a href="<%= decline_invite_url(@invite.token) %>" style="background: #ffffff none repeat scroll 0 0;
      border: 2px solid #dfdfe2;
      border-radius: 100px;
      color: #c6c6cc;
      display: inline-block;
      font-family:arial;
      font-size: 15px;
      font-weight: 700;
      letter-spacing: 0.5px;
      line-height: 56px;
      margin-left: 10px;
      padding: 0 48px;
      text-decoration: none;
      vertical-align: middle;">DECLINE</a></td>
      </tr>
      <tr>
        <td align="center" valign="middle">&nbsp;</td>
      </tr>
      <tr>
        <td align="center" valign="middle"><a href="#" style="color: #2c2b3f;    display: inline-block;    font-size: 24px;    font-weight: 400;    line-height: 38px;    margin-bottom: 16px;    padding: 0;    text-decoration: none; " >
        <img src="<%= asset_root_url %>/emails/logo-icon.jpg"  style="vertical-align: middle;"> riszil.com</a></td>
      </tr>
      <tr>
        <td align="center" valign="middle">&nbsp;</td>
      </tr>
      <tr>
        <td align="center" valign="middle" style=" font-family:arial; font-size:14px;"><p style="color:#b9b9c1;font-size:14px;font-weight:400;max-width:330px;line-height:22px;margin:0 auto">If you wish to stop receiving these emails, <a target="_blank" href=#" style="text-decoration:underline; color:#b9b9c1; padding:0;">click here</a></p></td>
      </tr>
    </table>
    <p>
      <br>
    </p>
    <p>
      <br>
      <br>
    </p>
    <p>
      <br>
    </p>
  </body>
</html>
