<% options = {} %>
<% options[:reciever_name] = @invite.reciever_name.titleize %>

<% options[:sender_full_name] = @sender.full_name %>
<% options[:sender_business_name] = @sender.business_name.try(:titleize) %>

<% options[:comment] = @invite.comment %>
<% options[:affiliate_token] = @sender.affiliate_token %>
<% options[:invite_token] = @invite.token %>
<% options[:sender_profile] = user_url(@sender.username) %>

<%= render :partial => "shared/invite_template" , :locals => {:options => options} %>