<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Riszil (The Rating & Referral Site)</title>
</head>

<body style="padding:0; margin:0;">
<div style="background:#72D0EB;"><br />

<table width="100%" cellspacing="0" cellpadding="0" class="wrapper" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333; line-height:20px;">
  <tbody><tr>
    <td ><table width="600" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center" class="main-content-wrap" frame="border" rules="none">
      <tbody>
        <tr>
            <td valign="top" class="header"><br>           
                <table width="540" cellspacing="0" cellpadding="0" align="center">
                  <tbody><tr>
                    <td align="center" valign="top">
                      <a href="<%= root_url %>"><img src="<%= root_url %>/assets/emails/logo.png" alt="" class="block" border="0" target="_blank" ></a>
                    </td>
                    </tr>
                </tbody></table>
              <img width="600" border="0" height="61" class="block" alt="" src="<%= root_url %>/assets/emails/divider-600x61.gif"> 
           </td>
       </tr>
       <tr>
          <td valign="top" id="iframe_module_content" class="content"><table width="540" cellspacing="0" cellpadding="0" align="center">
                <tbody><tr>
                  <td valign="top"><h2><span><strong>Hi <%= @user.name.titleize %></strong>,</span></h2>
                      <p class="last">Welcome to the Riszil. Please use some of the links below to help get started. This is a great resource for businesses both big and small. Our goal is to make your business the best it can be. We would love to help you build an Elite Network of hard working people that have the same work and business ethic as you, and we will pay you to build this network. Whether you are looking to refer a few friends or work full time to build a great sales career, we look forward to helping you achieve your goals!<br />

                      </p></td>
                </tr>
              </tbody></table>
              <table width="540" cellspacing="0" cellpadding="0" align="center">
                <tbody><tr>
                    <td valign="top"><p>Please use these links to help get started<br />
<br />
</p>
<div>
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center">
        <a href="<%= profile_tips_url %>" target="_blank" style="color:#fff; text-decoration:none; font-weight:bold; border:solid 1px #2F353E; padding:10px 15px; background:#2F353E; text-transform:uppercase; font-size:14px;">
           Profile Tips
        </a>
      </td>
      <td align="center">
        <a href="<%= affiliate_programme_url %>" target="_blank" style="color:#fff; text-decoration:none; font-weight:bold; border:solid 1px #2F353E; padding:10px 15px; background:#2F353E; text-transform:uppercase; font-size:14px;">
           Sales Tips
        </a>
      </td>
      <td align="center"><a href="javascript:void(0)" target="_blank" style="color:#fff; text-decoration:none; font-weight:bold; border:solid 1px #2F353E; padding:10px 15px; background:#2F353E; text-transform:uppercase; font-size:14px;"> Sales Tools </a></td>
      <td align="center"><a href="javascript:void(0)" target="_blank" style="color:#fff; text-decoration:none; font-weight:bold; border:solid 1px #2F353E; padding:10px 15px; background:#2F353E; text-transform:uppercase; font-size:14px;"> Promotions </a></td>
    </tr>
  </table>
  <br />
</div>
<p>Your affiliate page<br />
    <a href="<%= affiliate_url %>" target="_blank" style="color:#000; text-decoration:none; font-weight:bold;">
        <%= affiliate_url %>
    </a>
      <br />
      <br />
</p>

<p>Send this link to your friend for you to get credit <br />

   
    <a href="<%= "#{new_user_registration_url}" + "?affiliate_token=" + "#{@user.affiliate_token}" %>" target="_blank" style="color:#000; text-decoration:none; font-weight:bold;">
      <%= "#{new_user_registration_url}" + "?affiliate_token=" + "#{@user.affiliate_token}" %>
    </a>  
  </p>                      </td>
                    </tr>
                  <tr>
                    <td valign="top">&nbsp;</td>
                  </tr>
                  <tr>
                    <td valign="top" style="color:#000;"><strong>Cheers<br />
                      Riszil<br />
                      Sales Team</strong></td>
                  </tr>
                  <tr>
                    <td valign="top">&nbsp;</td>
                  </tr>
                </tbody>
              </table></td>
          </tr>
          <tr>
            <td valign="top" class="footer"><table width="600" cellspacing="0" cellpadding="0" bgcolor="#f0f0f0" align="center">
              <tbody><tr>
                    <td valign="top" class="footer-content"><img width="600" border="0" height="16" class="block" alt="" src="<%= root_url %>/assets/emails/footer-divider-600x16.gif">
                        <table width="100%" cellspacing="0" cellpadding="0" align="center">
                          <tbody><tr>
                            <td align="center" valign="top"><b>Riszil</b>,  Adress <br>
                              American Fork, Utah  <br>
                              T: +1 801-692-3668 <br>
                              E: <a href="#" style="color:#000; text-decoration:none; font-weight:bold;">office@riszil.com</a> </td>
                            </tr>
                        </tbody></table>
                      <img width="600" border="0" height="31" class="block" alt="" src="<%= root_url %>/assets/emails/footer-divider-600x31.gif">
                        <table width="540" cellspacing="0" cellpadding="0" align="center">
                          <tbody><tr>
                            <td width="120">Connect with us:</td>
                            <td width="35"><img width="24" border="0" height="24" alt="" class="block" src="<%= root_url %>/assets/emails/facebook.png"></td>
                            <td width="80"><a href="#" style="color:#000; text-decoration:none;">Facebook</a> </td>
                            <td width="35"><img width="24" border="0" height="24" alt="" class="block" src="<%= root_url %>/assets/emails/twitter.png"></td>
                            <td width="80"><a href="#" style="color:#000; text-decoration:none;">Twitter</a> </td>
                            <td width="35"><img width="24" border="0" height="24" alt="" class="block" src="<%= root_url %>/assets/emails/linkedin.png"></td>
                            <td width="75"><a href="#" style="color:#000; text-decoration:none;">LinkedIn</a> </td>
                            <td width="35"><img width="24" border="0" height="24" alt="" class="block" src="<%= root_url %>/assets/emails/contact.png"></td>
                            <td width="90">
                              <a href="<%= contact_us_url %>" style="color:#000; text-decoration:none;">Contact Us
                              </a>
                            </td>
                          </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
                          </tbody>
                        </table>
                      <img width="600" border="0" height="16" class="block" alt="" src="<%= root_url %>/assets/emails/footer-divider-600x16.gif"> </td>
                  </tr>
            </tbody></table></td>
          </tr>
      </tbody></table>
      <br>
      <br>
      <br>
    </td>
  </tr>
</tbody></table>
</div>
</body>
</html>