<b>Hello Admin</b>

</br>
</br>
<p>
 Payment Request for Amount: <%= @user.total_reward %>
</p> 
<p>
  Name of user requesting payment: <b><%= @user.name %></b></br>
  Emails of user requesting payment:  <b><%= @user.email %></b>
</p>

</br>

Cheers
