<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Document</title>
</head>

<body style="padding:0; margin:0; background:#FBFBFB;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#333;">
  <tr>
    <td><table width="800" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="<%= asset_root_url %>emails/welcome/header-img.jpg" width="800" height="166" alt="Risil The Rating and Refferal Site"  style="border:0;"/></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top"><table width="800" border="0" align="center" cellpadding="0" cellspacing="0" style="border-bottom:solid 10px #fff;">
      <tr>
        <td valign="top" background="<%= asset_root_url %>emails/welcome/bg.png"><table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td height="30" align="center" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="center" valign="top" style="color:#0092df; font-size:48px; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;"><img src="<%= asset_root_url %>emails/welcome/welcome.png" alt="Welcome to riszil" /></td>
          </tr>
          <tr>
            <td height="45" align="center" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="44%"><img src="<%= asset_root_url %>emails/welcome/banner.png" alt="Risil The Rating and Refferal Site" style="border:0;"/></td>
                <td width="56%" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#666666;">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><p style="margin:0; padding:0;">I'm going to let you in on a <span style="color:#0098e0;">secret</span>,  how you can get and stay at the top of the search rankings.</p></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td><p style="padding:0; margin:0;">Here it is, the <span style="color:#0098e0;">“Riszil Rating”</span> will be the search rankings based on this algorithm </p></td>
                    </tr>
                  </table>
                  <p style="margin:0; padding:0;">&nbsp;</p>
                 </td>
                </tr>
              <tr>
                <td>&nbsp;</td>
                <td><img src="<%= asset_root_url %>emails/welcome/bdr.png" width="320" height="9" alt="img" /></td>
              </tr>
              </table></td>
          </tr>
          <tr>
            <td height="50" align="center" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="center" valign="top"><img src="<%= asset_root_url %>emails/welcome/banner2.png" alt="Your guide to successfull listing at Riszil" style="border:0;"/></td>
          </tr>
          <tr>
            <td height="55" align="center" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="9%"><img src="<%= asset_root_url %>emails/welcome/one.png" width="28" height="28" alt="one" style="border:0;" /></td>
                <td width="91%" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#333333;"><p style="color:#0098e0; font-size:18px;  margin:0; padding:0; ">Proximity to searcher (1 mile vs  50 miles)</p></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td height="20" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#333333;">&nbsp;</td>
              </tr>
              <tr>
                <td><img src="<%= asset_root_url %>emails/welcome/two.png" width="28" height="28" alt="two" /></td>
                <td style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#333333;"><p style="color:#0098e0; font-size:18px;  margin:0; padding:0; ">Premium membership</p></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td height="20" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#333333;">&nbsp;</td>
              </tr>
              <tr>
                <td><img src="<%= asset_root_url %>emails/welcome/three.png" width="28" height="28" alt="three" /></td>
                <td style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#333333;"><p style="color:#0098e0; font-size:18px;  margin:0; padding:0; ">Number of times listed on someone’s “Preferred Referral” list <br />
                  (Most of the time if you put someone on your<br />
                  “Preferred Referral” list they will put you on theirs)</p></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td height="20" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#333333;">&nbsp;</td>
              </tr>
              <tr>
                <td><img src="<%= asset_root_url %>emails/welcome/four.png" width="28" height="28" alt="four" /></td>
                <td style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#333333;"><p style="color:#0098e0; font-size:18px;  margin:0; padding:0; ">Average rank on the P.R. list ( being  listed #1 on the <br />
                  “Prefferred Refferal ” list vs  # 2)</p></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td height="20" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#333333;">&nbsp;</td>
              </tr>
              <tr>
                <td><img src="<%= asset_root_url %>emails/welcome/five.png" width="28" height="28" alt="five" /></td>
                <td><p style="color:#0098e0; font-size:18px;  margin:0; padding:0; ">Number of Feedback and Rating
                  </p></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td height="20" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#333333;">&nbsp;</td>
              </tr>
              <tr>
                <td><img src="<%= asset_root_url %>emails/welcome/six.png" width="28" height="28" alt="six" /></td>
                <td><p style="color:#0098e0; font-size:18px;  margin:0; padding:0; ">Average of the Ratings 
                  </p></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="left" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="left" valign="top"><img src="<%= asset_root_url %>emails/welcome/sap.png" width="655" height="21" alt="img" /></td>
          </tr>
          <tr>
            <td height="100" align="center" valign="middle" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:30px; font-weight:bold; color:#666666; line-height:40px;"><p style="margin:0; padding:0;">Thank you. We wish you the best <br />
              with your business plans. </p></td>
          </tr>
          <tr>
            <td height="20" align="center" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#666666;">&nbsp;</td>
          </tr>
          <tr>
            <td height="35" align="center" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#666666;">Let's make things happen .:)</td>
          </tr>
          <tr>
            <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" valign="middle" style="font-size:15px; font-weight:bold; color:#0098e0; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;">
                  <a href="<%= host_root_url %>invites/new">
                    <img src="<%= asset_root_url %>emails/welcome/btn-1.png" width="196" height="45" alt="Start from here" />
                  </a>
                </td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="30" align="center" valign="top">&nbsp;</td>
          </tr>
          </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="800" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="80" align="center" valign="middle" bgcolor="#0098e0" style="border-top:10px solid #eba12a;"><table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td height="80" valign="middle"><img src="<%= asset_root_url %>emails/welcome/btm-img.png" width="418" height="45" alt="Riszil" /></td>
            <td align="right">
              <a href="<%= host_root_url %>" style="font-weight:bold; color:#fff; text-decoration:none;">www.riszil.com</a>
            </td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
