<div class="">
  <%= will_paginate @verification_logs, :container => false %>
</div>

<h3>Hubuco api recent logs</h3>

<div class="left_tbl list">
  <table width="647" class="table table-striped table-hover">
    <tr>
      <th>Time</th>
      <th>User ID</th>
      <th>Email</th>
      <th>Success</th>
      <th>Valid Email</th>
      <th>Error</th>
      <th>Note</th>
    </tr>

    <% @verification_logs.each do |verification_log| %>
        <tr>
          <td><%= verification_log.created_at.in_time_zone.strftime("%b %d %Y %I:%M") %></td>
          <td><%= verification_log.user_id %></td>
          <td><%= verification_log.email %></td>
          <td><%= verification_log.success %></td>
          <td><%= verification_log.valid_email %></td>
          <td><%= verification_log.error %></td>
          <td><%= verification_log.note %></td>
        </tr>
    <% end %>    
  </table>
</div>

<div class="">
  <%= will_paginate @verification_logs, :container => false %>
</div>