<div id="editImportModal" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit failed user import</h4>
      </div>

      <%= form_for [:admin, @user_import], url: admin_user_import_path(@user_import), html: {id: 'edit-user-import'} , :remote => true do |f| %>
          <div class="modal-body">
            
            <div id="response-message" style='display:none;'></div>

            <div class="row">
              <div class="col-md-3">
                Emails
              </div>  
              <div class="col-md-9">
                <%= f.text_field :emails, class: 'form-control' %>
              </div>                
            </div>

            <div class="row">
              <div class="col-md-3">
               Categories
              </div>  
              <div class="col-md-9">
                <%= f.text_field :categories, class: 'form-control' %>
              </div>                
            </div>

            <div class="row">
              <div class="col-md-3">
              Headline
              </div>  
              <div class="col-md-9">
                <%= f.text_field :headline, class: 'form-control' %>
              </div>                
            </div>

            <div class="row">
              <div class="col-md-3">
                Website
              </div>  
              <div class="col-md-9">
                <%= f.text_field :website, class: 'form-control' %>
              </div>                
            </div>            

            <div class="row">
              <div class="col-md-3">
              Phone number
              </div>  
              <div class="col-md-9">
                <%= f.text_field :phone_number, class: 'form-control' %>
              </div>                
            </div>

            <div class="row">
              <div class="col-md-3">
                City
              </div>  
              <div class="col-md-9">
                <%= f.text_field :city, class: 'form-control' %>
              </div>                
            </div>  


            <div class="row">
              <div class="col-md-3">
              Address
              </div>  
              <div class="col-md-9">
                <%= f.text_field :address, class: 'form-control' %>
              </div>                
            </div>

            <div class="row">
              <div class="col-md-3">
                State
              </div>  
              <div class="col-md-9">
                <%= f.text_field :state, class: 'form-control' %>
              </div>                
            </div>


            <div class="row">
              <div class="col-md-3">
              Zip code
              </div>  
              <div class="col-md-9">
                <%= f.text_field :zip_code, class: 'form-control' %>
              </div>                
            </div>

            <div class="row">
              <div class="col-md-3">
                Country
              </div>  
              <div class="col-md-9">
                <%= f.text_field :country, class: 'form-control' %>
              </div>                
            </div>

            <div class="row">
              <div class="col-md-3">
                Latitude
              </div>  
              <div class="col-md-9">
                <%= f.text_field :latitude, class: 'form-control' %>
              </div>                
            </div>

            <div class="row">
              <div class="col-md-3">
                Longitude
              </div>  
              <div class="col-md-9">
                <%= f.text_field :longitude, class: 'form-control' %>
              </div>                
            </div>

          </div>

          <div class="modal-footer">
  <!--           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->

            <button id="edit-user-import-btn" type="submit" class="btn btn-primary ladda-button" data-style="expand-right"><span class="ladda-label">Update</span></button>

          </div>
      <% end %>


    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->