<div id="showImportModal" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">User to import</h4>
      </div>


          <div class="modal-body">
            
            <div id="response-message" style='display:none;'></div>

            <div class="row">
              <div class="col-md-3">
                Emails
              </div>  
              <div class="col-md-9">
                <%= @user_import.emails %>
              </div>                
            </div>

            <div class="row">
              <div class="col-md-3">
               Categories
              </div>  
              <div class="col-md-9">
                <%= @user_import.categories %>
              </div>                
            </div>

            <div class="row">
              <div class="col-md-3">
              Headline
              </div>  
              <div class="col-md-9">
                <%= @user_import.headline %>
              </div>                
            </div>

            <div class="row">
              <div class="col-md-3">
                Website
              </div>  
              <div class="col-md-9">
                <%= @user_import.website %>
              </div>                
            </div>            

            <div class="row">
              <div class="col-md-3">
                Phone number
              </div>  
              <div class="col-md-9">
                <%= @user_import.phone_number %>
              </div>                
            </div>

            <div class="row">
              <div class="col-md-3">
                City
              </div>  
              <div class="col-md-9">
                <%= @user_import.city %>
              </div>                
            </div>  


            <div class="row">
              <div class="col-md-3">
              Address
              </div>  
              <div class="col-md-9">
                <%= @user_import.address %>
              </div>                
            </div>

            <div class="row">
              <div class="col-md-3">
                State
              </div>  
              <div class="col-md-9">
                <%= @user_import.state%>
              </div>                
            </div>


            <div class="row">
              <div class="col-md-3">
              Zip code
              </div>  
              <div class="col-md-9">
                <%= @user_import.zip_code %>
              </div>                
            </div>

            <div class="row">
              <div class="col-md-3">
                Country
              </div>  
              <div class="col-md-9">
                <%= @user_import.country %>
              </div>                
            </div>

            <div class="row">
              <div class="col-md-3">
                Latitude
              </div>  
              <div class="col-md-9">
                <%= @user_import.latitude %>
              </div>                
            </div>

            <div class="row">
              <div class="col-md-3">
                Longitude
              </div>  
              <div class="col-md-9">
                <%= @user_import.longitude %>
              </div>                
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>


    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->