<div class="users_list digg_pagination">
  <%= will_paginate @failed_user_imports, :container => false %>
</div>

<div class="left_tbl list">
  <table width="647" class="table table-striped table-hover">
    <tr>
      <th>Serial </th>
      <th>Emails</th>
      <th>Headline</th>
      <th>Errors</th>
      <th class=''></th>
    </tr>

    <% @failed_user_imports.each_with_index do |user_import,index| %>
      <%= render :partial => 'user_import', :locals => {:user_import => user_import, :index => index}%>
    <% end %>    
  </table>
</div>

<div class="users_list digg_pagination">
  <%= will_paginate @failed_user_imports, :container => false %>
</div>


<script type="text/javascript">
    $('#users .digg_pagination a').on('click', function () {
      $.getScript(this.href);
      return false;
    });
</script>
