<tr id="<%= dom_id(user_import) %>">
  <td><%= index+1 %></td>
  <td><%= user_import.emails %></td>
  <td><%= user_import.headline %></td>
  <td><%= user_import.validation_errors %></td>
  <td>
    <span><%= link_to 'Retry import', retry_admin_user_import_path(user_import), class: 'btn btn-info',remote: true ,method: :post %></span>
    <span><%= link_to 'Show', admin_user_import_path(user_import), class: 'btn btn-info', remote: true  %></span>
    <span><%= link_to 'Edit', edit_admin_user_import_path(user_import), class: 'btn btn-info',remote: true %></span>
    <span><%= link_to 'Remove', admin_user_import_path(user_import), class: 'btn btn-danger', remote: true , :method => :delete, :confirm => "Are you sure?", :title => 'Delete' %></span>
  </td>
</tr>