<% if @user_import.destroyed? %>
  $("#<%= dom_id(@user_import) %>").slideUp().remove();
  
  setTimeout(function(){
    location.reload(true);
  },3000);

<% else %>  
  alert('Can not be removed');
<% end %>