var userImportModal = $("<%=escape_javascript(render :partial=>'form' )%>");
userImportModal.modal();

userImportModal.on('hidden.bs.modal', function () {
  $('.modal-backdrop').remove();
});

userImportModal.on('shown.bs.modal', function () {
  $("#edit-user-import").bind("ajax:beforeSend", function (e, data, status, xhr){
    var l = Ladda.create($(this).find("#edit-user-import-btn").get(0));
    l.start();    
  }).bind("ajax:complete", function (e, data, status, xhr){
    var l = Ladda.create($(this).find("#edit-user-import-btn").get(0));
    l.stop();    
  })
});