<% content_for :header do %>
  <div class="title_head">
    <div class="container">
      <div class="col-md-4">
        <p class="admin_h">Admin /</p>
        <h2 class="orders_h">Failed user imports</h2>
      </div>
      <div class="col-md-8 users-import">
        <%= link_to 'Import users', import_admin_users_path, class: 'btn btn-default' %>
      </div>        
    </div>
  </div>
<% end %>

<div class="row">
  <div role="main" class="col-md-12">
    <div id="user-import">
      <%= render 'user_imports' %>
    </div>
  </div>
</div>
