var userImportShowModal = $("<%=escape_javascript(render :partial=>'show' )%>");
userImportShowModal.modal();

userImportShowModal.on('hidden.bs.modal', function () {
  $('.modal-backdrop').remove();
});