$("#<%= dom_id(@temp_location) %>").slideUp().remove();
$("#net-amount").html("<%= '%.2f' % @temp_locations.count.to_f.round(2) %>")

<% unless @temp_locations.count > 0 %>
  location.href = '/';
<% end %>