<div class='row panel'>
  <div class='span12'>
    <h5>Locations ready to save please complete the payment process &nbsp;<span class='hint'>( You will need to pay $ 1 per location ) </span></h5>

    <h3>Net Amount = $ <span id='net-amount'><%= '%.2f' % @temp_locations.count.to_f.round(2) %></span> </h3>
  </div>  
</div>

<div class='row panel'>
  <div class='left-panel'>
    <div class='temp-locations'>
      <table class='table'>
        <thead>
          <th>Address line 1</th>
          <th>Address line 2</th>
          <th>Postal Code</th>
          <th>City</th>
          <th>State</th>
          <th>Country</th>
          <th>Actions</th>
        </thead>

        <tbody>
          <% @temp_locations.each do |temp_location|%>
            <tr id="<%= dom_id(temp_location) %>">
              <td><%= temp_location.address_1 %></td>
              <td><%= temp_location.address_2 %></td>
              <td><%= temp_location.postal_code %></td>
              <td><%= temp_location.city %></td>
              <td><%= temp_location.state_code %></td>
              <td><%= temp_location.country_code %></td>
              <td>
               <!--  <span><%#= link_to 'Edit', '#', class: 'btn btn-sm btn-primary'%></span> -->
                <span><%= link_to 'Destroy', temp_location_path(temp_location), class: 'btn btn-sm btn-danger', remote: true , :method => :delete, :confirm => "Are you sure?", :title => 'Remove' %></span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>          
    </div>
  </div>
  <div class='right-panel'>
    <% if @temp_locations.present? %>
      <div class='locations-payment'>
        <ul class="nav nav-tabs nav-payment-tabs" role="tablist">
          <li class='active'>
            <a href="#credit_card" role="tab" data-toggle="tab" data-payment="credit_card">
              <icon class="fa fa-credit-card"></icon> Credit Card
            </a>
          </li>
          <li>
            <a href="#checkout" role="tab" data-toggle="tab" data-payment="checkout">
               <%= image_tag "paypal-logo.png",  alt: "paypal button" %>
            </a>
          </li>
        </ul> 
        
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade active in" id="credit_card">
            <div class="tab-pane-content">
              <%= form_tag process_payment_locations_path, :remote => true, :id=> 'location-pay-form'  do  %>

                <h3>Card Information</h3>

                  
                <table>
                  <tr>
                    <td class='card-type'>
                      <p>Card type </p>
                      <%= select_tag "payment[card_type]", options_for_select([["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]]), { :class=>"form-control" } %>                    
                    </td>

                    <td class='card-number'>
                      <p>Card number </p>
                      <%= text_field_tag "payment[card_number]", nil, class: 'custom-form-control'%>
                    </td>
                    <td class='card-cvv'>
                      <p>Card verification value (CVV)  </p>
                      <%= text_field_tag "payment[card_verification]", nil, class: 'custom-form-control'%>
                    </td>                  
                  </tr>                
                </table>

                <div class="date-select">
                  <p>Card expires on  </p>
                  <%= date_select "payment","card_expires_on", :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => false, :class =>"select3 list_s1 form-control", :order => [:day, :month, :year], :date_separator => "" %>
                </div>
     
                <div class="sing_up_cell1 login_btn_r">
                  <button id="location-pay-btn" type="submit" class="btn btn-primary ladda-button btn_r1" data-style="expand-right"><span class="ladda-label">Pay now</span></button>
                </div>   

                  
              <% end %>
            </div>
          </div>
          <div class="tab-pane fade" id="checkout">
            <div class="tab-pane-content">
              <h3>Express checkout</h3>
              <div class="">
                <%= link_to (image_tag "paypal-checkout.gif",  alt: "paypal button"), express_checkout_locations_path(express_checkout: true) %>
                 <!-- # express_checkout_temp_locations_path(express_checkout: true) -->
              </div>
            </div>  
          </div>
        </div>

      </div>
    <% end %>  
  </div>  
</div>



