.flash_messages{
    text-align: center;
    position: fixed;
    z-index: 100;
    width: 102%;
    top: 0px;
}
.flash_messages .alert{
  height: 31px;
}

.wrap{margin:132px 0;}

.tumb_imgbox {
  height:38px;
}
.thumb_img {
  width:34px;
  height:34px;
  float:left;
  margin-right:6px;
}
.thumb_img img {
  border:solid 2px #fff;
}

/* Rating */
.top_rating p{
  float: left;
}

.top_rating .ajaxful-rating{
  float: left;
}

.right_rating_box {
  margin:6px 0 15px 0;
}

.rating_n{
	padding:0 0 1px;
	margin:0;

}
.rating_n img{
	vertical-align:middle;
	padding:0 1px;
}
.rat_left {
  float:left;
}
.rat_right {
  float:right;
}
.rat_right img {
  margin:6px 2px 0;
}

.right_row {
  background:#eeeeee;
  border:solid 1px #d0d4d8;
  border-radius:3px;
  height:32px;
  line-height:32px;
  margin:4px 2px;
  padding:0 6px;
  font-size:14px;
}
.right_row:hover{
	background:#fff;
	-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* Rating */

.feedback_textarea {
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  padding:5px 10px;
  line-height:18px;
  -moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px#ccc;
	box-shadow: 0 0 5px #ccc;
	margin-bottom: 25px;
}

.feedback_textarea form{
	/*margin-bottom:40px;*/
}
.feedback_textarea textarea {
  border: 1px solid #CCCCCC !important;
  height: 45px;
  margin-right: 13px;
  margin-top: 0px;
  vertical-align: middle;
  width: 83%;
}

/*Validation message begins*/
.tooltip-validate {
  position: absolute;
  z-index: 1029;
  display: inline;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}

.tooltip-validate.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}


.tooltip-validate.right {
  margin-left: 315px;
  margin-top: -43px;
}


.tooltip-validate-inner {
  max-width: 350px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #9A4D3E;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.tooltip-validate-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}


.tooltip-validate.right .tooltip-validate-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #9A4D3E;
  border-width: 5px 5px 5px 0;
}

#feedback_form .tooltip-validate.right {
/*  margin-left: 564px;*/
/*  margin-top: -76px;*/
  float: right;
  width: 104px;
} 

.right_row ul{
  margin-bottom: 0px !important;
}

.rating-stars {
/*  margin-top: -9px;
  margin-bottom: 3px;*/
}

.feed-content .icon-flag{
  margin-top: 7px;
  float: right;
}

.feed-content h5 a{
  color: rgb(80, 49, 20);
}

/* Feedback in right bar */
p[id$="more_text"] {
    display: none;
}

.more_p {
  padding: 0;
  text-align:right;
  font-size:12px;
}
.more_p a {
  color:#131313;
}
.more_p a:hover {
  color:#0099FF;
}

.less_p {
  padding: 5px 0 0;
  text-align:right;
  font-size:12px;
  display: none;
}
.less_p a {
  color:#131313;
}
.less_p a:hover {
  color:#0099FF;
}
/* Feedback in right bar */

/*Validation message end*/


.left-sidebar  .carousel-control{
  font-size: 35px;
  color:#000;
  height: 0px; 
  width: 0px;
}


.left-sidebar .carousel-inner {
  margin: 5px 0px 36px 5px;
  width: 95%;
}

.left-sidebar .carousel-control.right{
  right: -3px;
}

.left-sidebar .carousel-control.left{
  left: -12px;
}

.content-body .flag{
  float: right;
  margin-right: 11px !important;
}
.content-body .name{
  font-weight: bold;
}
.referal-add{
  margin-top: 6px;
}