/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{background:url(/assets/profile/painter-bg.jpg) repeat-y scroll center 0 rgba(0, 0, 0, 0) !important;
	background-size:cover; 
	margin:0; 
	padding:0; 
	font-family:Tahoma, Geneva, sans-serif; 
	font-size:11px; color:#666;
}
h2, h3, h4, h5{font-family:Tahoma, Geneva, sans-serif; color:#302174; font-weight:700; line-height:1.2;}
h2{font-size:16px;}
h3{font-size:13px;}
h4{font-size:12px;}
h5{font-size:11px;}
ol li, ul li{margin-bottom:10px; line-height:1.5;}
p{line-height:2; margin-bottom:30px;}
/*icns*/
[class^="icn-"], [class*=" icn-"]  {display:inline-block; line-height:normal; vertical-align:middle; background-image: url("/assets/profile/painter-sprite.png"); background-position:0 0; background-repeat: no-repeat; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-appearance: none;}

/*list-styled measurement*/
.list-unstyled {padding-left: 0; margin-left:0; list-style: none; }
.list-inline {padding-left: 0; margin-left: -5px; list-style: none;}
.list-inline > li {display: inline-block; padding-right: 5px; padding-left: 5px;}

/*button*/
.btn-sm, .btn-group-sm > .btn {padding: 4px; font-size: 11px; line-height: 1.1; border-radius:0px;}
.btn-primary{background: #8666cc;
background: -moz-linear-gradient(top,  #8666cc 0%, #5f5fbd 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8666cc), color-stop(100%,#5f5fbd));
background: -webkit-linear-gradient(top,  #8666cc 0%,#5f5fbd 100%);
background: -o-linear-gradient(top,  #8666cc 0%,#5f5fbd 100%);
background: -ms-linear-gradient(top,  #8666cc 0%,#5f5fbd 100%);
background: linear-gradient(to bottom,  #8666cc 0%,#5f5fbd 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8666cc', endColorstr='#5f5fbd',GradientType=0 );


color:#fff; border-color:transparent;}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {color:#fff; background-color:#5F5FBD; border-color:transparent;background-position:0 0;}

/*btn wrap*/
.btn-wrap{margin:0 0 20px;}
.btn-wrap > .btn{margin:0 0 0 3px;}
.btn-wrap > .btn:first-child{margin-left:0;}

/* Icn classes */
.icn-mail{background-position:0 0; width:24px; height:14px;}
.icn-home{background-position:-50px 0; width:22px; height:16px;}
.icn-phone{background-position:-100px 0; width:16px; height:32px;}

.main{border-radius:20px 0 0 20px; min-height:962px; padding:20px 30px; background:#fff url("/assets/profile/painter-tool.png") no-repeat right bottom;  border: 1px solid #c4c5c5;}

.sidebar-top, .sidebar-bottom {background-color: #f7f2fc;border: 1px solid #c4c5c5;}


/*Left Sidbar*/
.left-sidebar{width:194px; float:left; padding:15px; margin-right:8px;}
.left-sidebar.brown {background: #f7f2fc;border: 2px solid #f1e9f4;color: #302174;}
.brand-name{margin-bottom:30px;}
.brand-name h2{margin-bottom:0px;}
.brand-name h4{margin-top:5px;}

.rating{margin-bottom:15px;}
.rating h4{margin-bottom:10px;}
.rating-level{font-size:0; margin-left:-2px;}
.rating-level>li{padding-left:2px; padding-right:2px;}
.thumb-squre{display:block; overflow:hidden; background:#fff; padding:5px; text-align:center;}
.thumb-squre > img{display:block; min-width:100%;}
.contact-info{margin-bottom:35px; overflow:hidden;}
.contact-info .list-unstyled{}
.contact-info .list-unstyled > li{margin-bottom:15px;}
.contact-info .list-unstyled > li > i{width:24px; margin-right:10px; float:left;}
.contact-info .list-unstyled > li > .overflow{display:block; overflow:hidden;}


/*category*/
.category{padding:20px 0 40px 0;}
.category > .list-unstyled{font-size:12px; line-height:1.2;}
.category > .list-unstyled > li {margin-bottom:10px;}

/*Social*/
.social{display:block; overflow:hidden; margin:0 -4px;}
.social > a {display: block;overflow: hidden;height: 50px;float: left;margin: 0 2px;  width: 51px;}
.icn-linkedin, .icn-twitter, .icn-facebook{}
.icn-linkedin  {  background-position: -195px 0;}
.icn-twitter  {  background-position: -251px 0;}
.icn-facebook  {background-position: -137px 0;}


/*Content*/
.content-wrap{display:block; overflow:hidden;}
.content{padding:20px;}
.content h4:first-child{margin-top:0;}
.content h4{  margin-bottom: 30px;font-size: 13px;color: #666666;}
.content ul{margin-bottom:30px;}

.title{display:block; height:30px; position:relative}
.title.brown{background:url("/assets/profile/painter-title_bg.png") no-repeat left bottom; border-bottom:2px solid #5350b4;}
.title > .heading{display:block; margin:5px 0 0 80px; font-size:15px; font-weight:700; color:#fff; float:left;}
.icn-grncircle{width:11px; height:11px; background-position:0 -50px;}
.icn-browncircle{width:6px; height:6px; background-position:-100px -50px; position:absolute; right:0; top:26px;}

.chat-block{display:block; text-align:right;}
.chat-block > b{margin:0 5px; color:#503114; font-size:11px;}
.chat-block > .icn-chatpop{width:38px; height:20px; background-position:-50px -50px;}

/*Right Sidebar*/
.right-sidebar{min-height:600px; margin-left:4px;}
.sidebar-top{border-radius:0 20px 0 0; min-height:600px; margin-bottom:4px; padding:15px;}
.sidebar-top.brown{color:#503114;}
.sidebar-bottom.brown{color:#503114;}
.right-sidebar .brown .feed-title{border-bottom-color:#5350b4; padding-bottom:47px;}
.right-sidebar .brown .feed-title a {color: #000;float: right;}
.right-sidebar .feed-title{border-bottom:1px solid;}
.right-sidebar .feed-title a{font-weight:700; text-align:right; display:block;}
.right-sidebar .feed-box{position: relative; background:#5350b4; color:#fff; float:left; padding:3px 6px;}
.right-sidebar .feed-box:after {top:100%; left:50%; border: solid transparent; content: " "; height:0; width:0; position: absolute; pointer-events:none; border-color:rgba(156, 95, 39, 0); border-top-color:#5350b4; border-width:10px; margin-left:-10px;}

.feed-content{display:block; overflow:hidden; margin-top:10px;}
.feed-thumb{float:left; width:45px; height:36px; border:1px solid #c0bee3;}
.feed-list{display:block; overflow:hidden; margin-top:10px;}
.feed-arrowbox {position: relative; border:1px solid #c1bfe3; min-height:92px; width:153px; float:right; padding:6px 8px;}
.feed-arrowbox:after, 
.feed-arrowbox:before {right: 100%; top:25%; border: solid transparent; content: " "; height: 0; width: 0;position: absolute;pointer-events: none;}
.feed-arrowbox:after {border-color: rgba(255, 255, 255, 0); border-right-color:#f7f2fc; border-width: 13px; margin-top: -13px; }
.feed-arrowbox:before {border-color: rgba(201, 178, 150, 0); border-right-color: #c1bfe3; border-width: 15px; margin-top: -15px; }

.feed-top{margin-bottom:5px;}
.feed-top h5{margin:0 10px 0 0; float:left;}
.feed-top .rating-level{margin:0; float:right;}
.icn-flag{background-position:-150px -80px; width:20px; height:14px;}
.feed-body{margin-bottom:5px;}
.feed-body p{line-height:1.4; margin:0;  color: #302174;}
.feed-foot{text-align:right;color: #302174}

.pager-wrap{text-align:right;}
.pagination{margin:10px 0 0;}
.pagination > li > a, .pagination > li > span{color:#302174; border:none; padding:0 5px;background:none;border:none;}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{background-color:transparent; font-weight:bold;color:#302174;}

.pagination > li:first-child > a, .pagination > li:first-child > span{border-radius:0;}

.sidebar-bottom{border-radius:0 0 20px 0; min-height:296px; padding:15px;}
.content-region .content-list{margin-bottom:8px;}
.title-head{border-bottom:1px solid #5350b4; margin-bottom:10px; display:block; overflow:hidden; padding-bottom: 10px;}
.title-head > h4{margin:0; float:left; line-height:1.6;}
.title-head > .btn{float:right;}
.content-body .overflow{padding-top:10px;}
.content-body fiqure{margin-right:10px;margin-bottom: 4px;}
.content-body p{line-height:1.6; margin:0;color: #302174;}
.content-body .icn-flag{float:right;}

/*next-prev*/
.next-prev{margin:0 -2px; text-align:right;}
.next-prev > a{margin:0 2px; width:8px; height:14px;}
.icn-prev{background-position:-200px -80px;}
.icn-next{background-position:-250px -80px;}


/* ======Helper Classes===== */
.no-space {margin-left:40px;}
.no-space > [class*="span"] {margin-left: 0;}
.sep{display:block; overflow:hidden;   background: url(/assets/profile/painter-sep.png) no-repeat left bottom;
  height: 22px;margin-bottom:28px;}
.clear{clear:both;}
.overflow{display:block; overflow:hidden;}

/*Margin  Measurement*/
.mar-right15{margin-right:15px;}
.mar-bot15{margin-bottom:15px; }

.container{width:1200px;}
@media (min-width: 1200px){
	.container {
		width: 1240px;
	}
	.span3 {width: 300px;}
	.span9 {width: 900px;}
}

/*.left-sidebar  .carousel-control{
  color:rgb(255, 242, 214) !important;
 }

.left-sidebar  .carousel-control:hover{
  color:rgb(255, 228, 174) !important;
 }*/

.digg_pagination .current {
  background: none repeat scroll 0 0 #5350b4;
  border: 1px solid #5F5FBD;
}
.digg_pagination a {
  border: 1px solid #5F5FBD;
  color: #5F5FBD;
}
.content-body .skill, .content-body .name{
  color: #5350b4;
}
