<% user = business.employer %>
<% rating_per_criteria_hash = rating_per_criteria(business) %>


<div class="feed-list">
  <fiqure class="feed-thumb">
    <%= link_to image_tag(user.profile_photo_url(:small), :alt =>"img") , user_path(user.username)%>

  </fiqure>
  <div class="feed-arrowbox">
    <div class="feed-top">
      <h5><%= link_to user.business_or_full_name.try(:titleize) , user_path(user.username) %></h5>
      <i class="icn-flag"></i>
      <%= render :partial => 'shared/stars' , :locals => { :y_star =>  business.average_rating , :percent_rate => (100*(business.average_rating/5)), :options => {small: true} } %>
      
      <%#= image_tag "flag.png", :alt =>"flag" , :style => "width:20px,height:14px;" %>
 
    </div>
    <div class="feed-body">
      <p id="<%= business.id %>_less_text">
        <%= truncate(business.feedback_text , length: 200, omission: '...') %>
      </p>

      <p id="<%= business.id %>_more_text">
        <%= business.feedback_text %>
      </p>

 

      <% if !business.feedback_text.blank? && business.feedback_text.length > 50 %>
      
        <p class="more_p">
          <%= link_to "More..." , "javascript:void(0)" , :id => business.id.to_s + "_more_link" %>
        </p>

        <p class="less_p">
          <%= link_to "Less..." , "javascript:void(0)" , :id => business.id.to_s + "_less_link" %>
        </p>

      <% end %>

    </div>
    <div class="feed-foot"><%= timeago_tag business.feedback_submited_at , :nojs => true, :limit => 2.days.ago %></div>
  </div>
</div>
