<div id="addReferalModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5 class="modal-title">Add to my prefered referal</h5>
      </div>
      <div class="modal-body">
        <% if @response[:already_exist]  %>
          <%= render :partial => 'users/referals/already_exist' %>
        <% elsif @response[:multiple_skills] %>
          <%= render :partial => 'users/referals/multiple_skills' %>
        <% end %>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>

