<% @rated_business_array.each do |business| %>
	<%= render :partial => 'display_feedback_per_business' , :locals=>{:business => business }%>
<% end %> 

<div class="pager-wrap digg_pagination">
	<%= will_paginate @rated_business_array , :param_name => :rating_page %>
</div>