<% if !current_user.already_rated?(@user) || !@business.is_feedback_submitted?  %>
	<h4 class="heading_t"><span></span> Please provide your feedback</h4>
	
	<div id='response-message'></div>

	<div class="feedback_textarea">
		<% if !current_user.already_rated?(@user) %>
			<div class="right_rating_box">
			  <div class="right_row">
			      <div class="rat_left">Experience : </div>
			      <div class="rat_right">
					<%= ratings_for @business,:show_user_rating => true, :member => {:rate => :post},:remote_options => {:url =>rate_user_path(@business)} ,:dimension => :experience %>
			      </div>
			  </div>
			  <div class="right_row">
			      <div class="rat_left">Professionalism :  </div>
			      <div class="rat_right">
					<%= ratings_for @business,:show_user_rating => true, :member => {:rate => :post},:remote_options => {:url =>rate_user_path(@business)} ,:dimension => :professionalism %>
			      </div>
			  </div>
			  <div class="right_row">
			      <div class="rat_left">Timeliness :  </div>
			      <div class="rat_right">
					<%= ratings_for @business,:show_user_rating => true, :member => {:rate => :post},:remote_options => {:url =>rate_user_path(@business)} ,:dimension => :timeliness %>
			      </div>
			  </div>
			  <div class="right_row">
			      <div class="rat_left">Price : </div>
			      <div class="rat_right">
					<%= ratings_for @business,:show_user_rating => true, :member => {:rate => :post},:remote_options => {:url =>rate_user_path(@business)} ,:dimension => :price %>
			      </div>
			  </div>
			  <div class="right_row">
			      <div class="rat_left">Overall Value : </div>
			      <div class="rat_right">
					<%= ratings_for @business,:show_user_rating => true, :member => {:rate => :post},:remote_options => {:url =>rate_user_path(@business)} ,:dimension => :workquality %>
			      </div>
			  </div>
			</div>
		<% end %>

		<% if !@business.is_feedback_submitted? %>
			<h4 class="heading_t"><span></span>Feedback text</h4>
			<%= form_for @business , :url => post_feedback_users_path(@business) , :validate => true , :html => {:id => 'feedback_form'}, remote: true  do |f| %>
				<%= f.text_area :feedback_text , :maxlength=>"160"  %>
				<%= f.submit "Submit" ,:class=>"btn_r2 btn btn-primary btn-sm" %>
			<% end %>
		<% end %>
	</div>
<% end %>	
