<div class="left-sidebar brown">
  <div class="brand-name">
    <fiqure class="thumb-squre">
      <%= image_tag @user.profile_photo_url(:profile), :alt =>"img"%>
      <!-- <img src="/assets/profile/window.png" alt=""> -->
    </fiqure>

  <div id="myCarousel" class="tumb_imgbox carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <% @user.photos.each_slice(4).to_a.each_with_index do |photos,index| %>  
        <div class="item <%= (index == 0) ? 'active' : '' %>">
          <% photos.each do |photo| %>
            <div class="thumb_img">
              <%= link_to image_tag(photo.name_url(:small), :alt =>"img"), user_photo_path(@user,photo), :remote => true %>
         
              </a>  
            </div>  
          <% end %>  
        </div>
      <% end %> 
    </div>

    <% if @user.photos.size > 4 %>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        &lsaquo;
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
       &rsaquo;
      </a>
    <% end %>  
    
  </div>

    <div class="clear"></div>

    <% unless @user.claimed? %>
      <div>
        <%= link_to 'Claim This Page Now', new_user_password_path, class: 'btn btn-info' %>
      </div>  
    <% end %>  
    
    <h2><%= @user.business_or_full_name.try(:titleize) %></h2>

    <h4><%= @user.tag_line.try(:titleize) if @user.tag_line %></h4>

    <!-- <h4><%#= truncate(@user.get_skills.join(" , ") , length: 23, omission: '...') if @user.skills%>
    </h4> -->
  </div>
  <div class="rating">
    <h5>GLOBAL RATING :</h5>
    <%= render :partial => 'shared/stars' , :locals => { :y_star =>  @user.rating_average , :percent_rate => ((@user.rating_average/5)*100), :options => {} } %>
  </div>
  <span class="sep"></span>
  <div class="contact-info">
    <ul class="list-unstyled">

      <% if visible_field?(:email, current_user, @user) %>
        <li>
          <i class="icn-mail"></i>
          <span class="overflow"><%= @user.email %></span>
        </li>
      <% end %>  

      <% if visible_field?(:address, current_user, @user) %>
        <li>
          <i class="icn-home"></i>
          <span class="overflow"><%= @user.address_1 %><br><%= @user.address_2 %> <br><%= @user.city %> <%= @user.postal_code %></span>
        </li>
      <% end %>

      <% if visible_field?(:phone, current_user, @user) %>
        <li>
          <i class="icn-phone"></i>
          
          <% if visible_field?(:cell_phone, current_user, @user) %>              
            <span class="overflow">Mobile: +<%= @user.cell_phone %></span>
          <% end %>  

          <% if visible_field?(:contact_phone, current_user, @user) %>
            <span class="overflow">Phone: +<%= @user.contact_phone  %></span>
          <% end %>  
        </li>
      <% end %>

      <% if visible_field?(:website, current_user, @user) %>  
        <li>
          <i class=""></i>
          <span class="overflow">Website: <%= link_to @user.website, @user.website, :target => '_blank' %></span>
        </li>  
      <% end %>

    </ul>
  </div>
  <div class="btn-wrap">

    <%= link_to 'Edit Profile', edit_user_registration_path ,:class=>"btn btn-primary btn-sm" if (current_user && current_user.is?(@user))%>

    <%= link_to (user_signed_in? && current_user.is?(@user) ? 'Edit Photos' : 'View Photos'), user_photos_path(@user),:class=>"btn btn-primary btn-sm" , :role=>"button"  %>
  </div>

  <% if @user.business_user? || @user.premium_user? %>
    <span class="sep"></span>
    <h5>MY EXPERTIES AND SKILLS</h5>
    <% if current_user && !current_user.is?(@user) &&  !current_user.is_admin? %>
      <% if current_user.can_refer?(@user)  %>
        <span><%= link_to image_tag('addreff.png'), edit_referal_user_path(@user), :remote => true, :method => :post, :id => 'add-referal' %></span>
      <% end %>  
    <% end %>  
    <div class="category">
      <ul class="list-unstyled">
        <% @user.skills.each do |skill| %>
          <li><%= skill.name.titleize %>
          <% if current_user && !current_user.is?(@user) && @refered_skill_ids.include?(skill.id) %>
            <span class='icon-ok label label-info' style='float:right;'>Added</span></li>
          <% end %>  
        <% end%>
      </ul>
    </div>
  <% end %>
    

  <% if !@user.facebook_url.blank? || !@user.linkedin_url.blank? || !@user.twitter_url.blank? %>  
    <span class="sep"></span>
    <h5>PERSONAL SOCIAL PROFILES</h5>
    <div class="social">

      <%= link_to "" , facebook_url(@user),:target => "_blank" , :class=>"icn-facebook" if !@user.facebook_url.blank? %>
      <%= link_to "" ,twitter_url(@user) ,:target => "_blank" , :class=>"icn-twitter" if !@user.twitter_url.blank? %>
      <%= link_to "" ,  linkedin_url(@user),:target => "_blank" , :class=>"icn-linkedin" if !@user.linkedin_url.blank?  %>

    </div>
  <% end %>  

  <span class="sep"></span>
  <h5>SHARE WITH SOCIAL MEDIA</h5>
  
  <span class='st_googleplus'></span>
  <span class='st_facebook'></span>
  <span class='st_twitter'></span>
  <span class='st_linkedin'></span>
  <span class='st_pinterest'></span>
  <span class='st_email'></span>

  <span class="sep"></span>
  <h5>ADD FACEBOOK PAGE TAB</h5>
  <div>
  <%= link_to 'Add facebook page tab', 'javascript:void(0);', id: 'add-facebook-tab-btn', class: 'btn btn-info' %>
  </div>
  <div class='push'></div>

</div>

<% content_for :footer do %>
  <div id='modal-container'></div>
<% end %>