<table class='table'>
  <thead>
    <th>Address line 1</th>
    <th>Address line 2</th>
    <th>Postal Code</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
  </thead>

  <tbody>
    <% if @locations.present? %>
      <% @locations.each do |location|%>
        <tr id="<%= dom_id(location) %>">
          <td><%= location.address_1 %></td>
          <td><%= location.address_2 %></td>
          <td><%= location.postal_code %></td>
          <td><%= location.city %></td>
          <td><%= location.state_code %></td>
          <td><%= location.country_code %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="6">No more locations yet...</td>
      </tr>      
    <% end %>  

  </tbody>
</table>