<div class="profile_cel1">

	<div class="profile_picbox">
		<%= image_tag @user.profile_photo_url(:profile), :alt =>"img"%>
	</div>

	<div class="tumb_imgbox">

		<% @user.photos[0..4].each do |photo| %>	
		  <div class="thumb_img">
		    <%# if !photo.is_profile_picture? %>
			    <a data-toggle="modal" href="<%= user_photo_path(@user,photo) %>" data-target="#myModal"><%= image_tag photo.name_url(:small), :alt =>"img" %> 
			    </a>
			<%# else %>
			    <%#= image_tag photo.name_url(:small), :alt =>"img" %>
			<%# end %>    
		  </div>
		<% end %>  
	  
	  <div class="clear"></div>
	</div>

	<div class="gobal_title">
	  <h1> <%= @user.business_or_full_name.try(:titleize) %> 
	  	<span> 
	  		<%= truncate(@user.get_skills.join(" , ") , length: 23, omission: '...') if @user.skills%>
	  	   <%#= truncate(["Ruby On Rails" , "Grapgics" , "Java","J2EE","PLSQL"].join(', ') , length: 23, omission: '...') if @user.skills%> 
	  	</span> 
	  </h1>
	  <div class="global_h"> 
	  	<span>Global Rating :</span> 
	  	<span>
	  		<%= render :partial => 'shared/stars' , :locals => { :y_star =>  @user.rating_average , :percent_rate => ((@user.rating_average/5)*100), :options => {} } %>
	  	</span> 
	  </div>
	</div>

  <div class="psl_text">

    <div class="detail_r"> <strong>Email: </strong>
      <%= @user.email %> 
    </div>

		<div class="detail_r"> 
	    <strong class="left_c">Address: </strong>
	    <p class="right_c"> <%= @user.address_1 %><br />
	      <%= @user.address_2 %><br />
	      <%= @user.city %> <%= @user.postal_code %>
	     </p>
	    <div class="clear"></div>
		</div>


    <div class="detail_r"> 
      <strong>Contact: </strong>+<%= @user.contact_phone %> 
    </div>

    <div class="detail_r"> 
      <strong>Cell No. : </strong>+<%= @user.cell_phone %> 
    </div>

	  <div class="btn_box">
			<%= link_to 'Edit Profile', edit_user_registration_path ,:class=>"btn_r1" if user_signed_in? && current_user.is?(@user) %>

			<%#= link_to 'Edit Photos', user_photos_path(@user),:class=>"btn_r1"   %>
	  </div>

	  <% if @user.business_user? || @user.premium_user? %>
	    <div class="my_exp">
	      <h2>My Experties And Skills</h2>
	      <p>
	      	<%= @user.skills.map{|skill| skill.name.titleize}.join(', ') %>
	      </p>
	    </div>
	  <% end %>  
  </div>

	<div class="personl_soc">
	  <h2>Personal Social Profiles</h2>
	  <p>
	  	<%= link_to (image_tag "fb.png", :alt =>"fb") , facebook_url(@user),:target => "_blank" %>
	  	<%= link_to (image_tag "twitter.png", :alt =>"twitter") ,twitter_url(@user) ,:target => "_blank"%>
	  	<%= link_to (image_tag "in.png", :alt =>"in") ,  linkedin_url(@user),:target => "_blank"%>
	  </p>
	</div>
</div>