Global Rating : <%= render :partial => 'shared/stars' , :locals => { :y_star =>  @user.rating_average , :percent_rate => ((@user.rating_average/5)*100), :options => {} } %>


<% if current_user && (current_user.id != @user.id)  %>
   <% if current_user.already_rated?(@user) %>
   	 <%= render :partial => 'display_feedback_per_business' , :locals=>{:business=> @business } %>
   <%else%>	
		<%= render :partial => 'form_for_feedback'%>
   <% end %>	
<% elsif @business %>
   <% @user.employee_businesses.rated.each do |business| %>
   	 <%= render :partial => 'display_feedback_per_business' , :locals=>{ :business => business }%>
   <% end %>	
<% end %>	