<div class="title-head">
  <span class="pr-section">

    <%= image_tag("preferred-refferal.png")%>

    <% if current_user && current_user.is?(@user) %>
      <%= link_to image_tag("add_edit.png"), referals_path %>
    <% end %> 
    
  </span>
</div>

<% if @referals.present? %>
	<% @referals.each do |referal| %>  
	  <%= render :partial => "referred_user" , :locals => {:user => referal.referred_user , :skill => referal.skill}%>
	<% end %>
<% else %>
  <div class=''>No preferrred refferal present yet	...</div>
<% end %>  


<div class="next-prev">
  <div class="pager-wrap digg_pagination">
    <%= will_paginate @referals, :param_name => :referal_page %>
  </div>
</div>