<div class="profile_cel3">

  <!-- About My Company Start -->
  <% if @user.business_user? || @user.premium_user? %>
	  <div class="company_box">
	  	  <h2 class="heading_t"><span></span>About My Company</h2>
		  <div class="psl_text">
		    <p>
	      	  <%= @user.about_company.try(:html_safe) %>
	        </p>
		  </div>
	  </div>
	<% end %>
  <!-- About My Company Start -->

  <!-- Feed back Form Start -->
	  <% if current_user && (current_user.id != @user.id) %>
	   
       <% if current_user.already_rated?(@user) %>
         <%= render :partial => 'display_feedback_per_business' , :locals=>{:business=> @business } %>
       <%else%>
        <%= render :partial => 'form_for_feedback'%>
       <% end %>

	  <% end %>
  <!-- Feed back Form Start -->

<h2 class="heading_t"><span></span> Feedback’s</h2>

<div class="cmt_box">
	<!-- Feedbacks Start -->
	<% @rated_business_array.each do |business| %>
   	<%= render :partial => 'display_feedback_per_business' , :locals=>{ :business => business }%>
  <% end %>
	<!-- Feedbacks Start -->

	<div class="clear"></div>
	<% if @rated_business_array.size > 3 %>
		<div class="see_more">
			<a href="#" class="btn_r2">See More Feedbacks</a>
		</div>
	<% end %>
</div>


  <h2 class="heading_t prefered"><span></span>
    Preferred Referrals
    <% if current_user %>
      <% if @user.is?(current_user) %>
        <%= link_to "+Add", referals_path , class: 'btn btn-primary'%>
      <% end %>  
    <% end %>
  </h2>

  <!-- Prefered Refferels start -->
    <%= render :partial => 'referred_users' , :locals => {:referred_users =>@referred_users} %>
  <!-- Prefered Refferels end -->

</div>
