<div class="right-sidebar">
  <div class="sidebar-top brown">
    <div id="referred_users" class="content-region">
      <%= render :partial => "referred_users_container" %>
    </div>

  </div>
  <div class="sidebar-bottom brown">

    <div class="feed-title">
      <div class="feed-box">
          LATEST FEEDBACKS
      </div>
      <a href='javascript:void(0)'>Add Rating/Feedback+</a>
    </div>

    <div id="feedback-ratings" class="feed-content">
      <%= render :partial => "feedback-ratings" %>
    </div>

  </div>
</div>

<% content_for :footer do %>
  <script type="text/javascript">
    $(function () {  
       $('.right-sidebar .digg_pagination .pagination a').attr('data-remote', 'true')
    });  
  </script>
<% end %>