<% if @response[:success] %>
  <% if @response[:new_referal] %>
    $('#add-referal').replaceWith('<span style="color:green;">Added to Preferred referrrals</span>')
  <% else %>
    $("<%=escape_javascript(render :partial=>'edit_referal' )%>").modal();
  <% end %>
<% else %>
  $('#response-message').html('');
  $('#response-message').html("<%=j render :partial => 'shared/messages', :locals => { :alert => @response[:message] } %>")
<% end %>