<% if @business.errors.any? %>
  $('#response-message').html('<span style="color:red;"><%= @business.errors.full_messages.join(",") %></span>');
<% else %>
  $('#response-message').html('<span style="color:green;">Feedback submitted successfully</span>');
  location.reload(true);
<% end %>