 <% referred_users.each do |user| %>
    <div class="row-fluid search_listbox">
		 
        <div class="list_row show_row">
          <div class="list_fcell">
            <a href="#">
              <%= link_to (image_tag user.profile_photo_url(:thumb), :alt =>"img") , user_path(user.username) %>
            </a>
          </div>
 
          <div class="com_text">
            <div class="arrow_c"></div>
            <div class="com_text_left">
              <h4><span><%= user.username.try(:titleize) if user.username %></span>
                <span> <%= user.name.try(:titleize) if not user.username %></span>
                <%= image_tag "flag.png", :alt =>"flag" , :style => "width:20px,height:14px;" %>
              </h4>

              <div class="clear"></div>
              <p>
                <%= user.skills.map(&:name).join(', ')  if user.skills%>

              </p>
            </div>
          </div>
      </div>
	</div>
<% end %>