<% content_for :head do %>
  <%= javascript_include_tag "users" %>
<% end %>

<% if @downline_members.present? %>
	<h4>DownLine Users</h4>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Sign Up Date</th>
			<th>Downline Level</th>
			<th>Downline Members</th>
		</tr>
		<% @downline_members.each do |downline1_member| %>
			<tr>
				<td>
					<%= downline1_member.name %>
				</td>
				<td>
					<%= downline1_member.email %>
				</td>
				<td>
				  <%= downline1_member.created_at.strftime("%d-%b-%Y") %>
				</td>
				<td>
				  <%= "First" %>
				</td>				
				<td>
					<%= link_to 'Show downline users', 'javascript:void(0)', class:'btn btn-primary show_downline', id: downline1_member.id.to_s if downline1_member.downline_members.present? %>
				</td>
			</tr>
			<% downline1_member.downline_members.each do |downline2_member| %>
				<tr class='success hide downline2 downline2<%=downline1_member.id.to_s%>' >
					<td>
						<%= downline2_member.name %>
					</td>
					<td>
						<%= downline2_member.email %>
					</td>
					<td>
						<%= downline2_member.created_at.strftime("%d-%b-%Y") %>
					</td>
				<td>
				  <%= "Second" %>
				</td>									
					<td>
						<%= link_to 'Show downline users', 'javascript:void(0)', class:'btn btn-primary show_downline1', id: downline2_member.id.to_s if downline2_member.downline_members.present? %>
					</td>  
				</tr>
				<% downline2_member.downline_members.each do |downline3_member| %>
					<tr class="info hide downline3 downline3<%= downline2_member.id.to_s %> inner_line<%= downline1_member.id.to_s %>">
						<td>
							<%= downline3_member.name %>
						</td>
						<td>
							<%= downline3_member.email %>
						</td>									
						<td>
							<%= downline3_member.created_at.strftime("%d-%b-%Y") %>
						</td>
						<td colspan="2">
						  <%= "Third" %>
						</td>							
					</tr>
			  <% end %>		
			<% end %>
		<% end %>
	</table>
	
	<%# if current_user.eligible_for_requesting_reward? %>
		<%#= link_to 'Request Payment', request_pay_user_path(current_user), class:'btn btn-primary' %>
	<%# end %>
  
	<% if current_user.is_request_reward %>
	  <h5> Payment Request is sent for approval </h5>
	<% end %>
    
<% else %>
  <h4>There is no downline users exists.</h4>
<% end %>
