<% if params[:referal_page] %>
	$("#referred_users").html("<%= escape_javascript(render :partial => 'referred_users_container' ) %>");  
<% elsif params[:rating_page] %>
	$("#feedback-ratings").html("<%= escape_javascript(render :partial => 'feedback-ratings' ) %>");  
<% end %>

$('.digg_pagination#feedback-ratings .pagination a , .digg_pagination#referred_users .pagination a').attr('data-remote', 'true');