<% content_for :head do %>
  <%= stylesheet_link_tag  "profile/theme/common" %>
  <%= stylesheet_link_tag  "profile/theme/#{@user.profile_theme.to_s}"%>
<% end %>

<%= render :partial => "shared/meta_tags"%>

<div class="row-fluid wrap">
  <div class="fea-frame">

    <div class="span12">
      <div class="main">
          <!--left sidebar-->
          <%= render :partial => "left_sidebar"%>
          <!--/left sidebar-->
          <!--content-->
          <div class="content-wrap">
<!--             <h2 class="title brown">
              <span class="heading">Preferred Referrals</span>
            </h2> -->


            <div class="panel with-nav-tabs panel-default tab-wrap">
                <div class="panel-heading">
                  <ul class="nav nav-tabs">
                      <li class="active"><a href="#tabReferral" data-toggle="tab">Preferred Referral</a></li>
                      <li><a href="#tabFeedback" data-toggle="tab">Feedback & Ratings</a></li>
                      <li><a href="#tabBio" data-toggle="tab">Company Bio</a></li>
                      <li><a href="#tabLocations" data-toggle="tab">Locations</a></li>
                  </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tabReferral">
                          <div class="content">
                            <%= render :partial => "referred_users_container" %>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="tabFeedback">
                          <div class="content">
                            <% if user_signed_in? %>
                              <% if @business.present? && !current_user.already_rated?(@user) %>
                                <%= link_to 'Provide Feedback', '#', :class => 'blue-btn', data: { toggle: 'modal', target: '#feedbackModal' } %>
                                <h4 class="heading_t"> </h4>

                                <div id="feedbackModal" class="modal hide fade" tabindex="-1">
                                  <div class='modal-header'>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h3 class="modal-title">Feedback & Ratings</h3>
                                  </div>
                                  <div class='modal-body'>
                                    <div class="modal-body-content"> 
                                      <%= render :partial => 'form_for_feedback' , :locals => {:business => @business}%>
                                    </div>
                                  </div>
                                </div>
                              <% end %>
                            <% else %>  
                              <%= link_to 'Login In', new_user_session_path(user_url: user_url(@user.username)), :class => 'blue' %>&nbsp; to provide feedback and ratings for <strong><%= @user.business_or_full_name.try(:titleize) %></strong>
                              <h4 class="heading_t"> </h4>
                            <% end %>
                            <%= render :partial => "feedback-ratings" %>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="tabBio">
                          <!-- About My Company Start -->
                          <% if @user.business_user? || @user.premium_user? %>
                            <div class="company_box">
                              <div class="psl_text">
                                <p>
                                  <%= (@user.about_company.presence || 'Not Available').try(:html_safe) %>
                                </p>
                              </div>
                            </div>
                          <% end %>
                          <!-- About My Company Start -->
                        </div>
                        <div class="tab-pane fade" id="tabLocations">
                          
                          <%= render :partial => 'locations'%>

                        </div>
                    </div>
                </div>
            </div>



          </div>
         
      </div>
    </div>

    <!-- <div class="span3">
      <%#= render :partial => "right_sidebar"%>
    </div> -->
  </div>  
</div>  

<% content_for :footer do %>
  <script type="text/javascript">
    $('#add-facebook-tab-btn').on('click', function(){
        // FB.ui({
        //   method: 'pagetab',
        //   redirect_uri: 'https://www.riszil.com'
        // }, function(response){console.log(response.tabs_added)
        // });      

          FB.login(function(response) {
            if (response.authResponse) {
              window.location = 'https://www.facebook.com/dialog/pagetab?app_id=203541093433930&redirect_uri=https://www.riszil.com/fbhome'
            } else {
             console.log('User cancelled login or did not fully authorize.');
            }
          });        
    });

    $(function () {  
       $('.right-sidebar .digg_pagination .pagination a').attr('data-remote', 'true')
    });  
    
  </script>
<% end %>

<!-- redirect_uri=http://test.riszil.com:3000/fbhome: 341542719545414 -->


<% content_for :footer do %>
  <script>
    $(window).bind("load", function() {
      var switchTo5x=true;

      <% if Rails.env.production? %>
        $.getScript('<%= asset_root_url %>/social_prod.js', function() {});
      <% else %>
        $.getScript('<%= asset_root_url %>/social_dev.js', function() {});
      <% end %>  
    });
  </script>
<% end %>