<% content_for :head do %>
  <% provide(:title, @user.name) %>
<% end %>

<div id="continer">

	<!-- First Div Start-->
		<%= render :partial => "profile"%>	
	<!-- First Div End-->

	<!-- Second Div Start-->
		<%= render :partial => "middle_content"%>	
	<!-- Second Div End-->

	<!-- Third Div Start-->
		<%= render :partial => "feedback"%>	
	<!-- Third Div End-->

	<!-- Fourth Div Start-->
		<div class="clear"></div>
	<!-- Fourth Div End-->

</div>


<div class='rating'>
  <%#= render :partial => 'rating'%> 
</div>