$('#response-message').html('');
<% if @responce[:success] %>
  $('#response-message').html("<%=j render :partial => 'shared/messages', :locals => { :notice => @responce[:message] } %>")
<% else %>
  $('#response-message').html("<%=j render :partial => 'shared/messages', :locals => { :alert => @responce[:message] } %>")
<% end %>
