<h2>Change your password</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  
  <%= render :partial => 'shared/error_messages', :locals => {:target => resource}%>

  <%= f.input :reset_password_token, :as => :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= f.input :password, :label => "New password", :required => true, :autofocus => true, input_html: { class: 'form-control' } %>
    <%= f.input :password_confirmation, :label => "Confirm your new password", :required => true, input_html: { class: 'form-control' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Change my password", class: 'btn btn-info' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
