<% content_for :head do %>
    <%= stylesheet_link_tag "sign_in" %>
<% end %>

<div class="login_main_box forgot_password">
  <h2>Reset your password</h2>
  <%= render :partial => 'shared/error_messages', :locals => {:target => resource}%>
    
  <div class="login_box">
  <div class="login_middle">
    <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <div class="login_middle_r">
        <%= image_tag('user_img.png' ,:alt=>"user") %>
        <%= f.email_field :email, :required => false, :autofocus => true , :placeholder=>"Email" %>
      </div>
      <div class="login_btn_r">
        <%= f.button :submit, "Send me reset password instructions" ,:class=>"btn_r1"%>
      </div>
    <% end %>
    </div>
    <p>Don't have an account?  <%= link_to "Sign up now!", new_registration_path(resource_name) %></p>
  </div>
</div>