<% if !target.blank? && target.errors.any? %>  
  <div class="alert alert-danger errorExplanation">  
    <h2><%= pluralize(target.errors.count, "error") %> prohibited this record from being saved:</h2>  

		<ul>
			<% target.errors.each do |atr, msg| %>
        <li>
          <% if atr.to_s.include? "base" %>
          	<%= 'Credit card' if atr.to_s.include? "payment_detail" %>
            <%= msg %>
          <% else %>
            <%= target.errors.full_message(atr, msg) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>  
<% end %>  