<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Invite</title>
</head>

<body style="padding:0; margin:0; background:#FBFBFB;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#333;">
  <tr>
    <td><table width="800" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="<%= asset_root_url %>/emails/header-img.jpg" width="800" height="166" alt="Riszil, The Rating & Referral site"  style="border:0;"/></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top"><table width="800" border="0" align="center" cellpadding="0" cellspacing="0" style="border-bottom:solid 10px #fff;">
      <tr>
        <td valign="top" background="<%= asset_root_url %>/emails/bg.png"><table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td height="22" align="center" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="center" valign="top" style="color:#0092df; font-size:48px; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;"><%= options[:reciever_name] || '' %></td>
          </tr>
          <tr>
            <td height="22" align="center" valign="top">&nbsp;</td>
          </tr>

          <tr>
            <td align="center" valign="top" style="color:#333; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-style:italic; font-size:20px;">
            <%= link_to options[:sender_full_name], options[:sender_profile], :target => '_blank', :style=> "color:#0092df;text-decoration: none;" %>
            <%= "from #{options[:sender_business_name]}" if options[:sender_business_name].present? %>
            would like to invite you to join his Riszil elite network</td>
          </tr>

          <% if options[:comment].present? %>
            <tr>
              <td height="50" align="center" valign="top">
                <table width="80%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="center" style="border: 1px solid #ccc; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;color: #666; font-size: 18px;    font-style: italic;    font-weight: bold;    padding: 5px 5px 13px;    text-align: center;    vertical-align: middle;">
                      <span style="font-size:30px;color:#ccc;font-family: times new roman;">&quot;</span> 
                      <%= options[:comment] || ''%>
                      <span style="font-size:30px; color:#ccc;  font-family: times new roman;">&quot;</span>
                    </td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </table>
              </td>
            </tr>
          <% end %>  

          <tr>
            <td align="center" valign="top" style="font-size:16px; color:#333; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-weight:bold;">A new and easy way to find the professional <br />
              you are looking for</td>
          </tr>
<!--           <tr>
            <td height="35" align="center" valign="top">&nbsp;</td>
          </tr> -->
          <tr>
            <td align="center" valign="top"><img src="<%= asset_root_url %>/emails/banner.png" height="500" alt="Refferal Picture" style="border:0;"/></td>
          </tr>
          <tr>
            <td align="center" valign="top">&nbsp;</td>
          </tr>
<!--           <tr>
            <td align="center" valign="top">
              <a href="<%= new_invite_url %>">
                <img src="<%#= asset_root_url %>/emails/dollar-img.png" alt="Win a 1,000 dollars contest"  width="356" height="118" style="border:0;"/>
              </a>
            </td>
          </tr> -->
          <tr>
            <td align="center" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="center" valign="top"><img src="<%= asset_root_url %>/emails/banner2.png" width="656" height="62" alt="Join now and start building your own elite network" style="border:0;"/></td>
          </tr>
          <tr>
            <td height="35" align="center" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="9%"><img src="<%= asset_root_url %>/emails/arow.png" width="44" height="37" alt="Check mark" style="border:0;" /></td>
                <td width="91%" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#333333;"><p style="color:#0098e0; font-size:18px; text-transform:uppercase; margin:0; padding:0; ">FREE TO SEARCH AND FREE TO LIST</p>
                  No obligation to search or to list your business </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td height="20" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#333333;">&nbsp;</td>
              </tr>
              <tr>
                <td><img src="<%= asset_root_url %>/emails/arow.png" width="44" height="37" alt="Check mark" /></td>
                <td style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#333333;"><p style="color:#0098e0; font-size:18px; text-transform:uppercase; margin:0; padding:0; ">BROAD LIST OF SERVICE PROVIDERS</p>
                  Search our wide array of  Contractors, Professionals <br />

and Tradesmen </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td height="20" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#333333;">&nbsp;</td>
              </tr>
              <tr>
                <td><img src="<%= asset_root_url %>/emails/arow.png" width="44" height="37" alt="Check mark" /></td>
                <td style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#333333;"><p style="color:#0098e0; font-size:18px; text-transform:uppercase; margin:0; padding:0; ">COMPLETE INFORMATION on the listed PROFESIONALS</p>
                  View every service provider’s profile information, ratings<br />
 
and feedback and see who best fits your needs. </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td height="20" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#333333;">&nbsp;</td>
              </tr>
              <tr>
                <td><img src="<%= asset_root_url %>/emails/arow.png" width="44" height="37" alt="Check mark" /></td>
                <td style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#333333;"><p style="color:#0098e0; font-size:18px; text-transform:uppercase; margin:0; padding:0;">PREFERRED REFERRAL SECTION</p>
                  Instead of searching and reading reviews on a specific provider (i.e mechanic), you can save time by looking up your previously hired provider (let’s say carpenter) and see who their preferred mechanic is. Easy as 1, 2, 3. </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td height="50">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="68%" align="right" valign="middle" style="font-size:15px; font-weight:bold; color:#0098e0; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;">Thank you for joining my network. :)</td>
                <td width="32%" align="right" valign="middle">
                  <a href="<%= new_user_registration_url(:affiliate_token => (options[:affiliate_token] || ''), :invite_token => options[:invite_token] || '') %>"><img src="<%= asset_root_url %>/emails/btn-1.png" width="196" height="45" alt="Signup to Riszil"  style="border:0;"/></a>
                </td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="30" align="left" valign="top">&nbsp;</td>
          </tr>
          </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="800" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="80" align="center" valign="middle" bgcolor="#0098e0" style="border-top:10px solid #eba12a;"><img src="<%= asset_root_url %>/emails/btm-img.png" width="418" height="45" alt="At Riszil we make it easy for you" /></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
