<div class='curve_box locations'>

  <h3>Primary location</h3>
  
  <div class='address-setting'>
    Want to show Address on profile page ?
    <span><%= check_box_tag 'user[settings][address]', true, f.object.settings[:address], data: {toggle: "tooltip"}, title: "Enable visibility on profile page" %></span>
  </div>

  <div class="sing_up_r">

    <div class="sing_up_cell1">
      <%= f.text_field :address_1, class: 'form-control', placeholder: 'Addres line 1' %>
    </div>

    <div class="sing_up_cell1">
      <%= f.text_field :address_2, class: 'form-control', placeholder: 'Addres line 2' %>
    </div>
  
    <div class="clear"></div>
  </div>  

  <div class="sing_up_r">

    <div class="sing_up_cell1">
      <div class='city-zip-wrapper'>
        <div class='postal-code'>
          <%= f.text_field :postal_code ,:class=>"form-control user_postal_code", placeholder: 'Postal code' %>
        </div>
        <div class='city'>
          <%= f.text_field :city, class: 'form-control city-field', placeholder: 'City' %>
          <%= f.hidden_field :country_code , :value => 'US', class: 'form-control' %>  
        </div>        
      </div>  
    </div>

    <div class="sing_up_cell1">
      <%= subregion_select(f.object.class.name.underscore , :state_code, "US", class: 'form-control state-select') %> 
    </div>
  
    <div class="clear"></div>
  </div>

  <h3>Other locations &nbsp; <%= f.check_box :other_locations %></h3>

  <div id='other-locations-div'>
    <div class='address-setting'>
      <%= link_to 'Click here', locations_path, target: '_blank' %> to upload <%= link_to 'Locations', locations_path, target: '_blank' %> or edit Locations from bulk csv file or manually enter below.
    </div>

    <%= f.fields_for :locations do |location| %>
      <div class="location" data-persisted="<%= location.object.persisted? ? true : false %>">
        <div class="sing_up_r">

          <div class="sing_up_cell1">
            <%= location.text_field :address_1, class: 'form-control', placeholder: 'Addres line 1' %>
          </div>

          <div class="sing_up_cell1">
            <%= location.text_field :address_2, class: 'form-control', placeholder: 'Addres line 2' %>
          </div>
        
          <div class="clear"></div>
        </div>

        <div class="sing_up_r">

          <div class="sing_up_cell1">
            <div class='city-zip-wrapper'>
              <div class='postal-code'>
                <%= location.text_field :postal_code ,:class=>"form-control user_postal_code", placeholder: 'Postal code' %>
              </div>

              <div class='city'>
                <%= location.text_field :city, class: 'form-control city-field', placeholder: 'City' %>
                <%= location.hidden_field :country_code , :value => 'US', class: 'form-control' %>  
              </div>

              <%= location.link_to_remove "Remove this location", class: 'btn btn-sm btn-danger btn-remove-location' %>
            </div>  
          </div>

          <div class="sing_up_cell1">
            <%= subregion_select(f.object.class.name.underscore , :state_code, "US", class: 'form-control state-select') %>
          </div>
        
          <div class="clear"></div>
        </div>
      </div>
    <% end %>  

    <div class="sing_up_r">

      <%= f.link_to_add "+ Add Location", :locations, class: 'btn btn-sm btn-success btn-add-location pull-left' %>

      <% if f.object.persisted? %>  
        <%= link_to "Save locations", 'javascript:void(0)', class: 'btn btn-sm btn-info pull-right', id: 'save-locations' %>
      <% end %>

      <div class="clear"></div>
    </div>

  </div>  

</div>  

<%- content_for :footer do %>
  <script type="text/javascript">
    $("#other-locations-div").toggle($("#user_other_locations").is(':checked'));

    $("#user_other_locations").on('change', function(){
      $("#other-locations-div").toggle($(this).is(':checked'));      
    });

    $("a#save-locations").on('click', function(event){
      event.preventDefault();
      event.stopPropagation();

      var locations_data = {};
      locations_data.locations = {};
      var form = $(this).parents('form');
      var locations = form.find('.location[data-persisted=false]:visible');

      if (locations.length){
        $.each( locations, function( index,location ) {

          var data = {};
          var loc  = $(location).find('input,select').serializeArray();
          
          $.each( loc, function( index,obj ) {
            data[obj.name] = obj.value;
          });

          locations_data.locations[index] = data;
        });
        // TODO: Show message like, you have selected 2 locations, it will charge $ 1 per location
        if (confirm('Are you sure?')) {
          $.ajax({    
              type: 'POST',  
              url: '/save_locations',  
              data: locations_data,  
              dataType: 'script',
              beforeSend:function(xhr, settings){
               // settings.data += '&moreinfo=MoreData';
               // alert('before send')
              },
              success:function(data){
                      //  json response  
              },
              error: function(data) { 
                  // if error occured
              }
          });
        }
      }else{
        alert("Please Add atleast one location");
      }  
    });
  </script>
<% end %>