<% set_meta_tags :title => @user.business_or_full_name.try(:titleize), :site => 'Riszil' %>
<% set_meta_tags :keywords => @user.get_skills.join(" , ") if  !@user.get_skills.blank? %>

<% 
  set_meta_tags :og => {
    :site_name => "Riszil",
    :title    => meta_title ,
    :type     => 'profile',
    :url      => meta_url ,
    :description => meta_description,
    :image    =>  meta_image_url ,
    :profile =>{
        :first_name => @user.first_name.try(:titleize) ,
        :last_name => @user.last_name.try(:titleize) ,
        :username => @user.username
      }
    }
  %>

<%#
set_meta_tags :twitter => {
  :card => "player",
  :site => "@sellsimpleapp",
  :title => page_title(@listing,@user),
  :url      => @listing_url,
  :description => page_description(@user,@listing),
  :image    =>  @listing["thumburl"],#absolute_image_path("default-video-thmbnail.png") ,
  :player =>{
    :_      => listing_card_url(@listing["objectId"]),
    :width => 535,
    :height => 535,
    :stream=>{
      :_ => video_url(@listing_video_url),
      :content_type => "video/mp4"
    }
  }
}
%>