<% (@referrals || []).try(:each) do |referral| %>
  <%= render :partial => 'shared/referred_user_row', locals: {user: referral.user, referred_user: referral.referred_user }%>
<% end %>

<div class="users_list digg_pagination">
  <%= will_paginate @referrals, :container => false, :params => { :preferred_referals => true } %>
</div>