<div class="list_row">
   <div class="referred-by">
    
    <div class="user-img"> 
        <%= link_to (image_tag user.profile_photo_url(:thumb), :alt =>"img") , user_path(user.username) %>
    </div>

    <div class="user-info">
      <div class="top_rating">
        <p class="title_n"> 
          <%= user.business_or_full_name.titleize %>
        </p>
        <div class="clear"></div>
      </div>

      <p class="tech_n">  
        <%= show_city_and_state(user) %> <br>
      </p>
      <p class="tech_n">
        <%= truncate(user.skills.map(&:name).join(', ') , length: 50, omission: '...') if user.skills %>
      </p>
    </div>

  </div>  
 
  <div class="show_row referred-user" data-username="<%= referred_user.username %>">
    
    <div class="list_fcell"> 
      <%= link_to (image_tag referred_user.profile_photo_url(:thumb), :alt =>"img") , user_path(referred_user.username) %>
    </div>

    <div class="list_fcel2">
      <div class="top_rating">
        <p class="title_n"> 
          <%= referred_user.business_or_full_name.titleize %>
        </p>
        <div class="clear"></div>
      </div>

      <p class="tech_n">  
        <%= show_city_and_state(referred_user) %> <br>
      </p>
      <p class="tech_n">
        <%= truncate(referred_user.skills.map(&:name).join(', ') , length: 50, omission: '...') if referred_user.skills %>
      </p>
    </div>

    <div class="list_fcel3">
      <div class="hireme">

        <% if @current_user_skill_ids %>
          <%= image_tag('barter-btn-md.png', :alt=>"img" ,:border =>"0") if !(referred_user.barter_skills.map(&:id) & @current_user_skill_ids).blank? %> 
        <% end %>  
              
        <%= render :partial => 'shared/stars' , :locals => { :y_star => referred_user.rating_average , :percent_rate => ((referred_user.rating_average/5)*100), :options => {} } %>

        <div class="prc-btn">
          <%= image_tag "ref-icon.png" ,:class=>"img-ref" %>
          <p class="count-in">
            <span>Riszil </span> <span>Rating</span> 
          </p>
          <strong class="count-txt"><%= referred_user.referred_by_users.size %></strong>
        </div>
      </div>
    </div>

    <div class="clear"></div>
  </div>
</div>
