<% (@users || []).try(:each) do |user| %>
  <%= render :partial => 'shared/user_row', locals: {user: user}%>
<% end %>

<div class="users_list digg_pagination">
  <%= will_paginate @users, :container => false, :params => { :service_providers => true } %>
</div>