<div id="state_code_wrapper">
  <% parent_region ||= params[:parent_region] %>
  <% target ||= @target %>
  <% country = Carmen::Country.coded(parent_region) %>
	
  <% if country.nil? %>
     <em>Please select a country</em>  
  <% elsif country.subregions? %>
    <%= subregion_select(target, :state_code, parent_region) %>
  <% else %>
    <%= text_field(target, :state_code) %>
  <% end %>
</div>