
<h2 class="heading">About the founding of Riszil</h2>

<p>I am George Gilgen, I have spent over 30 years (25 of them being self employed) in the trades, mostly doing hardwood flooring and general contracting work.</p>

<p>I know how hard it is to find jobs, to advertise your business without braking the bank. There was a two things that always bothered me.</p>

<p>First, AAA widgets was always on the top of the list
Second, There was only the information that the business wanted you to know and see.</p>

<p>Some things I realized along the way was that the referral was the very best way to get a job, and when things are slow, sometimes bartering is a great way to get things done without spending the precious financial reserves.</p>

<h2 class="heading">Then came the Blessing from Heaven</h2>

<p>One morning (in 2012) I woke up with this idea pounding in my head to creating an online business listing that could be very cost effective. One that would not list businesses from A-Z but would list businesses based on feedback ratings, proximity to your home base, and by the length of time as a subscriber. It would actually be a little more of an interactive site, where customers are telling us about the business (good & bad) with the ability to leave feedback for the business and the job they received.</p>

<p>One great idea that came from the database engineer, we call it the Preferred Referral. Where instead of creating a network of people like face book where you can have a 100,000 followers and never have talked to any of them. This is a referral of who I would use in my own home. Where you can pick one business from a skill set i.e., one Electrician, one Plumber, one concrete worker. That way when you do that great job for a customer, they might say I wonder if they know an electrician that does great work like they did. Helping to refer or be referred without have to take time out of your busy schedule.</p>
<p>The barter component is not just check box that says to everyone, I want to barter. This is a little more exact. It is more of I have hardwood flooring skills, I need a new roof, not a hanging macrame plant holder or 35 golf lessons, a roof and only a roof. We have it where you check a box for the service or services you need and only the people offering that service can see that you want to trade.</p>  

</br>


<p>Thank you for visiting,</br>
George Gilgen
</p>

</br>

If you have questions, comments, or concerns please <%= link_to "contact us" , contact_us_path%>