<h2>Sign up and start earning money right away!</h2>

<p>It’s simple to get started with the affiliate program.</p>


<ul style="list-style-type: decimal;">
	<li>
		<%= link_to "Create an account" , new_user_registration_path , :target => "_blank"%>  and accept the option "Do you want to join affiliate program ?"
	</li>
	<li>
		Sale, Sale and Sale.
	</li>
	<li>
		Complete your W9 form detail.
	</li>
	<li>
		Request to get paid. (must be over $100.00)
	</li>
</ul>


<h2>Affiliate FAQs</h2>


<ul>
	<li>
		<p><b>Is there a minimum affiliate payout?</b></br>
		Yes, you get paid for every Referral / Sale you make but you must accumulate $100.00 to request a payout.</p>
	</li>
	<li>
		<p><b>How much do I get paid?</b></br>
		You will be rewarded 40% of every Referral / Sale that you make ($20 for the Business plan and $40 for the Premium plan). With a 10% residual that will be paid out as long as the Referral account is active </p>
	</li>
	<li>
		<p><b>How often do you payout?</b></br>
		Payments are sent out every Friday, request must be received by Thursday 12:00 noon MST.</p>
	</li>
	<li>
		<p><b>How often can I request Money?</b></br>
		You can request money as often as you would like. Payouts are only once a week. So if you make three request in a week, all before Thursday, all three payouts will be combined into one payout on Friday.</p>
	</li>
	<li>
		<p><b>Is there a service charge with the payout?</b></br>
		There is one free payout a month. Any additional payouts will be charged a $3.00 processing fee per payout. (The one exception is if the payouts exceed $10,000.00 there will be no processing fee.)</p>
	</li>
	<li>
		<p><b>How do you payout?</b></br>
		All payment are made through PayPal's Mass Pay (with Mass Pay you don't have the PayPal fees to receive your money.)</p>
	</li>
	<li>
		<p><b>Do I need a PayPal account?</b></br>
		Yes, all payments will be made through PayPal.</p>
	</li>
	<li>
		<p><b>Is there a limit on the number of Referral/Sales I can do?</b></br>
		No, the sky is the limit.</p>
	</li>
	<li>
		<p><b>Are taxes taken out of my pay?</b></br>
		No, you will be classified as an independent contractor and you will be responsible for your own taxes.</p>
	</li>

	<li>
		<p><b>Will I get a 1099 tax form at the end of the year?</b></br>
		Yes, if you requested money you will get a 1099 tax form.</p>
	</li>

	<li>
		<p><b>How are the Referral/Sales tracked?</b></br>
		At the top of the sign up page is a referrer email box. Your email that you signed up with, must go in that box to get credit.</p>
	</li>


	<li>
		<p><b>Can I set up my own sales force? </b></br>
		Yes, for every salesperson you are helping you will be rewarded 20% of their referral/sales and a 5% residual.</p>
	</li>
	<li>
		<p><b>Do I have to be a paying customer to do affiliate sales for Riszil?</b></br>
		No, but if you choose to be a non-subscribing affiliate sales person, you will need to make one referral/sale a month to stay active.</p>
	</li>
	<li>
		<p><b>What happens if I go inactive?</b></br>
		Inactive affiliate will get no credit for their sales teams referral/sales or their personal and sales teams residuals, that sign up or renew during your inactive period.</p>
	</li>
	<li>
		<p><b>What if I lie, cheat, and/or mislead businesses into signing up?</b></br>
		Your account will be disabled and you will forfeit all current and future rewards.</p>
	</li>
</ul>

