<h2><%= link_to "Invite a Friend", new_invite_path%></h2>
<h2> Join &amp; Referral Contest</h2>
<ul>
  <li>
    <p><strong>Who can enter?<br />
      </strong>Any "Homeowner / Service Seeker", "Contractor, Tradesmen or Professional", that join as a free member or the premium listing. must be 18 or older, living in the USA.</p>
  </li>
  <li>
    <p><strong>When and how will the winner be selected?<br />
      </strong>After we hit the mark of 4,000 new sign ups from the start of the contest. We will randomly select 10 Profile pages, these will be the semi-finalist. from their we will verify the legitimacy of the page (e-mail, address and phone number). Any that can not be verified will be disqualified. From the remaining  semi-finalist we will put the names of the person that signed up and the person that refered them in a hat and draw the winner( if a Premium subscriber and referee make it to the semi-finials there names will be entered twice). <strong></strong></p>
  </li>
  <li>
    <p><strong>Things you must do to qualified?<br />
      </strong>Must be at least 18 years of age. Must reside in the USA. Must have valid contact info. Must have a Profile Picture. If a Business, must have at least basic info in the "About My Company" section of the profile page and be willing to have your name published.</p>
  </li>
  <li>
    <p><strong>How will I know if I will?<br />
      </strong>You will be contacted by phone and e-mail to verify contact info, if you make it to the semi-finals and by phone if you win. </p>
  </li>
  <li>
    <p>
      <strong>How will I get payed?<br />
      </strong>The payout will be made via PayPal MassPay only after receiving a completed W-9 form for tax purposes.
    </p>
    <h2><%= link_to "Invite a Friend", new_invite_path %></h2>
  </li>
</ul>
