<% content_for :head do %>
  <%= stylesheet_link_tag "contact_us" %>
  <%= stylesheet_link_tag "validationEngine.jquery" %>
  <%= javascript_include_tag "jquery.validationEngine" %>  
  <%= javascript_include_tag "jquery.validationEngine-es" %>  
<% end %>


<div class="contact_box">
              <p class="text_aflt">Contact Us</p>
  <div class="contact_boxLeft">
		
    <%= form_tag   send_visitor_info_path , :id => "contact-us" do %>
                  <div>Email </div>
                    <%= text_field_tag :email , '',:class => "validate[required,custom[email]]" %>
                  <div>Subject </div>
                    <%= text_field_tag :subject , '',:class => "validate[required]"%>
                  <div>Message </div>
                  <%= text_area_tag :message , '',:cols=>"45" , :rows=>"5" , :id => "textarea", :class => "validate[required]" %>

                  <div>Please solve this simple equation </div>
            <div>
                  
                    <div class="captcha_box">
                      <%= raw aritcaptcha_tag :operations => [:add, :sub] %>
                    </div>
                    
                    <div class="login_btn_r">
          		        <input type="submit" name="Submit" value="SUBMIT" class="btn_r1">
          		      </div>

                </div>
          <% end %>
  </div>
    
    <div class="clear"></div>
</div>


<script type="text/javascript">
  $("#contact-us").validationEngine();
</script>