<% content_for :footer do %>
  <% if @from_signup %>
      <!-- modal -->
      <div id="completeProfileModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h5 class="modal-title">Would you like finish your Business profile now ?</h5>
            </div>
            <div class="modal-body">
              <div style="padding:20px;text-align: center;">
                <%= link_to "Yes", edit_user_registration_path, :class => "btn btn-success btn-lg"%>
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">No</button>
              </div>  
            </div>
          </div>

        </div>
      </div>

      <script type="text/javascript">
        $(document).ready(function(){   
          $("#completeProfileModal").modal();
        }); 
      </script>
  <% end %>
<% end %>

<div class="search-form">
<!-- Seach Form Begins -->
<%= form_tag users_search_path, :method =>'get', html: { autocomplete: 'off' }, :id => "welcome_search" do %>

  <div class="row-fluid">
    <div class="search-box span12">
      
      <div class="search-bar">
        <div class="search-input">
          <span class="text">
          
            <% if !params[:zipcode].blank? %>
              <%= hidden_field_tag :zipcode , params[:zipcode]  %>
            <% end %>
            
            <%= text_field_tag :search, params[:search] || "Search here..." ,class: "span12 search_input" ,:id=>"autocomplete-ajax" , :onblur=>"if (this.value == '') {this.value = 'Search here...';}",:onfocus=>"if (this.value == 'Search here...') {this.value = '';}" %>
          </span>
          <span class="search-btn">
            <input type="submit" name="" value="" />
          </span>
        </div>
      </div>
      <h1>SEARCH RESULTS FOR &ldquo;<span id='search-keyword'></span>&rdquo;</h1> 	
    </div>
  </div> 
<% end %>
<!-- Seach Form End -->

<!-- Add Section begin -->
<!-- <div class="row-fluid">
    <div class="fea-frame">
      <ul class="fea-list">

      <li class="span4">
        <div id="barters-tab" class="tabs clickable" data-location="affiliate_programme">
          <h2 class="heading">
            <span class="img">
              <%#= image_tag("mony.png", :alt =>"dollar") %>
            </span><span class="text">earn money</span>
          </h2>
          <p>Get a free membership or earn money selling for Riszil</p>
          <span class="read-more">
            <%#= link_to "Read More...", affiliate_programme_path %>
          </span>
        </div>
      </li>

      <li class="span4 middle_span" >
        <div id="barters-tab" class="tabs clickable" data-location="/barters">
          <h2 class="heading">
          <span class="img">
           <%#= image_tag("skills.png", :alt =>"skills") %>
          </span><span class="text">BARTER SKILLS</span>
          </h2>
          <p>Find people to barter and trade labor with</p>
        </div>
      </li>

      <li class="span4">
        <div id="barters-tab" class="tabs clickable" data-location="/users/sign_up">
          <h2 class="heading">
            <span class="img">
             <%#= image_tag("register.png", :alt =>"user") %>
            </span>
            <span class="text">REGISTER</span>
          </h2>
          <p>Browse and list your skills quickly and easily</p>
           <span class="read-more">
            <%#= link_to "GET STARTED FOR FREE", new_user_registration_path %>
          </span>
        </div>
      </li>

      </ul>
    </div>
</div>  -->

  <div id="users" class="search-result">
    <div class='search search-left'>
      <h4>SERVICE PROVIDER</h4> 
      <div class="row-fluid search_listbox" id='service-providers'>
        <%= render :partial => 'shared/service_providers' if @users %>
      </div>
    </div>  

    <div class='search search-right'>
      <h4>PREFERRED REFERRALS NEAR YOU</h4> 
      <div class="row-fluid search_listbox" id='preferred-referals'>
        <%= render :partial => 'shared/preferred_referals' if @referrals %>
      </div>
    </div>  
  </div>

</div>
<!-- Add Section end -->
