<h2> Profile Page Tips </h2>

<ul>
	<li>
		<p><strong>What is &quot;Preferred  Referrals&quot;?<br />
	    </strong>Preferred Referrals is an elite list of skilled individuals that you would have  working in your home. Most people know that the best customers are the  referrals. This can be a powerful tool for you, if you can't find your guy in  search,  call him get him signed up. Then  let your customers know if you like my work look at my preferred referrals list  in Riszil.</p>
</li>
	<li>
		<p><strong>&quot;About My  Company&quot; should only be as long as it needs to be<br />
	    </strong>Writing for the web is different from writing for print. People skim  online, especially when they first get to a page. You want the contents of your  page to give them what they want quickly, but provide enough detail for those  who want expansion on the basics. If it looks like it needs more add a picture  or two. If you are unfamiliar with the text editor don't forget the ? for help.<strong></strong></p>
</li>
	<li>
		<p><strong>You should think  local and write global<br />
	    </strong>You should make sure that things like currencies, measurements, dates, and  times are clear so that all your readers will know exactly what you mean. </p>
</li>
	<li>
		<p><strong>You should spell  everything correctly<br />
	    </strong>Many people are not tolerant of spelling errors. You can write a completely  error free topic for years, and then have one simple &quot;teh&quot; instead of  &quot;the&quot; and you will get irate e-mails from customers, and many  will give up in disgust without contacting you at all. It may seem unfair, but  people judge profiles by the quality of the writing, spelling, and grammar errors are an obvious indicator of quality for many people.</p>
</li>
	<li>
		<p><strong>Your pages should  have the best and currant contact information<br />
	    </strong>Have contact information that gets to you, not a voice mail or an e-mail account you never use.</p>
	</li>
	</ul>