<div class="row-fluid">
  <div class="fea-frame">
    <div class="span6 mn-left">
      <div class="welcome-txt">
        <h1> Welcome to <span>Riszil</span></h1>
        <p>A new and easy way to find the professional you are looking for</p>
      </div>
      <div class="banner-img"> 
        <%= image_tag "banner-img-home.png" ,:alt=>"img" %>
        <%#= link_to image_tag("join_or_refer.png",:alt=>"Join or Refer"), '#' %>
      </div>
    </div>
    <div class="span6 mn-right">
      <h3>FEATURES</h3>
      <ul>
        <li> <span>Free to Search</span> and <span>Free to List</span></li>
        <li>
          When searching with <span>Riszil.com</span>, you can also see who your friends and neighbors mechanic is, this is much better than just searching and reading reviews to find a mechanic

        </li>
          <li>Search the preferred network of <span>Contractors, Professionals and tradesmen</span>
        </li>


        <li>

          View each service provider’s background, <span>ratings and feedback </span> so you can better decide on which one is best suited for your needs
        </li>


        <li>If you have a professional service provider that you like, 
        add them via <span>Preferred Referral Section.</span></li>
      </ul>

      <div class="know-txt">Can't find the professional service provider that you love to work with? Tell them about<%= link_to image_tag("small-logo.png") ,"javascript:void(0)" %>    
      
      </div>
      <div class="at-txt"> At <span>Riszil</span>, we make it easy for you. </div>
      <div class="rc-row">
      
        <% if current_user.blank? %>
          <button type="button" class="src-btn" data-toggle="modal" data-target="#myModal">Search Without Joining</button>
                  
          <%= link_to "JOIN NOW",membership_plans_path,:class=>"register-btn blue"%>
        <% end %>

      </div>
    </div>
  </div>
</div>



<% content_for :footer do %>
  <!-- modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h5 class="modal-title">Enter your zipcode to search near by professionals</h5>
        </div>
        <div class="modal-body">
          <%= form_tag root_path, :method => :get do %>
            
            <div class="inp-m-row">
              <span class="ip-txt"> 
                <%= text_field_tag :zipcode , nil%>
              </span>
              <%= submit_tag "submit", :class => "btn btn-default"%>
            </div>

          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
<% end %>

