/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min
 *= require ladda.min
 *= require admin/style
 *= require admin/affiliates
 *= require validationEngine.jquery
 *= require font-awesome
 *= require admin/skills
 *= require admin/users
 *= require token-input
 *= require token-input-facebook
 *= require admin/overlay_loader
 */
/* @import '../bootstrap/glyphicons';*/

 .errorExplanation ul li{
	color: red;
}

span.label-bold {
	font-weight: bold;
}


/*Auto Complete begins*/
ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
 li {
 background-color: #FFF;
 border-top: solid 1px #DDD;
 margin: 0;
 padding: 0;
 a {
 color: #000;
 display: block;
 padding: 3px;
}
 a.ui-state-hover, a.ui-state-active {
 background-color: #FFFCB2;
}
}
}
.ui-autocomplete {
  background-color: #FFFFFF;
}
/*Auto Complete end*/

/* Home page search autocomplete suggestions , Start */

.autocomplete-suggestions {
  /*  top: 311px !important;
  width: 585px  !important;*/
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  border: 1px solid #999;
  background: #FFF;
  cursor: default;
  overflow: auto;
  -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  z-index: 9 !important;
}
.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}
.autocomplete-selected {
  background: #F0F0F0;
}
.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399FF;
}
/* Home page search autocomplete suggestions , End */
