@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
 /* min-height: 2000px;*/
  padding-top: 70px;
  font-family: 'Open Sans', sans-serif;
  font-size:13px;
}

.upload-csv{
  padding-top: 20px; 
}

.clear{
  clear:both;
}
a {
	color: #2A81C1;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	text-decoration:none !important;
}

table a:hover {
	text-decoration:underline !important;
}

.title_head{
	height:100px;
	background:#eceded;
	border-bottom:solid 1px #c8c6c6; 
	margin-top: -19px;
	margin-bottom:15px;
}
.title_head .flt_right{
	padding-top:38px;
	text-align:right;
}
.first_c3{
	padding-right:0;
}
.flt_right{
	float:right;
}
.orders_h{
	font-size:30px;
	font-weight:bold;
	color:#333;
	margin:0;
}
.admin_h{
	text-transform:uppercase;
	padding-top:25px;
	margin:0;
	color:#9ea4aa;
	padding-left:2px;
}

/*table{
	border-collapse:collapse;
}

table th{
	background:#e8e9e9;
	padding:8px 5px;
	border:solid 1px #ccc;
	font-weight:bold;
	font-size:13px;
}
table td{
	padding:6px 5px;
	border:solid 1px #ccc;
}*/

.right_h {
    background: none repeat scroll 0 0 #E8E9E9;
    border-bottom: 1px solid #CCCCCC;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 11px 8px;
}
.cell_in1{
	width:48%;
	float:left;
}
.cell_in2{
	width:48%;
	float:right;
}

.right_box input[type="text"]{
	width:100%;
	border-radius:2px;
	border:solid 1px #ccc;
	height:28px;
	padding:4px;
	
}

.right_box select{
	width:98%;
	border-radius:2px;
	border:solid 1px #ccc;
	height:28px;
	padding:2px 4px;
	
}
.right_box p{
	font-weight:bold;
	margin:10px 0 4px 0;
	text-transform:uppercase;
}

.inp_row{
	margin-bottom:10px;
}

.button{
	border-radius:25px;
	border:none;
	padding:8px 20px;
	background:#696e73;
	color:#fff;
	font-weight:bold;
}
.button:hover{
	background:#A3A3A3;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.button2{
	border-radius:25px;
	border:none;
	padding:8px 13px;
	background:#d3d3d3;
	color:#333;
	font-weight:bold;
}
.button2:hover{
	background:#A3A3A3;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.right_box{
	background:#f4f4f4;
	padding-bottom:15px;
	margin-bottom:15px;
}
.inp_row{
	padding:4px 15px;
}
.top_l{
	float:left;
}
.top_r{
	float:right;
	
}
.top_main{
	margin:0 0 10px 0; 
}
.top_main span{
	padding-right:10px;
}
.top_main .allb{
	border-radius:3px; 
	background:#efefef;
	padding:2px 6px;
	color:#333;
}
.top_main .allb:hover{
	background:#333;
	color:#fff;
}
.top_main strong{
	font-weight:normal;
	color:#bcc0cb;
}
.comp{
	padding:1px 4px;
	background:#739a76;
	color:#fff;
}
.comp:hover{
	color:#fff;
	background:#333;

}

.prog{
	background:#cacaca;
	color:#333;
	padding:1px 4px;
}

.prog:hover{
	background:#06F;
	color:#fff;
}
.demo {

    margin:20px auto 0;
	text-align:center;
}

/* Pagination Start */
.pagination li {
  display: inline-block;
  line-height: 25px;
}
.pagination a {
  display: block;
  color: #333;

  padding: 0 10px;
  border-radius: 2px;
  border:solid 1px #ccc;
  box-shadow: 0 1px 0 #5a5b5c inset,0 1px 0 #ccc;
  background: #fff;
}
.pagination a:hover {
  text-decoration: none;
  box-shadow: 0 1px 0 #f9bd71 inset,0 1px 0 #0a0a0a;
  background: linear-gradient(top,#f48b03,#c87100);
}
.pagination li:target a {
  box-shadow: 1px 0 5px #1a1a1b inset,1px 0 0 #2d2d2d,0 1px 0 #2d2d2d;
  background: linear-gradient(top,#252627,#1c1c1e);
}


.digg_pagination {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    padding: 15px 0;
    text-align: right;
}

  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: inline-block;
  /*  float: left;*/
    margin-right: 1px; 
	background:#fff;
	}
	.actions{
	  float: right;
    margin-top:10px
	}
	.actions input[type="submit"] {
    background: none repeat scroll 0 0 #17A6CB;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 6px;
}
.actions input[type="submit"]:hover{
 background: none repeat scroll 0 0 #098daf;
}
	
.digg_pagination .disabled {
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    color: #999999;
}
	
.digg_pagination .current {
    background: none repeat scroll 0 0 #28B2D5;
    border: 1px solid #28B2E9;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
}
.digg_pagination a {
    border: 1px solid #28B2E9;
    color: #28B2E9;
    text-decoration: none;
    border-radius: 2px;
}

.digg_pagination a:hover, .digg_pagination a:focus {
    border-color: #636363;
    color: #636363;
}
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }
/* Pagination  Start */



#footer{
	height:50px;
	line-height:50px;
	text-align:center;
	color:#fff;
	background:#494949;
}


.main-container {
    margin: 50px auto;
    min-height: 452px;
}

.login_main_box{
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    line-height: 45px;
    margin: auto;
    padding: 32px;
    width: 345px;
}


.login_main_box .login_btn_r {
    margin-top: 10px;
	margin-left: 76px;
}

.flash_messages{
	text-align: center;
	z-index: 10000;
	top: -7px;
	position: fixed;
	top: 0;
	width: 102%;
}

.hint-message{
	font-weight: normal;
	font-size: 12px;
	font-style: italic;
	color: gray;
}
.view_edit {
	width: 20%;
}

.view_edit ul li {
    float: left;
    list-style: none outside none;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 0 4px;
    font-size: 18px;
}
.email_link {
    /*display: inline-block;*/
    width: 200px;
    word-break: break-all;
}

th.user-actions{
	width: 163px !important;
}