<% content_for :head do %>
    <%= stylesheet_link_tag "sign_in" %>
<% end %>

<div class="login_main_box">
	<p class="fb_btn">
	</p>
  <div class="login_box">
	<!-- <div class="or">Or</div> -->
	<div class="login_middle">
		<%= simple_form_for(@user, :as => :user, :url => session_path(:user) , :html => { :class => "form_for_validate_engine"}) do |f| %>

			<%= hidden_field_tag :admin_login , "1" %>


			<div class="login_middle_r">
			  <h3 style="text-align: center;">Admin Login</h3>
			</div>

			<div class="login_middle_r">
			  	<%= image_tag('user_img.png' ,:alt=>"user") %>
			  	<%= f.email_field :email, :required => false, :autofocus => true , :placeholder=>"Username" , :class=>'form-control validate[required ,custom[email]]' %>
			</div>

			<div class="login_middle_r">
				<%= image_tag('password_img.png' ,:alt=>"password") %>
				<%= f.password_field :password, :required => false ,:placeholder=>"Password" , :class=>'form-control validate[required]'%>
			</div>

			<!-- <div class="remember_me">
			  <label>
			  <%#= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
			  </label>
			</div> -->

			<div class="login_btn_r">
			  <%= f.button :submit, "Sign in" ,:class=>"btn_r1"%>
			</div>
		<% end %>
	</div>
	</div>
</div>
