<div class="users_list digg_pagination">
  <%= will_paginate @reward_transactions, :container => false %>
</div>

<h3>Reward Transactions By Admin</h3>

<div class="left_tbl list">
  <table width="647" class="table table-striped table-hover">
    <tr>
      <th>Serial </th>
     <!--  <th>State</th> -->
      <th>Transaction key</th>
      <th>Level 1 affiliate</th>
      <th>Level 2 affiliate</th>
      <th>Reward for level 1 affiliate</th>
      <th>Reward for level 2 Affiliate</th>
      <th>Total amount</th>
      <th></th>
    </tr>

    <% @reward_transactions.each_with_index do |reward_transaction,index| %>
        <tr>
          <td><a href="javascript:void(0)">#<%= index+1 %></a></td>
          <td><%= reward_transaction.transaction_key %></td>
          <td><%= reward_transaction.affiliate.try(:email) %></td>
          <td><%= second_level_affiliate(reward_transaction) %></td>

          <td>
            $ <%= reward_transaction.first_level_reward %>
          </td>

          <td>$ <%= reward_transaction.second_level_reward %></td>
          <td>$ <%= reward_transaction.total_amount %> </td>
          <td class='view_edit'> 
            
          </td>    
        </tr>
    <% end %>    
  </table>
</div>

<div class="users_list digg_pagination">
  <%= will_paginate @reward_transactions, :container => false %>
</div>


<script type="text/javascript">
    $('#users .digg_pagination a').on('click', function () {
      $.getScript(this.href);
      return false;
    });
</script>