<% content_for :head do %>
    <%= stylesheet_link_tag "sign_up" %>
<% end %>

<div class="signup_box">

	<h2>Change password</h2>

  <%= form_for @user, :url => update_password_path , :html => { :method => :put },  :validate => true do |f| %>

    <%= render :partial => 'shared/error_messages', :locals => {:target => @user}%>

    <div class="">
    	<div class="sing_up_r">
		    <p>Current password </p>
		    <div class="sing_up_r">    
		      <%= f.text_field :current_password %>
		    </div>
		   </div>   

    	<div class="sing_up_r">
		    <p>New password</p>
		    <div class="sing_up_r">    
		      <%= f.text_field :password %>
		    </div>
		   </div> 

    	<div class="sing_up_r">
		    <p>Confirm new password</p>
		    <div class="sing_up_r">    
		      <%= f.text_field :password_confirmation %>
		    </div>
		   </div> 		   

    </div>

    <div class="clear"></div>

    <%= f.submit "Update", :class => "btn btn-success" %>

  <% end %>  
</div>