<% content_for :head do %>
    <%= stylesheet_link_tag "sign_in" %>
<% end %>

<div class="login_main_box">
	<p class="fb_btn">
		<%#= link_to image_tag('connect_fb.png' ,:border=>"0") ,  "javascript:void(0)"%>
	</p>
  <div class="login_box">
		<!-- <div class="or">Or</div> -->
		<div class="login_middle">
			<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
				<div class="login_middle_r">
				  <%= image_tag('user_img.png' ,:alt=>"user") %>
				  <%= f.email_field :email, :required => false, :autofocus => true , :placeholder=>"Username" %>
				</div>
	
				<div class="login_middle_r">
					<%= image_tag('password_img.png' ,:alt=>"password") %>
    			<%= f.password_field :password, :required => false ,:placeholder=>"Password"%>
				</div>

				<div class="remember_me">
				  <label>
				  <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
				  </label>
				</div>
	
				<div class="login_btn_r">
				  <%= f.button :submit, "Sign in" ,:class=>"register-btn blue"%>
				  <%= link_to "Forgot your password?", new_password_path(resource_name) %>
				  
				  <!-- <div class='push'></div> -->
				  <p>Don't have an account?  <%= link_to "Join now!", membership_plans_path %></p>
				  <p><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %> 
				  </p>
				</div>
			<% end %>
		</div>
			  <%= link_to (image_tag 'fb-btn.png'), user_omniauth_authorize_path(:facebook) %>	
	</div>
</div>