<div id='card-pdf'>
  <div class="<%= @cards_class %>">
    <% @cards_count.times do %>
      <div class="card-box">
       
        <div class="cd-m-in">

        <div class="crd-in">
          <div class="cd-top"> <p><strong>Thank you</strong> for letting me be a part of your project.</p>
            <p><strong>Please,</strong> take a moment to rate and refer me</p>
          </div>

          <div class="cd-l-r">
            <div class="card-code">
              <%# if @writing_pdf %>
                <%#= wicked_pdf_image_tag qr_code(@user), alt: 'QR code' %>
              <%# else %>
                <%= image_tag RQRCode::QRCode.new(user_url(@user.username)).to_img.resize(200, 200).to_data_url, alt: 'QR code' %>
              <%# end %>  
            </div>
            <div class="card-logo">
              <% if @writing_pdf %>
                <%= wicked_pdf_image_tag 'card-logo.png', alt: 'Logo' %>
              <% else %>
                <%= image_tag 'card-logo.png', alt: 'Logo' %>
              <% end %>  
            </div>
          </div>

          <div class="card-url">
            <div class="wb">
              <%= link_to user_url(@user.username), user_url(@user.username), target: '_blank' %>
            </div>
          </div>

          <div class="card-bottom">
            <div class="wb"><%= @user.business_or_full_name.try(:titleize) %></div>
            <div class="cb"><%= @user.contact_phone %></div>
          </div>

        </div>

        </div>
      </div>
    <% end %>  
  </div>  
</div>