<div id="preview-card-modal" class="modal hide fade" tabindex="-1">
  
  <div class='modal-header'>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-title">Referral Card Preview</h3>
  </div>
  
  <div class='modal-body photo-viewer-modal'>
    <div class="modal-body-content"> 
      <div>
        <%= render partial: 'card' %>
      </div>
    </div>
  </div>

</div>
