<% if params[:preview].present? %>
	var previewModal = $("<%=escape_javascript(render :partial=>'preview' )%>");
	previewModal.modal();
<% elsif params[:send_by_email].present? %>
	alert("Refferral card has been sent successfully to your email address")
<% end %>