<div id='referral-card-show'>
  <div  class="card-box">
    <h3>Referral Card</h3>
    <div class="cd-m-in">

      <div class="crd-desp">
        <h4>Chose Size</h4>

        <%= form_tag print_referral_card_path, id: 'referral-card' do %>
          <div class="cs-in">
            <%= radio_button_tag :size, 'ten_sheet' %>
            <label for="size_ten_sheet">3.5 X 2 <strong>Inch</strong></label>
          </div>

          <div class="cs-in"> 
            <%= radio_button_tag :size, 'four_sheet', true %>
            <label for="size_four_sheet">4.25 X 5.5 <strong>Inch</strong></label>  
          </div>

          <div class="btns-m-r">
            <%= submit_tag "Download", name: "download" %>
            <%= submit_tag 'Preview', name: "preview" %>
            <%= submit_tag 'Send by Email', name: "send_by_email" %>
          </div>
          
          <span id="loder" style="display:none;"><%= image_tag "loader.gif" %></span>

        <% end %>
      </div>

      <div class="crd-in">
        <div class="cd-top"> <p><strong>Thank you</strong> for letting me be a part of your project.</p>
          <p><strong>Please,</strong> take a moment to rate and refer me</p>
        </div>

        <div class="cd-l-r">
          <div class="card-code">
            <%= image_tag qr_code(current_user), alt: 'QR code' %>
          </div>
          <div class="card-logo">
            <%= image_tag 'card-logo.png', alt: 'Logo' %>
          </div>
        </div>

        <div class="card-url">
          <div class="wb"><%= link_to user_url(current_user.username), user_url(current_user.username), target: '_blank' %></div>
        </div>

        <div class="card-bottom">
          <div class="wb"><%= current_user.business_or_full_name.try(:titleize) %></div>
          <div class="cb"><%= current_user.contact_phone %></div>
        </div>

      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){ 
    
    $('form#referral-card').submit(function( event ) {
      var form = $(this);
      var submit_btn = $(document.activeElement).attr('name');

      if (submit_btn == 'preview' || submit_btn == 'send_by_email'){
        
        event.preventDefault();
        
        var data = {};
        data[submit_btn] = submit_btn;    

        $.ajax({
            url: event.currentTarget.action,
            type: 'post',
            dataType: 'script',
            data: form.serialize() + '&' + $.param(data),
            beforeSend: function(){
              $("#loder").show();
            },           
            complete: function() {
              $("#loder").hide();
            }
        });     
      }

    });

  });
  
</script>