<%# if current_user %>
  <% unless 'Search here...' == params[:search] %>
    $('#search-keyword').text("<%= params[:search] %>")
  <% end %> 

  <%# if params[:service_providers] %>
    // $("#service-providers").html("<%= escape_javascript(render('shared/service_providers')) %>");
  <%# elsif params[:preferred_referals] %>
    // $("#preferred-referals").html("<%= escape_javascript(render('shared/preferred_referals')) %>");
  <%# else %>  
    $("#service-providers").html("<%= escape_javascript(render('shared/service_providers')) %>");  
    $("#preferred-referals").html("<%= escape_javascript(render('shared/preferred_referals')) %>");
  <%# end %>  

  $('.digg_pagination.users_list a').attr('data-remote', 'true');

  apply_row_click();

<%# end %>