<div class="aflt_box">
  <p class="text_aflt">Earn money by referring your friends to register at Riszil
    <span>
      Send this link to your friends for you to get credit </span>
  </p>


 <div class="aflt_Leftbox">
    <p><strong>Choose a Button and use the html code on other website</strong></p>
    <div class="aft_row">

	
	  <div class="code_url" >
        <textarea class="code_box" rows="5" cols="45" id="affiliate-html-code"    name="textarea">&lt;a href="<%= "#{new_user_registration_url}" + "?affiliate_token=" + "#{current_user.affiliate_token}" %>"&gt;<img src="assets/small.png" alt="logo" />Riszil&lt;/a&gt;</textarea>                
      </div>
 

      <div class="code_url">
        <div class="code_box" id="selected-logo">
			     <a href="<%= "#{new_user_registration_url}" + "?affiliate_token=" + "#{current_user.affiliate_token}" %>" ><img src="assets/verysmall.png" alt="logo" />Riszil</a>
        </div>
      </div>

      <div class='select-logo'>
	      <div class="cell_aft1">
          <%= radio_button_tag "tl_button" , "verysmall" ,  true  %>
	        <%= image_tag "verysmall.png" , :alt=>"logo" 	%>	
	      </div>
	      <div class="cell_aft2">
          <%= radio_button_tag "tl_button"  , "small"  %>
	        <%= image_tag "small.png" , :alt=>"logo" 	%>	
	      </div>
	      <div class="cell_aft3">
          <%= radio_button_tag "tl_button"  , "large"  %>
	        <%= image_tag "large.png" , :alt=>"logo" 	%>	
	      </div>
	      <div class="cell_aft4">
          <%= radio_button_tag "tl_button"  , "extralarge"  %>
	        <%= image_tag "extralarge.png" , :alt=>"logo" %>	
	      </div>
      </div>

    </div>
  </div>
  <div class="aflt_Righttbox">
    <p><strong>Send this link to your friends</strong> </p>

 	<div class="code_url">
      <div class="code_box" id="fe_text"><%= "#{new_user_registration_url}" + "?affiliate_token=" + "#{current_user.affiliate_token}" %></div>
    </div>
	

    <p>
    	<button type="button" class="btn btn-info" id="copyTxt">Copy To Clipboard</button>

    </p>
  </div> 
  <div class="clear"> </div>
  
</div>



<script type="text/javascript">
  
  $(".select-logo input:radio").on("click",function(){
        var selected_logo = $(this).val(); 
        var selected_logo_src =  $(this).next("img").attr("src");
        $("#selected-logo a img").attr("src",selected_logo_src)
        $("#affiliate-html-code").html($("#selected-logo").html().trim());
  });

</script>