<% content_for :head do %>
        <%= stylesheet_link_tag "users" %>
        <%= javascript_include_tag "users" %>
<% end %>


<%= simple_form_for @w9_form_detail , :url => w9_form_path , :html => {:class => "w9_form_detail"} , :validate => true do |f| %> 

    <%= render :partial => 'shared/error_messages', :locals => {:target => @w9_form_detail }%>

    <div class="w9_box">
      <div style="width: 780px;">
        <div style="width: 100%;">
          <div style="float: left; width: 132px; height: 73px; border-bottom: 2px solid #ccc; border-right: 2px solid #ccc;"><span class="w-9logo">W-9</span></div>
          <div style="float: left; height: 73px; width: 512px; border-bottom: 2px solid #ccc; border-right: 2px solid #ccc; text-align: center; font-weight: bold; font-size: 14pt;">
            <div style="clear: both; margin-top: 14px;"> Request for Taxpayer <br />
            Identification Number and Certification </div>
          </div>
          <div style="float: left; height: 73px; border-bottom: 2px solid #ccc; width: 132px; font-size: 9pt; font-weight: bold;">
            <div style="padding-top: 8px; padding-left: 8px;"> Give form to the requester. Do not send to the IRS. </div>
          </div>
        </div>
        <div style="width: 100%;">
          <div style="float: left; width: 746px;">
            <div style="clear: both; width: 100%; height: 40px;">
              
              <div style="clear: both; padding-left: 6px; font-size: 12pt; position:relative; top:5px;">
                <span class="spna_left"> 
                  <span class='label-bold'>Name*</span> (as shown on your income tax return) 
                </span>
                 <%= f.text_field :name %>
              </div>
            </div>
            <div style="clear: both; width: 100%; border-bottom: 1px solid #ccc; height: 40px;">
              
              <div style="clear: both; padding-left: 6px; font-size: 12pt;  position:relative; top:5px;"><span class="spna_left"> <span class='label-bold'>Business name/disregard entity name</span> (if different from above) </span>
                 <%= f.text_field :business_name %>
              </div>
            </div>
            <div style="clear: both; width: 100%;  height: 135px;">
              <div style="float: left; width: 645px;">
                <div class="row_w9">Check appropriate box for federal tax classification: </div>
               
                <div class="row_w9">
                <span>
                  <%= check_box_tag "other_info_str[proprietor]" , true ,  is_checked?(@w9_form_detail.other_info[:proprietor]) %>
                  Individual/sole proprietor </span> 
                  <span style="padding-left: 26px;">
                  <%= check_box_tag "other_info_str[c_corporation]",true ,  is_checked?(@w9_form_detail.other_info[:c_corporation])%>
                  C Corporation </span> <span style="padding-left: 26px;">
                  <%= check_box_tag "other_info_str[s_corporation]" ,true ,  is_checked?(@w9_form_detail.other_info[:s_corporation])%>
                  S Corporation </span> <span style="padding-left: 26px;">
                  <%= check_box_tag "other_info_str[partnership]" ,true ,  is_checked?(@w9_form_detail.other_info[:partnership]) %>
                  Partnership </span></div>
                  
                  <div class="row_w9"><span>
                      <%= check_box_tag "other_info_str[trust]" ,true ,  is_checked?(@w9_form_detail.other_info[:trust])%>
                        Trust/estate </span><span style="padding-left: 26px;">
                      <%= check_box_tag "other_info_str[llc]",true ,  is_checked?(@w9_form_detail.other_info[:llc]) %>
                    LLC </span> 
                  </div>
                  <div class="taxClassification" style="clear: both; padding-left: 6px; padding-top: 2px;">
                    <%= check_box_tag "other_info_str[other_opt]" ,true ,  is_checked?(@w9_form_detail.other_info[:other_opt]) , :class => "other-option" %>
                    Other 
                     <%= text_field_tag "other_info_str[other_value]", @w9_form_detail.other_info[:other_value] , :class => "other-option-value" %>
                  </div>
              </div>
            </div>
            <div class="row_w9">
            if you are a sloe proprietor and you have an EIN, you may enter your SSN or EIN However, the IRS prefers that you use your SSN
            </div>
            <div class="row_w9"  style="border-bottom: 1px solid #ccc;">
              <span><%= check_box_tag "other_info_str[exempt]",true ,  is_checked?(@w9_form_detail.other_info[:exempt]) %>
                Exempt from backup withholding 
              </span>
            </div>
            <div class="address_box">
                      <div class="row_w9"><br />
                        <strong>Permanent  Residence address:</strong>
                      </div>

                      <div class="row_w9" id="select-country-code-div" data-target="<%= f.object.class.name.underscore %>">
                        Country* :
                        <%#= f.country_select :country_code,  id: "select", priority: %w(US CA), prompt: 'Please select a country' , selected: "US" %>
                        
                        <i class="famfamfam-flag-us"></i>  
                        <%=  "United States" %>

                        <%= f.hidden_field :country_code , :value => 'US' %>
                      </div>

                      <div class="row_w9">  
                      Address1* :
                       <%= f.text_field :address1 %>
                       </div>
                      <div class="row_w9">
                      Address2 :
                      <%= f.text_field :address2 %></div>
                      <div class="row_w9">
                      City* :
                      <%= f.text_field :city %></div>
                      
                      <div class="row_w9">
                        State :
                        <%#= render partial: 'shared/subregion_select', locals: {parent_region: f.object.country_code , target: "w9_form_detail" } %>
                         <%= subregion_select(f.object.class.name.underscore , :state_code, "US") %> 
                         &nbsp;
                         Pin* :
                         <%= f.text_field :pin , :class=>"inp_in"%>
 
                      </div>

                   <br />
            </div><br />
            <div class="address_box">
                  <div class="row_w9"><span>
                     You can enter either your SSN OR TIN , Please select appropriate option for Identification Type. 
                  </div>
                  <div class="row_w9"><span>
                    <%= f.radio_button :identification_type ,  W9FormDetail::IDENTIFICATION_TYPE[:ssn] , :checked => true %>&nbsp;
                    SSN </span>
                  </div>
                  <div class="row_w9"><span>
                    <%= f.radio_button :identification_type , W9FormDetail::IDENTIFICATION_TYPE[:tin] %>&nbsp;
                    TIN </span>
                  </div>
                  <div class="taxClassification" style="clear: both; padding-left: 6px; padding-top: 2px;">
                   <span class='label-bold'>SSN / TIN*</span> 
                   
                   <%= f.text_field :identification_number %>
                  </div><br />
            </div>
          </div>
        </div>
        <div>
          <div>
            <div style="clear: both; width: 780px;"><br />
              <div class="row_w9 txt_c">
               
                <input type="submit" name="button" id="button" value="Submit" class="btn_r1"/>
              </div>
            </div>
          </div>

          <!-- Page 2 -->
          <div style="clear: both; width: 100%;"></div>
          
          <!-- Page 3 -->
          <div style="clear: both; width: 100%;"></div>
          
          <!-- Page 4 -->
          <div style="clear: both; width: 100%;">
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>

<% end %>
