<%= form_for [current_user, @photo] , :html =>{ :class => "upload_form"} , :validate => true do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@painting.errors.count, "error") %> prohibited this picture from being saved:</h2>
      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class='row'>
    <div class='span7 upload_nbtn offset1'>
      <%= f.file_field :name , :onchange=>"readURL(this)" ,:class=>"image-class"%>
    </div>
    <div class='span4 actions'>
        <%= f.submit "Upload Photo", :class => 'pull-right' %>
    </div>
  </div>
    
  <div id='uploaded-image'></div>


  <div class="clear"></div>
<% end %>
