<div id="ajax-modal" class="modal hide fade" tabindex="-1">
  
    <div class='modal-header'>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 class="modal-title">Photo</h3>
    </div>
    <div class='modal-body photo-viewer-modal'>
      <div class="modal-body-content"> 
        <div>
          <div id="myCarousel1" class="carousel slide" data-ride="carousel" data-interval="false">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <% @photos.each_with_index do |photo, index| %> 
                <li data-target="#myCarousel1" data-slide-to="<%= index %>" class="<%= photo.id == @photo.id ? 'active' : '' %>">
                </li>
              <% end %>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <% @photos.each do |photo| %>
                <%= render :partial => 'slide', :locals => {:photo => photo} %>
              <% end %>
            </div>
            <% if @photos.size > 1 %>
              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev">
                &lt;
              </a>
              <a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next">
                &gt;
              </a>
            <% end %>  
          </div>
        </div>
      </div>
      
    </div>

    <!-- <div class='modal-footer'>
      <button type="button" data-dismiss="modal" class="btn">Close</button> 
    </div> -->
 
</div>
