<div class="item <%= photo.id == @photo.id ? 'active' : ''  %>">
  <div class="photo-slide">
    <%= image_tag photo.name_url(:large), :alt =>"img" %>
  </div>  
  
  <% if current_user && current_user.id == @user.id && photo.is_not_profile_picture? %>
    <div class='row'>
      <%= form_tag set_as_profile_photo_user_photo_path(@user ,photo) ,:remote => true, :method => :post , :id => 'show_photo_form' , :class=> 'ajax_form' do %>
        <%= submit_tag "Set As Profile Picture" , :class=>"btn  btn-info" , :disable_with=>"Submitting..."%> 
        <span id="loder" style="display:none;"><%= image_tag "loader.gif" %></span>
      <% end %>
    </div>   
  <% end %>  
  <div class="ajax-loader"></div>
</div>

