<div class="row-fluid">
  <div class="fea-frame">

  <!-- First Div Start-->
  <%= render :partial => "users/profile"%>  
  <!-- First Div End-->

  <%= link_to "<< Back to profile" , user_path(@user.username) , :class =>"btn btn-info back-to-profile" %>

  <!-- Second Div Start-->
  <div class="profile_cel3">
    <div class="company_box">
      <% if user_signed_in? && current_user.is?(@user) %>  
        <h2 class="heading_t"><span></span>Upload Picture</h2>
        <div class="right_row_pic">
          <%= render :partial => 'form' %>
        </div>
      <% end %>    

      <h2 class="heading_t"><span></span>Uploaded Pictures</h2>
              
      <% @photos.each_slice(3) do |pics| %>
        <div class="right_row_pic">
          <% pics.each do |pic| %>
            <div class="pic_box <%= (pic.id == pics.last.id) ? 'right_margin' : ''  %>"> 
                <div class="pic_inbox">

                  <a data-toggle="modal" href="<%= user_photo_path(@user,pic) %>" data-target="#myModal"><%= image_tag(pic.name.url(:profile).to_s, :style=> "width:180px;height:202", :alt =>"img" )%>
                  </a>

                  </div>

                  <% if current_user && (current_user.id == @user.id) %>
                  <div class="edit_r_box">  
                      <%= link_to 'Remove', { :controller =>  'photos', :action => 'destroy', :id => pic.id }, :confirm => "Delete this photo?", :method => 'delete' , :class => 'remove_btn' %>   
                    </div>
                <% end %>    

            </div>
          <% end %> 
          <div class="clear"></div>
        </div> 
      <%end%>    

      <div class="right_row_pic">
        <div class="clear"></div> 
        <div class="digg_pagination">
          <%= will_paginate @photos, :container => false %>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <!-- Second Div End-->

  <!-- Fourth Div Start-->
  <div class="clear"></div>
  <!-- Fourth Div End-->

  </div>
</div>
