/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require token-input
 *= require token-input-facebook
 *= require style
 *= require fonts
 *= require header_and_footer
 *= require custom
 *= require ajaxful_rating
 *= require font-awesome
 *= require famfamfam-flags
 *= require validationEngine.jquery
 *= require welcome
 *= require referral_cards
 *= require pdf_referral_cards
 *= require photo
 *= require locations
 *= require temp_locations

 */
 
.errorExplanation h2{
  font-size: 14px !important;	
}

.errorExplanation ul li{
	list-style: none;
	color: red;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

span.label-bold {
	font-weight: bold;
}