/*css for contact*/

.contact_box{
    margin:50px 0 75px;
}

.contact_boxLeft {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 2px;
    margin:auto;
    padding: 10px 26px 5px;
    width: 550px;
    
    -moz-box-shadow: 0 0 5px #eee;
-webkit-box-shadow: 0 0 5px#eee;
box-shadow: 0 0 5px #eee;
-moz-box-shadow: inset -2px -2px 2px #E2F0FD !important;
-webkit-box-shadow: inset -2px -5px 2px #E2F0FD !important;
box-shadow: inset -2px -2px 2px #E2F0FD !important;
}

.contact_boxRight {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 2px;
    float: right;
    padding: 10px;
    width: 500px;
    -moz-box-shadow: 0 0 5px #eee;
-webkit-box-shadow: 0 0 5px#eee;
box-shadow: 0 0 5px #eee;
-moz-box-shadow: inset -2px -2px 2px #E2F0FD !important;
-webkit-box-shadow: inset -2px -5px 2px #E2F0FD !important;
box-shadow: inset -2px -2px 2px #E2F0FD !important;
min-height: 350px;
}

.contact_box input[type="text"], .contact_box input[type="password"], .contact_box input[type="email"]{
width:95%;

background:none;
border:none;
line-height:38px;
margin:0;
padding:0 5px;
height:38px;
border:solid 1px #ccc !important;
margin:5px;
-webkit-box-shadow: 0 0 5px#eee;
box-shadow: 0 0 5px #eee;
-moz-box-shadow: inset -2px -2px 2px #E2F0FD !important;
-webkit-box-shadow: inset -2px -5px 2px #E2F0FD !important;
box-shadow: inset -2px -2px 2px #E2F0FD !important;
}

.contact_box textarea{
    width:95%;

background:none;
border:none;
line-height:38px;
margin:0;
padding:0;
height:100px;
border:solid 1px #ccc !important;
margin:5px;
padding:5px;
-webkit-box-shadow: 0 0 5px#eee;
box-shadow: 0 0 5px #eee;
-moz-box-shadow: inset -2px -2px 2px #E2F0FD !important;
-webkit-box-shadow: inset -2px -5px 2px #E2F0FD !important;
box-shadow: inset -2px -2px 2px #E2F0FD !important;
}
.captcha_box {
    height: 30px;
    line-height: 30px;
    margin: 7px;
    position: relative;
    text-align: left;
    width: 115px;
}

.captcha_box input[type="text"]{
position: absolute;
    top: -5px;
    width: 50px;
}
 .contact_boxLeft .login_btn_r{
text-align:center
}

.preview{
    float: left;
}