/*@import "bootstrap";*/

@import url('http://fonts.googleapis.com/css?family=Changa+One');

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,800');

$gradientStart: #eee;
$gradientEnd: #555150;
$lightGray: #999;



html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}


body {
  margin: 0;
  font-family: 'Open Sans', Impact, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #e9e9e9;
}
a {
  color: #0060a1;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #00a0e2;
  text-decoration: underline;
}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
.table {
  width: 100%;
  margin-bottom: 20px;
}
.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table th {
  font-weight: bold;
}
.table thead th {
  vertical-align: bottom;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table .table {
  background-color: #e9e9e9;
}
.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}


.btn-group-vertical > .btn {
  display: block;
  float: none;
  max-width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}




h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  text-align: left;
  font-family: 'Open Sans', 'Helvetica Neue', Arial sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  text-transform: none;
}
h2 {
  font-size: 16px;
  letter-spacing: 0px;
}
h3 {
  font-size: 14px;
  line-height: 0px;
}
h4 {
  font-size: 13px;
  line-height: 20px;
  text-transform: none;
  margin-bottom: 0px;
}
h5 {
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  margin-top: 7px;
}
h6 {
  font-size: 10px;
  line-height: 20px;
}
h2 {
  color: #2f2f2f;
}
hr {
  border-bottom: 1px solid #999999;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 40px 0 40px 0;
  border-left: 0px solid #eeeeee;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}
blockquote small {
  display: block;
  line-height: 20px;
  color: #999999;
  float: right;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 0px solid #eeeeee;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
blockquote.pull-right small:before {
  content: '';
}
blockquote.pull-right small:after {
  content: '\00A0 \2014';
}
.navbar label {
  color: #eeeeee;
}
.navbar .nav > li {
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: auto;
  margin-top: 15px;
}
.navbar .nav > li > a {
  border-right: 1px solid #222222;
  border-left: 1px solid #eeeeee;
  padding: 0px 10px;
  line-height: 30px;
  border: none;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;
  text-shadow: none;
  border-color: none;
  background-color: none;
  background: none;
  border: 5px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 0px 15px;
  margin-left: 10px;
}
.navbar .nav > li > a:hover {
  color: #00a0e2;
  background-color: #ffffff;
}
.navbar .nav > li > a.first {
  border-left: 0px;
}
.navbar .dropdown-menu::before,
.navbar .dropdown-menu::after {
  display: none;
}
.navbar .navbar-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: 4px solid #79a618;
  min-height: 25px;
  padding-left: 0px;
}
.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  color: #00a0e2;
  background-color: #fff;
  border: 5px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding-bottom: 0px;
  color: #0060a1;
}
.navbar .divider-vertical {
  background-color: inherit;
  border-right: 0px solid #222222;
}
.navbar .navbar-text {
  padding: 9px 10px 11px;
  line-height: 19px;
  color: #ffffff;
}
.navbar .navbar-search .search-query {
  margin-bottom: 3px;
  border: 1px solid #000000;
}
.navbar .nav-collapse.in > .nav li > a {
  color: #ffffff;
  border-left: 0px solid #79a618;
  border-right: 0px solid #79a618;
}
.navbar .nav-collapse.in > .nav li > a:hover {
  background-color: none;
}
.navbar .nav-collapse.in .navbar-form,
.navbar .nav-collapse.in .navbar-search {
  border-top: 0px solid #79a618;
  border-bottom: 0px solid #79a618;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-weight: bold;
  text-shadow: none;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: none;
}
div.subnav {
  position: static;
  background-color: #222222;
  background-image: none;
  border: 0;
}
div.subnav.subnav-fixed {
  position: relative;
  left: -1px;
  top: auto;
}
div.subnav .nav > li > a,
div.subnav .nav .active a {
  background-color: #222222;
  border-left: 1px solid #222;
  border-right: 0;
  color: #eeeeee;
}
div.subnav .nav li.nav-header {
  text-shadow: none;
}
div.subnav .nav > li > a:hover,
div.subnav .nav > li.active > a:hover,
div.subnav .nav > li:first-child > a:hover {
  background: transparent;
  border-bottom: 2px solid #0060a1;
  border-left: 1px solid #222;
  color: #ffffff;
}
div.subnav .nav .open .dropdown-toggle {
  border: 0;
  border-left: 1px solid #222;
  border-bottom: 2px solid #0060a1;
  background-color: #060606;
}
div.subnav .nav .open .dropdown-menu {
  background-color: #222222;
  border-left: solid 1px rgba(255, 255, 255, 0.1);
}
div.subnav .nav .open .dropdown-menu li > a:hover {
  border-bottom: 0;
  background: #0060a1;
}

.sidebar li > a {
  text-shadow: none;
  text-transform: uppercase;
  color: #333333;
  line-height: 30px;
}
.sidebar li > a span {
  color: #333333;
}
.sidebar li > a:hover,
.sidebar li > a.active {
  font-weight: bold;
  background: transparent;
}
.sidebar li > a:hover span,
.sidebar li > a.active span {
  color: #0060a1;
}
.nav-list li > a {
  text-shadow: none;
}
.nav-list li > a:hover {
  background-color: #0060a1;
  color: #ffffff;
}
.nav-list .nav-header {
  text-shadow: none;
}
.nav-list .divider {
  background-color: transparent;
  border-bottom: 1px solid #222;
}

.alert {
  text-shadow: none;
}
.hero-unit {
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.hero-unit h1 {
  line-height: 1.6em;
}
h6 {
  line-height: 13px;
}

h4.well .divider {
  padding: 0 5px;
  color: #999999;
}
h4.well .active a {
  color: #333333;
}
.form-inline.mini .control-group {
  margin-bottom: 3px;
  *zoom: 1;
}
.form-inline.mini .control-group:before,
.form-inline.mini .control-group:after {
  display: table;
  content: "";
  line-height: 0;
}
.form-inline.mini .control-group:after {
  clear: both;
}
.form-inline.mini .control-label {
  float: left;
}
.form-inline.mini .controls {
  *display: inline-block;
  margin-left: 70px;
  *margin-left: 0;
}
.form-inline.mini .controls:first-child {
  *padding-left: 70px;
}
.form-inline.mini .help-block {
  margin-top: 10px;
  margin-bottom: 0;
}
.form-inline.mini .form-actions {
  padding-left: 70px;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  background: #2F4054;
  background: linear-gradient(to bottom, #2f4054 0%, #2f4054 100%) repeat scroll 0 0 transparent;
  color: #ffffff;
}
.btn.btn-large {
  font-size: 19px;
  padding: 9px 32px;
  font-weight: bold;
}
.btn.btn-primary {
  background: #84D000;
  background: linear-gradient(to bottom, #84d000 0%, #4cb000 100%) repeat scroll 0 0 transparent;
}
.btn.btn-primary:hover {
  background: #4CB000;
  background: linear-gradient(to bottom, #4cb000 0%, #4cb000 100%) repeat scroll 0 0 transparent;
}
.btn img {
  opacity: 0.75;
}

.btn.btn-info:hover,
.btn.btn-info:focus,
.btn.btn-info:active,
.btn.btn-info.active,
.btn.btn-info.disabled,
.btn.btn-info[disabled] {
  color: #ffffff;
  background-color: #d4d4d4;
  *background-color: #c7c7c7;
}
.btn.btn-info:active,
.btn.btn-info.active {
  background-color: #bababa \9;
}
.btn.btn-info:hover,
.btn.btn-info:active,
.btn.btn-info.active,
.btn.btn-info.disabled,
.btn.btn-info[disabled] {
  color: #ffffff;
  background-color: #d4d4d4;
  *background-color: #c7c7c7;
}
.btn.btn-info:active,
.btn.btn-info.active {
  background-color: #bababa \9;
}

.nav-tabs.nav-stacked > li > a {
  border: none;
  border-top: 1px solid #DDDDDD;
  padding: 10px 5px;
}
.nav-tabs.nav-stacked > li > a i {
  color: #000000;
}
body {
  padding-top: 90px;
  padding-bottom: 0px;
  color: #333333;
  color: #000000;
  font-size: 14px;
  line-height: 1.5em;
  background-position: fixed;
  overflow-x: hidden;
}
.custom-theme {
  display: none;
}



.header_bar,
.navbar-inner {
  background: #153150;
  background: linear-gradient(to bottom, $gradientStart 0%, $gradientEnd 100%) repeat scroll 0 0 transparent;
  min-height: 85px;
  font-size: 14px;
  border: none;
}
.navbar .navbar-inner {
  border: none;
}
.hero_bar {
  padding-bottom: 20px;
}
.hero_bar input,
.hero_bar select {
  border: 5px solid #B8B8B8;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  height: 39px;
}
.home-hero .span5 h3 {
  margin-left: 10px;
}
.span12,
.container {
  width: 940px;
}
.navbar-inner .container {
  width: auto;
}
.container-fluid,
.container {
  background: #ffffff;
}
footer .container-fluid,
footer .container {
  background: #E9E9E9;
}
.container-fluid {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  max-width: 940px;
  /* or 950px */

}
.no_margin_left {
  margin-left: 0 !important;
}
.margin_right {
  margin-right: 20px !important;
}
.center {
  text-align: center;
  margin: 0 auto;
}
.text-right {
  text-align: right;
}
.logo {
  height: 65px;
}
#logo-image:hover {
  background-color: transparent !important;;
}
.span4.logo h1 {
  line-height: 21px;
}
.span4.logo .span1 {
  width: auto;
}
.links a {
  margin-right: 5px;
}
h1 span,
h3 span {
  font-weight: normal;
}
.main_menu {
  width: 375px;
}
.logo {
  width: 254px;
  margin-left: 5px;
  margin-bottom: 15px;
  float: left;
}
.logo a {
  text-decoration: none;
}
.logo a:hover {
  text-decoration: none;
}
.logo .main_logo_text {
  font-size: 40px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Changa One', cursive;
}
.logo .main_logo_text img {
  margin-top: -5px;
}
.logo .main_logo_text i {
  color: #ffffff;
  display: none;
}
.logo .main_logo_text span {
  color: #049cdb;
  color: #8FBECE;
}
.logo p {
  font-style: italic;
  color: #ffffff;
}
footer {
  border-top: 0px solid #b81007;
  margin: 20px auto;
  width: 100%;
}
footer h4 {
  /*border-bottom: 1px solid #747474;*/

  color: #000000;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 15px;
  padding-left: 0px;
  text-align: left;
  display: none;
}
footer p {
  color: #000000;
  font-size: 12px;
}
span.line {
  /*background: none repeat scroll 0 0 #B81007;*/

  display: block;
  height: 4px;
  margin: 0 1px -1px -41px;
  width: 36px;
}
.search_banner {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #96BFE7;
  box-shadow: 0 1px 0 0 white inset;
  display: block;
  text-decoration: none;
  background: linear-gradient(to bottom, #e3f0fc 0%, #deeaf7 100%) repeat scroll 0 0 transparent;
}
.search_banner .span4 p {
  border-right: 1px solid #96BFE7;
  box-shadow: none;
  color: #0D51AB;
  height: 48px;
  line-height: 18px;
  padding: 4px 0 0 14px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
.search_banner .span4 p a {
  color: #153150;
}
.search_banner .span4 p.last {
  border-right: 0px solid #96BFE7;
}
.post_job.btn.btn-large {
  padding: 5px 0px;
  width: 95%;
  margin: 0 auto;
}
.post_job.btn.btn-large.apply_now {
  padding: 5px 0px;
  margin-left: 8px;
}
label.control-label {
  font-weight: bold;
}
form h3 {
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px solid #999999;
}
.hero_bar .container-fluid,
.header_bar .container-fluid {
  background: transparent;
  max-width: 960px;
  padding-left: 0;
  padding-right: 0;
}
.container-fluid {
  background: #FFFFFF;
}
.main_content {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
.home_content {
  background: linear-gradient(to bottom, #eeeeee 0%, #ffffff) repeat scroll 0 0 transparent;
  background: #F0F2F3;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
.home_main_content {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
.sidebar_content {
  padding-right: 0px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
.sidebar_content table {
  margin-bottom: 0px;
}
.sidebar {
  padding: 0 15px;
  background: #E3F0FC;
  background: linear-gradient(to bottom, #e3f0fc 0%, #deeaf7 100%) repeat scroll 0 0 transparent;
  min-height: 600px;
  width: 270px;
}
.sidebar h3 {
  color: #4A8EC2;
}
.sidebar .span4 {
  width: 270px;
}
.view-job h1,
.view-job h2,
.view-job h3 {
  line-height: 24px;
}
.view-job h1,
.view-job h2 {
  text-transform: none;
}
.view-job h2 {
  margin-top: 15px;
}
.dashboard_banner {
  background-color: #EEF8FE;
  border: 1px solid #C6D4DF;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
  padding: 20px;
  width: 90%;
}
a i {
  color: #000000;
}
.social-icons {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.social-icons li {
  display: inline;
}
.social-icons li a {
  text-decoration: none;
  padding: 2px 2px;
}
.social-icons li a i {
  color: #999999;
}
.social-icons li:hover i {
  color: #000000;
}
.dashboard_table table {
  margin-left: -7px;
}
.hotlink {
  color: #79a618;
  font-weight: bold;
}
.back-btn i {
  color: #0060a1;
  font-size: 14px;
}
.nav .arrow-left {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #ffffff;
  margin-left: -15px;
  margin-top: 2px;
  float: left;
}
#map_wrap {
  border: solid 2px #ddd;
}
#map_wrap #geolocation-map {
  width: 100%;
  height: 350px;
}
#geolocation-load {
  font-size: 15px;
  margin-top: -10px;
  margin-left: 5px;
  height: 29px;
  line-height: 29px;
  padding: 0 27px;
  width: 50px;
}

.browse_refine {
  margin-bottom: 0px;
}
.browse_refine .browse_refine_btn {
  margin-top: 10px;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
}
.nav-list {
  padding-left: 0;
}
.control-label {
  line-height: 30px;
}

.thumbnail.company_logo {
  margin-left: 15px;
}
.social-icons {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.social-icons li {
  display: inline;
}
.social-icons li a {
  text-decoration: none;
  padding: 2px 2px;
}
.social-icons li a i {
  color: #999999;
}
.social-icons li:hover i {
  color: #000000;
}
#map_wrap {
  border: solid 2px #ddd;
}
#map_wrap #geolocation-map {
  width: 100%;
  height: 350px;
}
#geolocation-load {
  font-size: 15px;
  margin-top: -10px;
  margin-left: 5px;
  height: 29px;
  line-height: 29px;
  padding: 0 27px;
  width: 50px;
}
#visualization {
  width: 100%;
  height: 300px;
}
.post_job {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 6px 35px;
}
.post_job small {
  font-size: 15px;
  font-weight: normal;
  text-transform: none;
}
.btn.search_btn {
  font-size: 15px;
  margin-top: 2px;
  margin-left: 20px;
  height: 29px;
  line-height: 29px;
  padding: 0 29px;
  width: 50px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $lightGray;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

ul.token-input-list-facebook{
  min-height: 62px !important;
  min-width: 220px !important;
}

#terms-pane {
 width:800px; 
 height:200px; 
 overflow:scroll; 
 border:1px solid #ccc; 
 background:#eee;
 margin:5px 0; 
 padding:10px 20px; }