/*@import "bootstrap";*/


*{ margin:0; padding:0;} a{ text-decoration:none;} img{ border:none; outline:none;} input{ border:none ; outline:none;}


.search-box{ float:left; width:100%;}
.search-box h1 {
    color: #06B4EA;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 26px;
    font-style: italic;
    font-weight: bold;
    margin: 110px auto 5px;
    text-align: left;
   
    width: 68%;
}
.search-box .search-bar { float: left; padding: 0px 15% 30px; width: 70%;}
.search-box .search-bar .search-input { float: left; width: 100%; position:relative;}
.search-bar .search-input .text { border: 0px solid #B3E1F1; border-radius: 30px 30px 30px 30px; float: left; height: 55px; padding: 0 2%; width: 96%;}
.search-bar .search-input .text input[type=text] { background:#06b4ea; float: left; height: 45px; margin-bottom: 0; padding: 0 10px; width: 98%; font-family:Verdana, Geneva, sans-serif ; font-size:16px; color:#fff;}
.search-bar .search-input .search-btn{ position:absolute; background:url(search-bar-icon.png) 0 0 no-repeat; right:-15px; top:-14px; width:73px; height:78px;}
.search-bar .search-input .search-btn input[type=submit]{ background:none; border:none; outline:none; cursor:pointer; width:73px; height:78px;}


ul.fea-list li h2.heading {float: left; font-family: 'Oswald', sans-serif; font-weight:normal; font-size: 23px; padding-bottom: 0px; text-transform: uppercase; width: 100%; margin:5px 0; color:#39545b;}
ul.fea-list li h2.heading span.img { float: left;}
ul.fea-list li h2.heading span.text { float: left; line-height: 44px; margin-left: 10px;}
ul.fea-list li p{ float:left; min-height:40px; width:96%; font-size:13px; font-family: 'open_sansregular'; color:#48494b; padding:0 5px; line-height:18px;}
ul.fea-list li span.read-more{ font-family: 'Oswald', sans-serif; font-size:13px; color:#ea5301; text-transform:uppercase; /*background:url(read-more-list-style.png) 0 center no-repeat; padding-left:10px;*/}
ul.fea-list li span.read-more a{color:#ea5301;}



.blog-frame { float: left; padding: 35px 10%; width: 80%; border-bottom: 1px solid #BEC6CB;}
.blog-frame .lft-arrow{ float:left; background:url(left-arrow.png) 0 center no-repeat; padding-left:16px;}
.blog-frame .lft-arrow .right-arrow{ float:left; background:url(right-arrow.png) right center no-repeat; padding-right:16px;}
.blog-frame .lft-arrow .right-arrow .blog-main { background:#C1D5E4; border-radius: 25px; float: left; padding: 0 30px 0 10px; position: relative;}
.blog-main .client-img { left: 10px; position: absolute; top: -5px; width: 100%;}
.blog-text { float: right; padding: 16px 0; width: 75%;}
.blog-text h3 { float: left; line-height: 35px; margin: 0; width: 100%; font-family: 'kabel_dm_btdemi'; font-size:23px; color:#3c505f;}
.blog-text p{ font-family: 'open_sansregular'; font-size:15px; color:#000; text-align:center;}

/*.footer{ float:left; width:100%; padding:15px 0;}*/
.footer p{ float:left; line-height:45px; font-family: 'open_sansregular'; font-size:16px; color:#393b3c; margin:0;}
.footer ul.social-icon{ float:right; list-style:none; margin:0 0;position: relative;
    top: 6px;}
.footer ul.social-icon li{ float:left;}
.footer ul.social-icon li+li{ margin-left:10px;}


textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ border:none ; box-shadow:none ; transition:none;}

.row-fluid .span5 {
    width: 41.1709% !important;
}
.row-fluid .span7 {
    width: 50.265% !important;
}
.middle_span {
    margin: 0 124px !important;
}

ul.fea-list li h2.heading {float: left; font-family: 'Oswald', sans-serif !important; font-weight:normal; font-size: 23px; padding-bottom: 0px; text-transform: uppercase; width: 100%; margin:5px 0; color:#39545b;}

ul.fea-list li p{ float:left; min-height:40px; width:96%; font-size:13px; font-family: 'open_sansregular' !important; color:#48494b; padding:0 5px; line-height:18px;}


