/*@import "bootstrap";*/

@import url('http://fonts.googleapis.com/css?family=Changa+One');

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,800');

$gradientStart: #eee;
$gradientEnd: #555150;
$lightGray: #999;




@font-face {
    font-family: 'yanone_kaffeesatzbold';
    src: url(font_path('yanonekaffeesatz-bold-webfont.eot'));
    src: url(font_path('yanonekaffeesatz-bold-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font_path('yanonekaffeesatz-bold-webfont.woff')) format('woff'),
         url(font_path('yanonekaffeesatz-bold-webfont.ttf')) format('truetype'),
         url(font_path('yanonekaffeesatz-bold-webfont.svg#yanone_kaffeesatzbold')) format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'open_sansregular';
    src: url(font_path('opensans-regular-webfont.eot'));
    src: url(font_path('opensans-regular-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font_path('opensans-regular-webfont.woff')) format('woff'),
         url(font_path('opensans-regular-webfont.ttf')) format('truetype'),
         url(font_path('opensans-regular-webfont.svg#open_sansregular')) format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'kabel_dm_btdemi';
    src: url(font_path('kabeld-webfont.eot'));
    src: url(font_path('kabeld-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font_path('kabeld-webfont.woff')) format('woff'),
         url(font_path('kabeld-webfont.ttf')) format('truetype'),
         url(font_path('kabeld-webfont.svg#kabel_dm_btdemi')) format('svg');
    font-weight: normal;
    font-style: normal;

}





*{ margin:0; padding:0;} a{ text-decoration:none;} img{ border:none; outline:none;} input{ border:none !important; outline:none !important;}
body{ font-family:Arial, Helvetica, sans-serif; font-size:12px;  color:#000; border-top:30px solid #363535 !important; float:left; width:100%; background:url(image_path('body-bg.jpg')) 0 0 repeat !important; background-color:none;}

.main-frame{ float:left; width:100%; background:url(image_path("main-frame-bg.jpg")) center 0 repeat-y;}

.header { float: left; padding: 5px 0 45px; width: 100%; background:url(image_path('header-bot-bg.png')) center bottom no-repeat; background-size:100%;}
.header span.logo{ float:left;}
.header .right-head { float: right;}
.header .right-head ul.head-btns { float: right; list-style: none outside none; margin-left: 0; padding-top: 50px;}
.header .right-head ul.head-btns li { float: left;}
.header .right-head ul.head-btns li + li { margin-left: 20px;}


.search-box{ float:left; width:100%;}
.search-box h1{ float:left; width:100%; text-align:center; font-family: 'yanone_kaffeesatzbold'; font-size:87px; text-transform:uppercase; color:#363535;}
.search-box .search-bar { float: left; padding: 30px 15%; width: 70%;}
.search-box .search-bar .search-input { float: left; width: 100%; position:relative;}
.search-bar .search-input .text { border: 5px solid #B3E1F1; border-radius: 30px 30px 30px 30px; float: left; height: 55px; padding: 0 2%; width: 96%;}
.search-bar .search-input .text input[type=text] { background:none; float: left; height: 55px; margin-bottom: 0; padding: 0 1%; width: 98%; font-family: 'open_sansregular'; font-size:16px;}
.search-bar .search-input .search-btn{ position:absolute; background:url(image_path('search-bar-icon.png')) 0 0 no-repeat; right:-15px; top:-8px; width:73px; height:78px;}
.search-bar .search-input .search-btn input[type=submit]{ background:none; border:none; outline:none; cursor:pointer; width:73px; height:78px;}


.fea-frame { float: left; width: 100%; border-bottom: 1px solid #BEC6CB;}
.fea-frame .fea-list { float: left; margin-left: 0; padding-bottom:25px;}
ul.fea-list li h2.heading { border-bottom: 1px solid #BEC6CB; float: left; font-family: 'kabel_dm_btdemi'; font-size: 23px; padding-bottom: 5px; text-transform: uppercase; width: 100%;}
ul.fea-list li h2.heading span.img { float: left;}
ul.fea-list li h2.heading span.text { float: left; line-height: 44px; margin-left: 10px;}
ul.fea-list li p{ float:left; min-height:40px; width:100%; font-size:18px; font-family: 'open_sansregular'; color:#48494b;}
ul.fea-list li span.read-more a{ font-family: 'kabel_dm_btdemi'; font-size:13px; color:#ea5301; text-transform:uppercase; background:url(image_path('read-more-list-style.png')) 0 center no-repeat; padding-left:10px;}



.blog-frame { float: left; padding: 35px 10%; width: 80%; border-bottom: 1px solid #BEC6CB;}
.blog-frame .lft-arrow{ float:left; background:url(image_path('left-arrow.png')) 0 center no-repeat; padding-left:16px;}
.blog-frame .lft-arrow .right-arrow{ float:left; background:url(image_path('right-arrow.png')) right center no-repeat; padding-right:16px;}
.blog-frame .lft-arrow .right-arrow .blog-main { background:#C1D5E4; border-radius: 25px; float: left; padding: 0 30px 0 10px; position: relative;}
.blog-main .client-img { left: 10px; position: absolute; top: -5px; width: 100%;}
.blog-text { float: right; padding: 16px 0; width: 75%;}
.blog-text h3 { float: left; line-height: 35px; margin: 0; width: 100%; font-family: 'kabel_dm_btdemi'; font-size:23px; color:#3c505f;}
.blog-text p{ font-family: 'open_sansregular'; font-size:15px; color:#000; text-align:center;}

.footer{ float:left; width:100%; padding:15px 0;}
.footer p{ float:left; line-height:45px; font-family: 'open_sansregular'; font-size:16px; color:#393b3c;}
.footer ul.social-icon{ float:right; list-style:none; margin:0 0;}
.footer ul.social-icon li{ float:left;}
.footer ul.social-icon li+li{ margin-left:10px;}




textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ border:none !important; box-shadow:none !important; transition:none !important;}



