@import url(//fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url('//fonts.googleapis.com/css?family=Changa+One');
@import url('//fonts.googleapis.com/css?family=Rokkitt');


@import url('//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,800');

$gradientStart: #eee;
$gradientEnd: #555150;
$lightGray: #999;


@font-face {
  font-family: 'Rockwell Condensed';
  src: url('Rockwell-Condensed.eot');
  src: url('Rockwell-Condensed.eot?#iefix') format('embedded-opentype'),  url('Rockwell-Condensed.woff') format('woff'),  url('Rockwell-Condensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rockwell Extra';
  src: url('Rockwell-ExtraBold.eot');
  src: url('Rockwell-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('Rockwell-ExtraBold.woff') format('woff'),  url('Rockwell-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Rockwell';
  src: url('Rockwell-Bold.eot');
  src: url('Rockwell-Bold.eot?#iefix') format('embedded-opentype'),  url('Rockwell-Bold.woff') format('woff'),  url('Rockwell-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: 'yanone_kaffeesatzbold';
    src: url(font_path('yanonekaffeesatz-bold-webfont.eot'));
    src: url(font_path('yanonekaffeesatz-bold-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font_path('yanonekaffeesatz-bold-webfont.woff')) format('woff'),
         url(font_path('yanonekaffeesatz-bold-webfont.ttf')) format('truetype'),
         url(font_path('yanonekaffeesatz-bold-webfont.svg#yanone_kaffeesatzbold')) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url(font_path('opensans-regular-webfont.eot'));
    src: url(font_path('opensans-regular-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font_path('opensans-regular-webfont.woff')) format('woff'),
         url(font_path('opensans-regular-webfont.ttf')) format('truetype'),
         url(font_path('opensans-regular-webfont.svg#open_sansregular')) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kabel_dm_btdemi';
    src: url(font_path('kabeld-webfont.eot'));
    src: url(font_path('kabeld-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font_path('kabeld-webfont.woff')) format('woff'),
         url(font_path('kabeld-webfont.ttf')) format('truetype'),
         url(font_path('kabeld-webfont.svg#kabel_dm_btdemi')) format('svg');
    font-weight: normal;
    font-style: normal;

}