@charset "utf-8";
/* CSS Document */

header{ width:100%; background:#fff url(headerbg.png) no-repeat center; border-bottom:1px solid #06b4ea; padding-top:18px; padding-bottom:18px; position:fixed; left:0; top:0; z-index:2;}
.logo{ float:left; position:relative;}
.logo img{ position:relative; z-index:1;}
.logo:after{ background:url(logo-bg.png) no-repeat; width:350px; height:78px; position:absolute; left:-38px; top:-4px; content:"";}
ul.header-right{ font-family: 'Rockwell';position:relative; z-index:2; float:right;  margin: 40px 0 0; padding:0;}
ul.header-right li{ list-style:none; float:left;  margin-left:12px;}
ul.header-right li img:hover{ opacity:0.8;}
ul.header-right > li > a{ transition:0.5s; -moz-transition:0.5s; -webkit-transition:0.5s; -ms-transition:0.5s; -o-transition:0.5s; display:block; height:36px; line-height:36px; color:#fff; text-transform:uppercase; border-radius:5px; font-weight:bold; font-size:20px;}

ul.header-right .dropdown-menu.account li{width: 90%;}
ul.header-right .dropdown-menu.account li a{font-family: 'open_sansregular';font-size: 12px !important;font-weight: normal}
ul.header-right .dropdown-menu.account li:hover{background-color: #06b4ea;}

ul.header-right li a:hover, ul.header-right li a:focus{ text-decoration:none;}
.browse-workers a{ background: #ffbc00;
background: -moz-linear-gradient(top,  #ffbc00 0%, #ffa000 100%);
background: -webkit-linear-gradient(top,  #ffbc00 0%,#ffa000 100%);
background: linear-gradient(to bottom,  #ffbc00 0%,#ffa000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbc00', endColorstr='#ffa000',GradientType=0 );
 padding:0 14px;}
.sign-in a{ background: #04c8fc;
background: -moz-linear-gradient(top,  #04c8fc 0%, #06b4ea 100%);
background: -webkit-linear-gradient(top,  #04c8fc 0%,#06b4ea 100%);
background: linear-gradient(to bottom,  #04c8fc 0%,#06b4ea 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04c8fc', endColorstr='#06b4ea',GradientType=0 );
 padding:0 22px;}
.browse-workers a:hover, .browse-workers a:focus{background: #ffa000;
background: -moz-linear-gradient(top,  #ffa000 0%, #ffbc00 100%);
background: -webkit-linear-gradient(top,  #ffa000 0%,#ffbc00 100%);
background: linear-gradient(to bottom,  #ffa000 0%,#ffbc00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa000', endColorstr='#ffbc00',GradientType=0 );
}
.sign-in a:hover, .sign-in a:focus{background: #06b4ea;
background: -moz-linear-gradient(top,  #06b4ea 0%, #04c8fc 100%);
background: -webkit-linear-gradient(top,  #06b4ea 0%,#04c8fc 100%);
background: linear-gradient(to bottom,  #06b4ea 0%,#04c8fc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06b4ea', endColorstr='#04c8fc',GradientType=0 );
}

.sign-in img {
  position: relative;
  top: -2px;
  vertical-align: middle;
}


footer{ position:absolute; left:0; bottom:0; width:100%; background:#06b4ea; padding:12px 0 10px 0;}

ul.footer-left{ float:left; margin:0; padding:9px 0 0;}
ul.footer-left li{ list-style:none; float:left; padding-right:45px;}
ul.footer-left li:last-child{ padding-right:0;}
ul.footer-left li a{ color:#fff; font-size:15px;}

ul.footer-right{ float:right; margin:0; padding:0;}
ul.footer-right li{ list-style:none; float:left; padding-left:5px;}
ul.footer-right li:first-child{ padding-right:0;}