body header {
  z-index: 999;
}
body .main::after {
  clear: both;
  content: "";
  display: block;
}
body .feed-arrowbox {
  width: 65%;
}
body .feed-thumb {
  border: 1px solid #c9b296;
  float: left;
  height: 36px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
/*  width: 23%;*/
}

@media screen and (max-width:1270px) {
/*  .item .photo-slide{
    height: 300px;
  }*/
}

@media screen and (max-width:1200px) {
/*.item .photo-slide{
  height: 300px;
}*/
body .container {
  width: 98%;
}
body .row-fluid [class*="span"] {
  margin-left: 5px;
}
body .row-fluid .span3 {
  width: 24.928%;
}
body .main {
  padding: 10px;
}
}

@media screen and (max-width:1023px) {
/*.item .photo-slide{
  height: 300px;
}*/
body .search_listbox {
  box-sizing: border-box;
  margin: auto;
  padding: 1% 2%;
  width: 96% !important;
}
body .prc-btn {
  margin-left: 0px;
  margin-top: 0px;
}
body .list_fcel3 {
  margin-right: 0;
}
}

@media screen and (max-width:767px) {

/*.item .photo-slide{
  height: 280px;
}*/

body .modal.fade.in {
  top: 10%;
}

body .list_fcell {
  background: none;
  border-radius: 2px;
  box-sizing: border-box;
  float: left;
  height: 64px;
  padding: 2px;
  width: 12%;
}
body .list_fcel2 {
  box-sizing: border-box;
  float: left;
  margin: 0;
  padding: 0 5px;
  width: 90%;
}
body .list_fcel3 {
  float: left;
  margin-right: 0;
  text-align: center;
}

body .prc-btn {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #04c8fc 0%, #06b4ea 100%) repeat scroll 0 0;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  font-size: 10px;
  letter-spacing: -0.1px;
  line-height: 5px;
  margin-left: 50px;
/*  margin-top: 30px;*/
/*  width: 88%;*/
}
body {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
body footer {
  background: #06b4ea none repeat scroll 0 0;
  bottom: 0;
  left: 0;
  margin: 15px 0 0;
  padding: 12px 0;
  position: static;
  width: 100%;
}
body .search-box h1 {
  width: 100%;
  text-align: center;
}
body .search-box .search-bar {
  box-sizing: border-box;
  float: left;
  padding: 0 1% 30px;
  width: 96%;
}
body .row-fluid .span3 {
  clear: both;
  margin-top: 15px;
  width: 100%;
}
}

@media screen and (max-width:650px) {
/*  .item .photo-slide{
  height: 270px;
}*/

body .left-sidebar {  
  box-sizing: border-box;
  float: none;
  margin-right: 8px;
  padding: 15px;
  width: 100%;
}
body .search-box h1 {
  font-size: 17px;
}
body header {
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: center;
}
body .logo:after {
  width: 100%;
}
body .logo {
  float: none;
}
body .logo img {
  max-width: 150px;
}
body ul.header-right {
  float: none;
  margin: 10px 0 0;
  width: 100%;
  text-align: center
}
body ul.header-right li {
  display: inline-block;
  float: none;
  margin: 0;
}
body ul.header-right > li > a {
  font-size: 15px;
}
}

@media screen and (max-width:479px) {
/*    .item .photo-slide{
  height: 240px;
}*/
body .src-btn {
  font-size: 14px;
  padding: 9px 41px 9px 14px;
}
body .register-btn, .register-btn:focus {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  padding: 0 7px;
}
}

@media screen and (max-width:360px) {
}

/*  body .count-1 {
    margin-top: 0px;
  }  */