.header-right .btn-group .btn{
    padding: 6px 12px;
  }
.btn-basic{
  background-size:cover;
}
.modal.fade.in {
  display: block;

}
.modal.fade {
  display: none;

}
body header {
  z-index: 999;
}
body .main::after {
  clear: both;
  content: "";
  display: block;
}
body .feed-arrowbox {
  width: 88%;
  border-radius: 10px;
  box-sizing: border-box;  
}
body .feed-thumb {
  border: 1px solid #c9b296;
  float: left;
  height: 36px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
/*  width: 23%;*/
}




@media screen and (max-width:1270px) {
/*  .item .photo-slide{
    height: 300px;
  }*/
  .search-left {

  width: 40%;
}
.search-right {

  width: 60%;
}
}

@media screen and (max-width:1200px) {
/*.item .photo-slide{
  height: 300px;
}*/
body .container {
  width: 98%;
}
.search-main{
	max-width:100%;
}
body .row-fluid [class*="span"] {
  margin-left: 5px;
}
body .row-fluid .span3 {
  width: 24.928%;
}
body .main {
  padding: 10px;
}
.dropdown-menu{
  left:inherit;
  right:0;
}

}

@media screen and (max-width:1023px) {
	.search-main .hireme {
  margin-bottom: 0;
  text-align: right;
}
	.search-left {
  float: left;
  width: 100%;
}
.search-right {
  float: none;
   width: 100%;
}
.search-result:before{
	display:none;
}
	body .search_listbox {

  padding: 1%;
  width: 98% !important;
}

.search-main .list_fcel2 {
  font-size: 11px;
  line-height: 16px;
  padding: 2px 5px;
  width: 52%;
}
.search-main .list_fcel3{
	width:33%;
}
/*.item .photo-slide{
  height: 300px;
}*/
body .search_listbox {
  box-sizing: border-box;
  margin: auto;
  padding: 1% 2%;
  width: 96% !important;
}
body .prc-btn {
  margin-left: 0px;
  margin-top: 0px;
}
body .list_fcel3 {
  margin-right: 0;
}
.sign_up_in {
  padding-left: 5px !important;
}
.sing_up_r input[type="email"], .sing_up_r input[type="text"], .sing_up_r input[type="password"]{
  width:90% !important;
  box-sizing:border-box;
}
.sing_up_r select{
  width:90% !important;
  box-sizing:border-box;
}
}

@media screen and (max-width:767px) {
	.referred-by::after {
  clear: both;
  content: "";
  display: block;
}
.referred-by {
  float: none;
  margin-bottom: 10px;
  width: 100%;
}
.referred-user {
  float: none;
  width: 100%;
}
.user-img {

  width: 10%;
}
	
	.prc-btn strong.count-txt{
		margin-left: 4px;
    min-width: 17px;
    padding: 13px 1px;
	}
	.img-ref {
  float: left;
  max-width: 25px;
  padding: 4px 3px 0;
}
	.search-left {
  float: none;
  width: 100%;
}
.search-right{
	float: none;
  width: 100%;
}
.search-result:before{
	display:none;
}
body .search_listbox {

  padding: 1% 0;

}
.list_row::after {
  clear: both;
  content: "";
  display: block;
}
.list_row{
	padding-bottom:7px;
}
  body .logo::after {
    width: 135%;
  height:52px;
}
  header{
    background-size:cover !important; 
  }
  .banner-img {
  margin-top: 20px;
}
  .logo {
  float: left;
  max-width:40%;

}
.logo img{
  max-width:100% !important;
}
body ul.header-right {
 margin: 20px 0 0;
  max-width: 57%;
  width:100%;
}

/*.item .photo-slide{
  height: 280px;
}*/
.sing_up_r input[type="email"], .sing_up_r input[type="text"], .sing_up_r input[type="password"]{
  width:98% !important;
  box-sizing:border-box;
}
.sing_up_r select{
  width:98% !important;
  box-sizing:border-box;
}
.sing_up_cell1 {
  float: none !important;
  width: 100% !important;
}
#register .btn-box {
  float: none;
  margin-right: 0;
  width: 100%;
}
.btn-basic{
  height:75px;
}

body .modal.fade.in {
  top: 10%;
}

body .list_fcell {
  background: none;
  border-radius: 2px;
  box-sizing: border-box;
  float: left;
  height: 64px;
  padding: 2px;
  width: 12%;
}
body .list_fcel2 {
  box-sizing: border-box;
  float: left;
  margin: 0;
  padding: 0 5px;
  width: 90%;
}
body .list_fcel3 {
  float: left;
  margin-right: 0;
  text-align: center;
}

body .prc-btn {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #04c8fc 0%, #06b4ea 100%) repeat scroll 0 0;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  font-size: 10px;
  letter-spacing: -0.1px;
  line-height: 5px;
  margin-left: 0px;
/*  margin-top: 30px;*/
/*  width: 88%;*/
}
body {
  padding-left: 0;
  padding-right: 0;
  margin:120px 0 0 0;
}
body footer {
  background: #06b4ea none repeat scroll 0 0;
  bottom: 0;
  left: 0;
  margin: 15px 0 0;
  padding: 12px 0;
  position: static;
  width: 100%;
}
body .search-box h1 {
  margin-top: -65px;
  text-align: center;
  width: 100%;
  padding:0;
  font-size:12px;
}
body .search-box .search-bar {
  box-sizing: border-box;
  float: none;
  margin-top: 15px;
  padding: 0 1%;
  width: 100%;
}
body .row-fluid .span3 {
  clear: both;
  margin-top: 15px;
  width: 100%;
}
.right-sidebar{
  margin:0 !important;
}
body .row-fluid .fea-frame [class*="span"] {
  margin-left: 0 !important;
}
}

@media screen and (max-width:650px) {
  body {

  margin:80px 0 0 0;
}
/*  .item .photo-slide{
  height: 270px;
}*/
.login_box{
  width:100% !important;
  font-size:13px;
}

body .left-sidebar {  
  box-sizing: border-box;
  float: none;
  margin-right: 8px;
  padding: 15px;
  width: 100%;
}

body header {
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: center;
}
body .logo:after {
  width: 100%;
}

body .logo img {
  max-width: 150px;
}
/*body ul.header-right {
  float: none;
  margin: 10px 0 0;
  width: 100%;
  text-align: center
}*/
body ul.header-right li {
  display: inline-block;
  float: none;
  margin: 0;
}
body ul.header-right li .dropdown-menu li{
  display:block;
  text-align:left;
}
body ul.header-right > li > a {
  font-size: 13px;
}
h2 {
  font-size: 20px;
}
div .contact_boxLeft {

  margin: auto;
  padding: 5px;
  width: 90%;
}
body ul.header-right {
  margin: 9px 0 0;
  text-align:right;
 
}
}

@media screen and (max-width:479px) {
  body {
    margin: 65px 0 0;
  }
  body ul.header-right > li > a {
  font-size: 10px;
}
.browse-workers a {
  padding: 0 6px;
}
ul.header-right > li > a{
  height:30px;
  line-height:30px;
}
.sign-in a {
  padding: 0 6px;
}
.sign-in img {
  max-width: 10px;
}
div .profile_theme, .curve_box {
  box-sizing: border-box;
  width: 100% !important;
}
  ul.footer-left li{
    padding:0;
  }
  
  .forgot_password h2 {
  font-size: 20px !important;
}
div .forgot_password .btn_r1 {
  width: 96% !important;
  margin: auto;
  float: none;
  display: block;
}
  
  .header-right .dropdown-menu{
    text-align:left;
    left:inherit;
    right:0;
  }
  .sign-bnt-row .btn_r1{
    width:60%;
  }
  .ref-inp input{
    max-width:60%;
  }
  ul.token-input-list-facebook{
    width:100%;
  }
  .welcome-txt {
  text-align: center;
}
/*    .item .photo-slide{
  height: 240px;
}*/
body .src-btn {
  font-size: 14px;
  padding: 9px 41px 9px 14px;
}
body .register-btn, .register-btn:focus {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  padding: 0 7px;
}
.login_middle_r {
  margin: 10px auto !important;
  width: 90% !important;
}
.login_middle_r input[type="email"], .login_middle_r input[type="text"], .login_middle_r input[type="password"]{
  width:90% !important;
}
.login_middle {
  margin: auto;
  width: 100% !important;
}
.remember_me {
  margin: auto;
  text-align: left;
  width: 90% !important;
}
.header-right .btn-group .btn {
  border-radius: 4px !important;
  font-size: 13px !important;
  padding: 3px 6px;
}
}

@media screen and (max-width:360px) {
}

/*  body .count-1 {
    margin-top: 0px;
  }  */