.card-box h3 {
    color: #04c6fa;
    margin: 0 0 15px;
    text-transform: uppercase;
  }
  .cs-in {
    font-weight: bold;
    padding-bottom: 5px;
    text-align:left;
  }
  .cs-in span {
    background: #333 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin-right: 10px;
    padding: 0;
    width: 25px;
    text-align:center;
  }

  .card-logo {
    display: inline-block;
    float: right;
    padding-top: 10px;
    padding-right: 5px;
    text-align: right;
    width: 50%;
  }
  .card-code {
    display: inline-block;
   
   width: 45%;
    text-align: left;
    
  }

  .crd-desp h4 {
    margin: 0 0 15px;
    text-align: left;
  }

  .cd-l-r {
    padding: 20px 20px 0px 20px;
    text-align: left;
  }
  .cd-l-r:after, .cd-m-in:after, .card-bottom:after{
    clear:both;
    display:block;
    content:"";
  }
  .crd-desp{
    float:left;
    width:40%;
  }

  .cs-in input {
    display: inline-block;
    margin: -2px 0 0;
    width: auto;
  }
  .cs-in label {
    display: inline-block;
    font-weight: bold;
    width: auto;
  }

  .cd-top p{
    margin: 0 0 5px;
  }

  .card-bottom > a {
    color: #333;
    font-family: times new roman;
  }
  .crd-in::after {
    background: #ccc none repeat scroll 0 0;
    content: "";
    height: 130%;
    left: -10px;
    position: absolute;
    top: -70px;
    width: 1px;
  }
  .wb {
    float: left;
    max-width: 100%;
  }

  .wb a{
    color: #0088cc;
  }

  .wb a:hover,.wb a:focus {
    color: #005580;
    text-decoration: underline;
  }

  .cb {
    float: right;
    /*font-size: 14px;
    font-weight: bold;*/
    max-width: 40%;
  }

  /* four_sheet start*/
 .four_sheet .card-box {
 background: #fff none repeat scroll 0 0;
 border: 1px solid #ccc;
 border-radius: 3px;
 margin: auto;
 overflow: hidden;
 padding: 10px;
 width: 48%;
 box-shadow: 0px 0px 12px #ccc inset;
 float: left;
 margin: 1%;
 float: left;
 box-sizing: border-box;
}

.four_sheet .card-box h3 {
    font-size: 22px;
  }

.four_sheet  .cd-top {
 font-family: times new roman;
 font-size: 17px;
}

.four_sheet .card-code img {
  max-width: 80px;
}

.four_sheet .card-logo img {
  max-width: 160px;
}

.four_sheet .card-url {
 font-size: 14px;
 padding: 15px;
 padding-bottom: 10px;
 text-align: left;
 word-break: break-all;
}
.four_sheet .wb a{
 color: #0088cc;
 text-decoration: none;
 font-size: 14px;
}

.four_sheet .card-bottom {
 font-size: 14px;
 padding: 15px;
 text-align: left;
}

.four_sheet .card-bottom > a {
  font-size: 14px;
}

.four_sheet .crd-desp h4 {
    font-size: 18px;
  }

.four_sheet .cs-in strong{
  font-size:11px;
}

.four_sheet .cs-in {
  font-size: 14px;
}
  /* four_sheet end*/

/* ten_sheet start*/
.ten_sheet .card-box {
 background: #fff none repeat scroll 0 0;
 border: 1px solid #ccc;
 border-radius: 3px;
 margin: auto;
 overflow: hidden;
 padding: 10px;
 width: 48%;
 box-shadow: 0px 0px 12px #ccc inset;
 float: left;
 margin: 1%;
 float: left;
 box-sizing: border-box;
}

.ten_sheet .card-box h3 {
    font-size: 22px;
  }

.ten_sheet .cd-top {
 font-family: times new roman;
 font-size: 15px;
}
.ten_sheet .cd-top p {
 margin: 0 0 2px;
}
 .ten_sheet .cd-l-r {
 padding: 5px 20px 0px 20px;
 text-align: left;
}
.ten_sheet .card-code img {
 max-width: 75px;
}
 .ten_sheet .card-logo img {
 max-width: 150px;
}

.ten_sheet .card-url {
 font-size: 14px;
 padding: 15px;
 padding-bottom: 10px;
 text-align: left;
 word-break: break-all;
}
.ten_sheet .wb a{
 color: #0088cc;
 text-decoration: none;
 font-size: 14px;
}

.ten_sheet .card-bottom {
 font-size: 14px;
 padding: 15px;
 text-align: left;
}

.ten_sheet .card-bottom > a {
  font-size: 14px;
}

.ten_sheet .crd-desp h4 {
    font-size: 18px;
  }

.ten_sheet .cs-in strong{
  font-size:11px;
}

.ten_sheet .cs-in {
  font-size: 14px;
}