#new_photo{
  #uploaded-image{
    margin-top: 20px;
  }
}

.photo-viewer-modal{
  max-height: 500px !important;
}

#show_photo_form{
  margin-top: 20px;
  margin-bottom: 0px;
}

.item .photo-slide{
  max-height: 400px;
}

#myCarousel1{
  margin-bottom: 0px;
}
.photo-viewer-modal .carousel-control{
  font-size: 30px;
  line-height: 37px;
}

modal-container #ajax-modal{
  z-index: 9999;
}