#paymentModal ul.nav-tabs li{
  width: 50%;
}

.plan-in {
  background: #0098e1 none repeat scroll 0 0;
  border-radius: 20px;
  box-shadow: 5px 2px 5px #04c8fc inset;
  color: #fff;
  margin:0 auto 10px;
  max-width: 280px;
  min-height: 335px;
  padding: 30px 20px;
  text-align: center;
  width: 100%;
}
.plan-in:hover{
opacity:.9;
}
.btn-box {}
.plan-btn-1 {
  background: #e7f5fe url("plan-icon1.png") no-repeat scroll 96% center;
  border: medium none;
  border-radius: 10px;
  color: #0696df;
  display: block;
  font-family: "Rockwell";
  font-size: 22px;
  height: 94px;
  letter-spacing: -1px;
  line-height: 24px;
  padding: 20px 16px 16px;
  text-align: left;
  text-transform: uppercase;
}
.plan-btn-1:hover, .plan-btn-1:focus{
	text-decoration:none;
	color:#11a3e9;
}
.plan-in h2{
	 font-family: 'Rockwell';
	 color:#fff;
	 font-size:22px;
	 text-transform:uppercase;
	 margin: 34px 0 15px;
}
.plan-txt{
	font-family: 'Rockwell';
	color:#fff;
	font-size:12px;
	line-height:24px;
}
.plan-btn {
  background: rgba(0, 0, 0, 0) url("plan-btn-bg.png") repeat-x scroll 0 0;
  border: medium none;
  border-radius: 5px;
  box-shadow: 1px 1px 0 #666;
  color: #333;
  display: inline-block;
  font-family: "Rockwell";
  font-size: 18px;
  line-height: 36px;
  padding: 0 20px;
  text-shadow: 1px 1px 1px #ccc;
  text-transform: uppercase;
}
.plan-btn:hover, .plan-btn:focus{
	color:#000;
	text-decoration:none;
}
.plan-btn-box{
	margin-top:15px;
}
.paln-box {
  margin:100px auto;
  max-width: 924px;
  width: 100%;
}
.paln-box:after{
	clear:both;
	display:block;
	content:"";
}
.pl-bt2{
	background:url(plan-icon2.png) no-repeat 98% center #e7f5fe;
	position:relative;
	padding-top:14px;
}
.pl-bt2 span {
    bottom: 33px;
    font-size: 11px;
    position: absolute;
    right: 52px;
}
.pl-bt3 {
  background: #e7f5fe url("plans_star.png") no-repeat scroll center 7px;
  font-size: 35px;
  padding-top: 34px;
  position: relative;
  text-align: center;
  position:relative;
}
.pl-bt3::after {
  background: rgba(0, 0, 0, 0) url("plans_line.png") no-repeat scroll center 0;
  bottom: 17px;
  content: "";
  display: block;
  height: 5px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 999;
}
.three-in{
}
.rec a {
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  font-family: "Rockwell";
  font-size: 12px;
  padding: 2px 10px;
  text-transform: uppercase;
  text-decoration: none;
}
.rec a:hover{
	text-decoration:none;
	opacity:.9;
}
.rec {
  margin: 10px 0;
}
.yer-txt {
  font-size: 14px;
  font-family: "Rockwell";
  text-transform:uppercase;
}

.yer-txt span{
	font-size:20px;
	padding-right:4px;
}
 .sec-in .plan-txt
{
line-height: 14px;
}

.three-in .plan-txt{
line-height: 16px;
}

.wth-arrow {
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 11px solid #fff;
  height: 0;
  margin: 15px auto 0;
  width: 0;
  visibility: hidden;
}

.pln-cll1:hover .wth-arrow{
  visibility: visible;
}

.current-plan{
  color: #0696df;
  font-family: "Rockwell";
  font-size: 18px;
}

