/*css for card*/
#referral-card-show {
  .card-box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: auto;
    max-width: 950px;
    overflow: hidden;
    padding: 15px;
    width: 100%;
     box-shadow: 0px 0px 12px #ccc inset;
  }
  .btns-m-r{
  	padding:15px 0;
  }
  .btns-m-r {
    a,input[type='submit'] {
      background: #04c4f9 none repeat scroll 0 0;
      border-radius: 2px;
      color: #fff;
      display: inline-block;
      font-size: 13px;
      font-weight: bold;
      line-height: 34px;
      margin: 0 3px;
      padding: 0 14px;
      text-transform: uppercase;
    }
    .btns-m-r a:hover, input[type='submit']:hover{
      opacity:.8;
      text-decoration:none;
    }

  }
  .card-box h3 {
    color: #04c6fa;
    font-size: 22px;
    margin: 0 0 15px;
    text-transform: uppercase;
  }
  .cs-in {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
    text-align:left;
  }
  .cs-in span {
    background: #333 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin-right: 10px;
    padding: 0;
    width: 25px;
    text-align:center;
  }
  .cs-in strong{
  	font-size:11px;
  }

  .card-logo {
    display: inline-block;
    float: right;
    padding-top: 25px;
    text-align: right;
    width: 45%;
  }
  .card-code {
    display: inline-block;
   
   width: 45%;
    text-align: left;
    
  }
  .card-code img{
  	max-width:140px;
  }
  .crd-desp h4 {
    font-size: 18px;
    margin: 0 0 15px;
    text-align: left;
  }
  .card-url {
    font-size: 20px;
    padding: 20px;
    padding-bottom: 10px;
    text-align: left;
  }

  .card-bottom {
    font-size: 20px;
    padding: 20px;
    text-align: left;
  }
  .cd-l-r {
    padding: 20px;
    text-align: left;
  }
  .cd-l-r:after, .cd-m-in:after, .card-bottom:after{
  	clear:both;
  	display:block;
  	content:"";
  }
  .crd-desp{
  	float:left;
  	width:40%;
  }
  .crd-in {
    box-sizing: border-box;
    float: left;
    margin-top: -45px;
    padding-left: 10px;
    position: relative;
    width: 60%;
  }
  .cs-in input {
    display: inline-block;
    margin: -2px 0 0;
    width: auto;
  }
  .cs-in label {
    display: inline-block;
    font-weight: bold;
    width: auto;
  }
  .cd-top {
    font-family: times new roman;
    font-size: 25px;
  }
  .card-bottom > a {
    color: #333;
    font-family: times new roman;
    font-size: 25px;
  }
  .crd-in::after {
    background: #ccc none repeat scroll 0 0;
    content: "";
    height: 130%;
    left: -10px;
    position: absolute;
    top: -70px;
    width: 1px;
  }
  .wb {
    a{
      color: #0088cc;
    }
    a:hover, a:focus {
      color: #005580;
      text-decoration: underline;
    }

    float: left;
    max-width: 60%;
  }
  .cb {
    float: right;
    /*font-size: 14px;
    font-weight: bold;*/
    max-width: 40%;
  }
}
#preview-card-modal{
  width: 1000px;  
  left: 36%;
  top: 7% !important;
}
