.errorExplanation{
  color: red;
}

@font-face {
  font-family:'Arial-Black';
  src: url('Arial-Black_gdi.eot');
  src: url('Arial-Black_gdi.eot?#iefix') format('embedded-opentype'),
    url('Arial-Black_gdi.woff') format('woff'),
    url('Arial-Black_gdi.ttf') format('truetype'),
    url('Arial-Black_gdi.svg#Arial-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2666;
}
a:focus{
  outline:none;
}
.bg-signup{
/*  padding-top: 100px;*/
  background:url(register/bg-signup.jpg) no-repeat;
  background-size:cover;
}
.custom-ctnr{
  max-width:850px;
  font-family:Arial, Helvetica, sans-serif;
}
#register .btn-box{
  width:32%;
  margin-right:2%;
  float:left;
}
#register .btn-box:last-child{
  margin-right:0;
}
.btn-basic {
  background: rgba(0, 0, 0, 0) url("register/btn-bg.png") repeat-x scroll 0 0;
  border: medium none;
  border-radius: 4px;
  color: #3d3535;
  display: block;
  font-size: 14px;
  height: 100px;
  padding: 7px 10px;
  text-align: center;
  font-family:'Arial-Black';
}
.btn-basic:hover, .btn-basic:focus{
color:#3d3535;
text-decoration:none;
/*opacity:.9;*/
}

.hide-btn{
  opacity:.26;
}

.membership-selected,.hide-btn:hover{
  opacity: .9 !important;
}

.free-svc{
  display:block;
  font-size:12px;
  line-height:14px;
  font-family:Arial, Helvetica, sans-serif;
}
.btn-icon{
  float:left;
  padding:4px;
}
.frm-left, .frm-right, .ref-inp{
  padding:0;
}
.frm-left{
  padding-right:15px;
}
.frm-right{
  padding-left:15px;
}
.frm-left p, .frm-right p, .ref-inp p{
  padding:10px 0 5px 0;
  margin:0;
  font-size:13px;
}
.car-inf{
  padding:0 15px 0 0;
}
.car-inf-2{
  padding:0 0px 0 15px;
}
.inp-m-row {
    min-height: 70px;
}
.custom-ctnr input {
  background: #dcf4fc none repeat scroll 0 0;
  border: 1px solid #8bdbf5;
  padding: 6px 10px;
}

.custom-ctnr .token-input-list-facebook {
  background: #dcf4fc none repeat scroll 0 0;
  border: 1px solid #8bdbf5;
  padding: 6px 10px;
}

.ref-2{
  padding-left:0px;
  padding-right:0;
}
.ref-inp{
  padding-right:15px;
  
}
.ref-inp input {
  display: inline-block;
  max-width: 70%;
  float:right;
}
.ref-inp > span {
    display: inline-block;
    line-height: 34px;
}
.lead-box {
  display: inline-block;
  line-height: 34px;
}
.ref-2 input[type="text"] {
  float: right;
  max-width: 70%;
  display: inline-block;
}

.sadl {
  display: inline-block;
  padding-left: 30px;
}
.inp-m-row > span {
  padding-right: 35px;
}
.sch-row {
  min-height: inherit;
  padding: 14px 0;
}
.day-n {
  display: inline-block;
  padding-right: 50px;
}
.day-n label{
  font-weight:normal;
}
.sadl label{
  font-weight:normal;
  vertical-align:middle;
}
.txt-day{
  min-height:inherit;
}

.text_signup {
  height: 210px;
  margin: 15px 0;
  overflow-x: auto;
  padding-right: 15px;
}
.text_signup h3 {

  font-size: 16px;
  margin: 0 10px 10px 0;
  padding: 0;
  font-weight:bold;
}

.sign-bnt-row {
  font-size: 14px;
  padding: 42px 0;
  text-align: left;
}
.sign-bnt-row .btn_r1 {
  background: rgba(0, 0, 0, 0) url("register/btn-bg.png") repeat-x scroll 0 0;
  border: medium none;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 22px;
  line-height: 50px;
  margin: auto;
  text-transform: uppercase;
  width: 50%;
  font-family:'Arial-Black';
}
.sign-bnt-row .btn_r1:hover{
  opacity:.9;
}
.cmt-row2 {
  margin-top: 45px;
}
.custom-ctnr{
  padding:45px 0;
}
.arrow-txt {
  background: rgba(0, 0, 0, 0) url("register/bg-line.png") no-repeat scroll left bottom;
  clear: both;
  max-width: 975px;
  min-height: 80px;
  padding-top: 30px;
  text-align: right;
  font-size:14px;
  color:#333333;
  background-size:100%;
}
.arrow-txt strong{
  font-weight:normal;
  color:#07b4e9;
}
.date-box {
  display: inline-block;
  max-width: 50%;
}
.custom-ctnr select {
  background: #dcf4fc none repeat scroll 0 0;
  border: 1px solid #8bdbf5;
  border-radius: 4px;
  height: 34px;
/*  margin-left: 25px;*/
  min-width: 100px;
  padding: 0 5px;
}
.btn_r1 img {
  margin-right: 15px;
  max-height: 25px;
  vertical-align: middle;
}
.free-svc > strong {
  color: #FFFF00;
  font-size: 11px;
  font-weight: bold;
  line-height: 6px;
  display:block;
  margin-top: 4px;
}
.custom-ctnr h3{
  color:#666666;
  font-size:22px;
}
.day-n {
  display: inline-block;
  padding-right: 50px;
  border: solid 1px #8bdbf5;
  padding: 4px 25px;
  vertical-align: middle;
  border-radius: 4px;
  background: #dcf4fc ;
}
.day-n label{
  margin-bottom:0;
}
img{
  vertical-align:middle;
}

/*responsive css*/
@media screen and  (max-width:767px){
.custom-ctnr{
  width:96%;
}
.frm-right {
  padding-left: 0;
}
.frm-left {
  padding-right: 0;
}
.car-inf-2 {
  padding: 0;
}
.ref-inp {
  padding-right: 0;
}
.ref-2 {
  margin-top: 10px;
  padding-left: 0;
  padding-right: 0;
}
.car-inf {
  padding: 0;
}
.inp-m-row > span {
  padding-right: 15px;
}
.btn-box {
  float: left;
  margin-bottom: 10px;
  margin-right: 0;
  width: 100%;
}
}

/* Custom css*/

label.membership-plans{
  display: block !important;
}

.membership-plans{
  cursor: pointer;
}

input[name="user[membership]"]{
  display: none;
}

.tooltip-inner { background-color: #686868 !important; color: #fff; }
.tooltip.in {
  opacity: 1;
}

.error{
  color: red;
}

/* Home page search autocomplete suggestions , Start */

.autocomplete-suggestions { 
/*  top: 311px !important;
  width: 585px  !important;*/
  font-family: sans-serif; 
  font-size: 14px; 
  line-height: 1.6em;
  margin: 0; 
  padding: 0; 
  border: 1px solid #999; 
  background: #FFF; cursor: default; 
  overflow: auto; 
  -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); 
  box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); 
  z-index: 9 !important;
}
.autocomplete-suggestion { 
  padding: 2px 5px;
  white-space: nowrap; 
  overflow: hidden; 
 }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { 
  font-weight: normal; 
  color: #3399FF; 
}

.footer:after {
  clear: both;
  content: "";
  display: block;
}

.inp-m-row:after {
 clear: both;
 content: "";
 display: block;
}

/* Home page search autocomplete suggestions , End */

/* Tab Navigation */
.tab-pane-content{
  padding: 0 20px 20px 20px;
}

.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;    
}
.nav-tabs > li > a {
    background: #DADADA;
    border-radius: 0;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background: #F5F5F5;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

/* Tab Content */
.tab-pane {
/*    background: #F5F5F5;*/
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    border-radius: 0;
    text-align: center;
    padding: 10px;
}

#payment_detail{
margin-top: 35px;
}