
/*css for signup page start*/
.sing_up_r .tooltip-inner { background-color: #D8D8D8 !important; color: #000; }
.sing_up_r .tooltip.in {
  opacity: 1;
}

.signup_box{
  width:100%;
}
.signup_box h2{
  font-size:22px;
  padding:0;
  margin:0 10px 10px 0;
  border-bottom:solid 1px #d9d9d9;
}

.signup_box h3{
  font-size:16px;
  padding:0;
  margin:0 10px 10px 0;
  border-bottom:solid 1px #d9d9d9;
}

.signup_box input[type="checkbox"], .signup_box input[type="radio"]{
  vertical-align:middle;
  position:relative;
  top:-4px;
  margin-right:4px;
}
.sing_up_r{
  margin-bottom:8px;
  text-transform:capitalize;
}
.sign_up_in{
  padding-left:8%;
}
.sing_up_r p{
  margin-bottom:2px;
  padding-left:2px;
  font-size:14px;
}
.sing_up_cell1{
  float:left;
  width:45%;
}

.curve_box {
  border: 1px solid #ccc;
  border-radius: 4px;
  float: left;
  margin-right: 8px;
  padding: 4px;
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px#ccc;
  box-shadow: 0 0 5px #ccc;
  margin-top:10px;
  margin-bottom:10px;

  width: 361px;
  margin-right: 22px;
}

.profile_theme{
  width: 393px !important;
}

.sing_up_r input[type="email"] , .sing_up_r input[type="text"], .sing_up_r input[type="password"]{
  line-height:38px;
  margin:0;
  padding:0;
  background:#fff;
  border:solid 1px #e2e2e2!important;;
  height:38px;
  line-height:38px;
  width:360px;
  padding:0 4px;
}

.sing_up_r select{
  line-height:38px;
  margin:0;
  padding:0;
  background:#fff;
  border:solid 1px #e2e2e2!important;;
  height:38px;
  line-height:38px;
  width:370px;
  padding:8px 4px;
}
.sing_up_r .list_s1{
  width:178px;
}

.text_signup{
  height:210px;
  overflow-x:auto;
  padding-right:15px;
  margin:15px 0;
}

.card_expire_on  select {
  width: 175px;
  margin-left: 5px;
}
.card_expire_on{

} 

.remember_me {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

 .aft_span{
    font-size: 22px;
    margin: 0 10px 10px 0;
    padding: 0;
float:none;
}

.affiliate_programe {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 15px;
    padding-bottom: 6px;
}

span.price{
  font-size: 13px;
    font-weight: bold; 
}

/*css for signup page end*/

.skills span.barter{
  float: right;
  margin-right: 3px;
}

.skills [for='user_barter']{
  display: inline-block;
}

.locations{

  width: 100%;

  .address-setting{
    margin-bottom: 10px;
  }

  .btn-add-location{

  }

  .btn-remove-location{
    margin-top: 10px;
  }

  .city-zip-wrapper{
    clear: both; display: inline-block; width: 380px;
    .city{
      float: right; width: 50%;
      input, select {
        width: 170px;
      }
    }
    .postal-code{
      float: left;width: 50%;

      input {
        width: 170px;
      }    
    }
  }
}  