/*
  sandee
        Creating a sprite from following images:
        app/assets/images/sprites/social-share-button/baidu.png (16x16)
        app/assets/images/sprites/social-share-button/delicious.png (16x16)
        app/assets/images/sprites/social-share-button/douban.png (16x16)
        app/assets/images/sprites/social-share-button/email.png (16x16)
        app/assets/images/sprites/social-share-button/facebook.png (16x16)
        app/assets/images/sprites/social-share-button/flickr.png (16x16)
        app/assets/images/sprites/social-share-button/google_bookmark.png (16x16)
        app/assets/images/sprites/social-share-button/google_plus.png (16x16)
        app/assets/images/sprites/social-share-button/kaixin001.png (16x16)
        app/assets/images/sprites/social-share-button/pinterest.png (16x16)
        app/assets/images/sprites/social-share-button/plurk.png (16x16)
        app/assets/images/sprites/social-share-button/qq.png (16x16)
        app/assets/images/sprites/social-share-button/renren.png (16x16)
        app/assets/images/sprites/social-share-button/tqq.png (16x16)
        app/assets/images/sprites/social-share-button/tumblr.png (16x16)
        app/assets/images/sprites/social-share-button/twitter.png (16x16)
        app/assets/images/sprites/social-share-button/weibo.png (16x16)
        Output files:
          app/assets/images/sprites/social-share-button.png
          app/assets/stylesheets/social-share-button.scss
        Output size:
          80x64
*/
.social-share-button-baidu { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button.png') 0px 0px no-repeat }
.social-share-button-delicious { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button.png') -16px 0px no-repeat }
.social-share-button-douban { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button.png') 0px -16px no-repeat }
.social-share-button-email { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button.png') -16px -16px no-repeat }
.social-share-button-facebook { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button.png') -32px 0px no-repeat }
.social-share-button-flickr { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button.png') -32px -16px no-repeat }
.social-share-button-google_bookmark { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button.png') 0px -32px no-repeat }
.social-share-button-google_plus { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button.png') -16px -32px no-repeat }
.social-share-button-kaixin001 { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button.png') -32px -32px no-repeat }
.social-share-button-pinterest { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button.png') -48px 0px no-repeat }
.social-share-button-plurk { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button.png') -48px -16px no-repeat }
.social-share-button-qq { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button.png') -48px -32px no-repeat }
.social-share-button-renren { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button.png') 0px -48px no-repeat }
.social-share-button-tqq { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button.png') -16px -48px no-repeat }
.social-share-button-tumblr { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button.png') -32px -48px no-repeat }
.social-share-button-twitter { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button.png') -48px -48px no-repeat }
.social-share-button-weibo { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button.png') -64px 0px no-repeat }

@media only screen and (-webkit-device-pixel-ratio: 2) {
  .social-share-button-baidu { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button@2x.png') 0px 0px no-repeat; background-size:80px 64px; }
  .social-share-button-delicious { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button@2x.png') -16px 0px no-repeat; background-size:80px 64px; }
  .social-share-button-douban { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button@2x.png') 0px -16px no-repeat; background-size:80px 64px; }
  .social-share-button-email { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button@2x.png') -16px -16px no-repeat; background-size:80px 64px; }
  .social-share-button-facebook { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button@2x.png') -32px 0px no-repeat; background-size:80px 64px; }
  .social-share-button-flickr { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button@2x.png') -32px -16px no-repeat; background-size:80px 64px; }
  .social-share-button-google_bookmark { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button@2x.png') 0px -32px no-repeat; background-size:80px 64px; }
  .social-share-button-google_plus { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button@2x.png') -16px -32px no-repeat; background-size:80px 64px; }
  .social-share-button-kaixin001 { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button@2x.png') -32px -32px no-repeat; background-size:80px 64px; }
  .social-share-button-pinterest { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button@2x.png') -48px 0px no-repeat; background-size:80px 64px; }
  .social-share-button-plurk { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button@2x.png') -48px -16px no-repeat; background-size:80px 64px; }
  .social-share-button-qq { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button@2x.png') -48px -32px no-repeat; background-size:80px 64px; }
  .social-share-button-renren { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button@2x.png') 0px -48px no-repeat; background-size:80px 64px; }
  .social-share-button-tqq { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button@2x.png') -16px -48px no-repeat; background-size:80px 64px; }
  .social-share-button-tumblr { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button@2x.png') -32px -48px no-repeat; background-size:80px 64px; }
  .social-share-button-twitter { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button@2x.png') -48px -48px no-repeat; background-size:80px 64px; }
  .social-share-button-weibo { display:inline-block; width: 16px; height: 16px; background: url('sprites/social-share-button@2x.png') -64px 0px no-repeat; background-size:80px 64px; }
}
