/* Body image*/

body{ 
  background: url("body_bg.jpg") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
  background-attachment:fixed; 
  font-family:Arial, Helvetica, sans-serif; 
  margin-bottom: 60px; 
  margin-top:125px;
}

.push{
  padding-bottom: 5px;
}

/*Preferred referal count button*/

.count-1 {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #04c8fc 0%, #06b4ea 100%) repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  letter-spacing: -0.1px;
  line-height: 5px;

  margin-left: 100px;
  margin-top: 30px;
}

.img-ref {
  float: left;
  max-width: 30px;
  padding: 4px 4px 0 10px;
}
.count-1 span {
  display: block;
  line-height: 12px;
}

.count-in {
  float: left;
  line-height: 18px;
  margin: 0;
  padding: 3px 0 4px;
  text-transform: uppercase;
}

.count-in strong {
  display: block;
}

.count-1 strong.count-txt {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  display: block;
  float: left;
  margin-left: 4px;
  min-width: 20px;
  padding: 17px 1px;
  font-size: 16px;
  text-align: center;
}
.prc-btn{
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #04c8fc 0%, #06b4ea 100%) repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  letter-spacing: -0.1px;
  line-height: 0px;
  /*margin-top: 34px;*/
}
.prc-btn strong.count-txt{
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  display: block;
  float: left;
  margin-left: 4px;
  min-width: 20px;
  padding: 17px 1px;
  font-size: 14px;
  text-align: center;
}
.prc-btn span {
  display: block;
  line-height: 12px;
}

/*Preferred referal count button*/

.lowercase{
  text-transform: none !important;
}

.main-frame {
/*  float: left;*/
  width: 100%;
}

a:focus, img:focus, input:focus{outline:none;}
.container{ max-width:1000px; width:100%;} /*max-width:1000px; */
img{ max-width:100%;}
html { min-height: 100%; position: relative;}
section{ width:100%;}


.main-ctr{
  min-height: 500px;
}

/* Body image*/

.pr-section{
/*margin: 4px;*/
}

.pr-section img{
  height: 30px;
}

/*containt from custom.css begins*/
.hint {
  font-size: 10px;
  font-style: italic;
  font-weight: normal;
  color: rgb(90, 85, 90);
}
.close_pop_flash_message {
  float: right;
}
.com_img_box img {
  width: "62px";
  height: "62px";
}
h4 .flag {
  width: "20px";
  height: "14px";
}
/*.container {
  min-height: 585px;
}*/


.clear {
  clear: both;
}
img {
  border: none;
  vertical-align: middle;
}

#continer {
  width: 940px;
  margin: auto;
  padding: 10px 0;/* font-family: 'ubunturegular';*/
}
/*containt from custom.css end*/

/*Auto Complete begins*/
ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
 li {
 background-color: #FFF;
 border-top: solid 1px #DDD;
 margin: 0;
 padding: 0;
 a {
 color: #000;
 display: block;
 padding: 3px;
}
 a.ui-state-hover, a.ui-state-active {
 background-color: #FFFCB2;
}
}
}
.ui-autocomplete {
  background-color: #FFFFFF;
}
/*Auto Complete end*/

/*Validation message begins*/
.tooltip-validate {
  position: absolute;
  z-index: 1029;
  display: inline;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}
.tooltip-validate.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.tooltip-validate.right {
  margin-left: 227px;
  margin-top: -43px;
}
.tooltip-validate-inner {
  max-width: 350px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #9A4D3E;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.tooltip-validate-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip-validate.right .tooltip-validate-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #9A4D3E;
  border-width: 5px 5px 5px 0;
}
#feedback_form .tooltip-validate.right {
  margin-left: 564px;
  margin-top: -76px;
  float: right;
  width: 104px;
}
/*Validation message end*/

.profile_cel1 {
  background: none repeat scroll 0 0 #DCDCDC;
  border-radius: 1px;
  float: left;
  margin-right: 15px;
  min-height: 500px;
  padding: 7px;
  width: 200px;
}
.profile_picbox {
  width: 200px;
  background: url(shadow.png) no-repeat bottom;
  padding: 0px 0 25px;
  height: 200px;
}
.profile_picbox img {
  width: 190px;
  height: 200px;
  background: #fff;
  padding: 5px;
}
.tumb_imgbox {
  height: 38px;
}
.thumb_img {
  width: 34px;
  height: 34px;
  float: left;
  margin-right: 6px;
}
.thumb_img img {
  border: solid 2px #fff;
}
.gobal_title h1 {
  font-size: 22px;
  font-weight: normal;
  margin: 12px 0;
}
.gobal_title h1 span {
  display: block;
  font-size: 16px;
  line-height: 20px;
}
.global_h {
  text-transform: uppercase;
  font-size: 11px;
}
.global_h span {
  display: block;
}
.global_h span img {
  padding: 4px 4px 0 0;
}
.gobal_title {
  border-bottom: solid 1px #aeaec7;
  padding-bottom: 5px;
}
.psl_text {
  margin: 10px 0;
}
.psl_text p {
  margin-bottom: 10px;
}
.personl_soc h2 {
  border-bottom: solid 1px #aeaec7;
  padding: 5px 0;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 5px;
}
.personl_soc p {
  text-align: center;
}
.personl_soc p img {
  margin: 0 3px;
}
.personl_soc p img:hover {
  opacity: .7;
  background: #333;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.profile_cel2 {
  float: left;
  margin-right: 15px;
  min-height: 500px;
  width: 295px;
}
.heading_t span {
  width: 25px;
  background: #fa8f23;
  height: 1px;
  bottom: -1px;
  position: absolute;
}
.heading_t {
  color: #fa8f23;
  font-size: 21px;
  font-weight: normal;
  padding: 0 0 6px 0;
  border-bottom: solid 1px #c8d0d7;
  position: relative;
}
.detail_box {
}
.detail_r {
  /*height:26px;*/
  line-height: 26px;
}
.d_left {
  float: left;
  width: 115px;
  font-size: 15px;
}
.d_right {
  float: left;
  width: 145px;
  font-size: 14px;
}
.right_row {
  background: #eeeeee;
  border: solid 1px #d0d4d8;
  border-radius: 3px;
  height: 32px;
  line-height: 32px;
  margin: 4px 2px;
  padding: 0 6px;
  font-size: 14px;
}
.right_row:hover {
  background: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn_box {
  border-bottom: 1px solid #AEAEC7;
  padding: 10px 0;
}
.btn_r1 {
  background: url("btn_bg.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #058BAD;
  border-radius: 2px;
  box-shadow: -1px -1px #CCCCCC;
  color: #FFFFFF;
  display: inline-block;
  font-size: 14px;
/*  height: 45px;*/
  line-height: 28px;
  margin-right: 11px;
  padding: 0 5px;
}
.btn_r1:hover {
  color: #CCCCCC;
  text-decoration: none;
}
.profile_cel3 {
  float: right;
  min-height: 500px;
  width: 685px;
}
.comment_r {
  width: 590px;
  border-bottom: dashed 1px #a3aab0;
  padding: 4px 0 22px;
  margin: 5px auto;
}
.com_img_box {
  float: left;
  width: 70px;
}
.com_img_box img {
  padding: 2px;
  background: #fff;
  border: solid 1px #a5a6a6;
}
.com_text {
  float: right;
  width: 480px;
  border: solid 1px #c7d4ef;
  border-radius: 3px;
  padding: 7px 9px;
  background: #fff;
  position: relative;
}
.arrow_c {
  background: url(cmt_arrow.png) left no-repeat;
  width: 7px;
  height: 15px;
  position: absolute;
  left: -7px;
}
.com_text_left {
  float: left;
  width: 488px;
}
.com_text_right {
  float: right;
  width: 100px;
  /* text-align:right; */
  margin-right: 22px;
}
.cmt_box {
  padding: 10px 0;
}
.date_p {
  color: #959595;
  font-size: 11px;
  text-align: right;
  padding-top: 1px;
}
.more_p {
  padding: 5px 0 0;
  text-align: right;
  font-size: 14px;
}
.more_p a {
  color: #131313;
}
.more_p a:hover {
  color: #0099FF;
}
.less_p {
  padding: 5px 0 0;
  text-align: right;
  font-size: 14px;
}
.less_p a {
  color: #131313;
}
.less_p a:hover {
  color: #0099FF;
}
.com_text_left h4 {
  color: #f98d20;
  font-size: 17px;
  font-weight: normal;
  padding-bottom: 3px;
  margin: 0;
  float: left;
}
.com_text_left p {
  font-size: 12px;
  color: #2a2a2a;
  margin: 0;
}
.com_text_left h4 img {
  padding-left: 10px;
}
.com_text_left h4 span {
  display: inline-block;
  min-width: 65px;
}
.btn_r2 {
  border: solid 1px #d66c02;
  background: url(btn_bg2.jpg) repeat-x;
  height: 42px;
  color: #fff;
  display: inline-block;
  line-height: 42px;
  font-weight: normal;
  padding: 0 8px;
  font-size: 24px;
  border-radius: 2px;
  width: 96%;
  text-align: center;
  -moz-box-shadow: -1px -1px #ccc;
  -webkit-box-shadow: -1px -1px #ccc;
  box-shadow: -1px -1px #ccc;
}
.btn_r2:hover {
  color: #ffc993;
}
.my_exp h2 {
  border-bottom: 1px solid #AEAEC7;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
  padding: 0;
}
.left_c {
  display: inline;
  width: 100px;
}
.right_c {
  float: right;
  line-height: 20px;
  padding-top: 5px;
  width: 138px;
}
.company_box {
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  padding: 5px 10px;
  line-height: 18px;
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px#ccc;
  box-shadow: 0 0 5px #ccc;
}
.company_box h2 {
  margin-top: 0;
}
.company_box form {
  margin-bottom: 0;
}
.company_box textarea {
  border: 1px solid #CCCCCC !important;
  height: 45px;
  margin-right: 13px;
  margin-top: 10px;
  vertical-align: middle;
  width: 83%;
}
.company_box .btn_r2 {
  font-size: 20px;
}
.profile_icon {
  height: 31px;
  padding-top: 6px;
  padding-bottom: 6px;
}
/* Login */
.login_btn_r {
  text-align: left;
  padding: 42px 0;
  font-size: 14px;
}
.login_btn_r .btn_r1 {
  font-size: 17px;
  background: url(submit_bg.png) repeat-x;
  height: 45px;
  line-height: 45px;
  width: 160px;
  border: none;
}
/* Login */

/* Sign UP */
.btm_link {
  padding: 10px 5px;
}
.btm_link a {
  padding: 0px 5px;
}
/* Sign UP */

.info_message {
  font-size: 10px;
}
ul.token-input-list-facebook {
  width: 349px;
}
.modal-footer #show_photo_form {
  float: left;
  margin: 0 0 20px 0px;
}
/*css of 1-1-2014 start*/

.pic_box {
  width: 180px;
  min-height: 200px;
  background: #fff;
  padding: 6px;
  border: solid 1px #ccc;
  border-radius: 4px;
  float: left;
  margin-right: 22px;
}
.right_margin {
  margin-right: 0 !important;
}
.right_row_pic {
  background: none repeat scroll 0 0 #EEEEEE;
  border: 1px solid #D0D4D8;
  border-radius: 3px;
  font-size: 14px;
  margin: 4px 2px 10px;
  padding: 12px 11px 12px 14px;
}
.pic_inbox {
}
.edit_r_box {
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  border-top: solid 1px #ccc;
}
.edit_r_box a {
  padding: 0px 15px;
  height: 26px;
  line-height: 26px;
}
.demo {
  margin: 20px auto 0;
  text-align: center;
}
.select_photo_btn {
  float: left;
}
.upload_nbtn {
  background: url("select_file.jpg") no-repeat;
  float : left;
  height: 45px;
}
.upload_form {
  min-height: 34px;
  /*border:solid 1px #ccc;*/
  padding: 5px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.upload_form input[type="file"] {
  opacity: 0;
  width: 89%;
  height: 44px;
}
.remove_btn {
  background: #DE2227;
  border: 1px solid #F80903;
  border-radius: 2px;
  box-shadow: -1px -1px #CCCCCC;
  color: #FFFFFF;
  display: inline-block;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  margin-right: 11px;
  padding: 0 5px;
}
.remove_btn:hover {
  color: #CCCCCC;
}
/*css of 1-1-2014 end*/

/*css for popup start*/

.modal-body-content {
  text-align: center;
}
.modal-body-content img {
  border: solid 1px #ccc;
  padding: 4px;
  background: #fff;
  border-radius: 3px;
  -moz-box-shadow: 0 0 5px #b9b9b9;
  -webkit-box-shadow: 0 0 5px#b9b9b9;
  box-shadow: 0 0 5px #b9b9b9;
}
.modal-header h3 {
  line-height: 30px;
  margin: 0;
  font-family: 'open_sansregular';
}
.close {
  border: 1px solid #666666 !important;
  padding: 0 4px !important;
}
/*.setting_icon{
 background:url(setting.png) no-repeat left;
 padding-left:25px !important;
}

.logout_icon{
 background:url(logout.png) no-repeat left;
 padding-left:25px !important;
}*/
/*css for popup end*/

.actions {
  float: right;
  margin-top: 10px
}
.actions input[type="submit"] {
  background: none repeat scroll 0 0 #17A6CB;
  border-radius: 3px;
  color: #FFFFFF;
  padding: 6px;
}
.actions input[type="submit"]:hover {
  background: none repeat scroll 0 0 #098daf;
}

/* Pagination Start */

/*.pagination li {
  display: inline-block;
  line-height: 25px;
}
.pagination a {
  display: block;
  color: #333;
  padding: 0 10px;
  border-radius: 2px;
  border: solid 1px #ccc;
  box-shadow: 0 1px 0 #5a5b5c inset, 0 1px 0 #ccc;
  background: #fff;
}
.pagination a:hover {
  text-decoration: none;
  box-shadow: 0 1px 0 #f9bd71 inset, 0 1px 0 #0a0a0a;
  background: linear-gradient(top, #f48b03, #c87100);
}
.pagination li:target a {
  box-shadow: 1px 0 5px #1a1a1b inset, 1px 0 0 #2d2d2d, 0 1px 0 #2d2d2d;
  background: linear-gradient(top, #252627, #1c1c1e);
}*/

.digg_pagination {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  padding: 15px 0;
  text-align: right;
}
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: inline-block;
  /*  float: left;*/
  margin-right: 1px;
  background: #fff;
}
.digg_pagination .disabled {
  border: 1px solid #DDDDDD;
  border-radius: 2px;
  color: #999999;
}
.digg_pagination .current {
  background: none repeat scroll 0 0 #28B2D5;
  border: 1px solid #28B2E9;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
}
.digg_pagination a {
  border: 1px solid #28B2E9;
  color: #28B2E9;
  text-decoration: none;
  border-radius: 2px;
}
.digg_pagination a:hover, .digg_pagination a:focus {
  border-color: #636363;
  color: #636363;
}
.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}
.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em;
}
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .digg_pagination {
  height: 1%;
}
*:first-child + html .digg_pagination {
  overflow: hidden;
}

/* Pagination  End */

span.error {
  color: red;
  margin: -2px;
}
/*css of 8-1-14*/

/*==================*/

/*css for search list start*/

.list_row {
  /*width:450px;*/
  width: 100%;
  border-bottom: solid 1px #ccc;
  min-height: 50px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.list_row:hover {
  background: #cef5ff;
  cursor: pointer;
}
.hireme {
  /*display:none;*/
  display: block;
  margin-bottom: 5px;
}

.list_fcell {
  width: 64px;
  height: 64px;
  background: #ccc;
  padding: 2px;
  float: left;
  border-radius: 2px;
}
.list_fcel2 {
  width: 350px;
  float: left;
  margin: 2px 8px;
}
.list_fcel4 {
  width: 330px;
  float: left;
  margin: 2px 8px;
  border-left: solid 1px #ccc;
  padding: 0 10px;
  min-height: 60px;
}
.list_fcel3 {
  float: right;
  text-align: center;
  /*margin-top:18px;*/
  margin-right: 27px;
}
.title_n {
  padding: 0 0 1px;
  margin: 0;
  font-weight: bold;
}
.tech_n {
  padding: 0 0 1px;
  margin: 0;
  text-transform: capitalize;
}
.search_listbox {
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  margin: 13px 13px 0 0;
  padding: 1% 2%;
  width: 96% !important;
}
/* Rating */
.top_rating p {
  float: left;
}
.top_rating .ajaxful-rating {
  float: left;
}
.right_rating_box {
  margin: 6px 0 15px 0;
}
.rating_n {
  padding: 0 0 1px;
  margin: 0;
}
.rating_n img {
  vertical-align: middle;
  padding: 0 1px;
}
.rat_left {
  float: left;
}
.rat_right {
  float: right;
}
.rat_right img {
  margin: 6px 2px 0;
}
/* Rating */

/*css for search list end*/

/* paginations start*/

.demo {
  margin: 20px auto 0;
  text-align: center;
}
/* Users search result start */

/* Users search result end */

/*css of paginations*/


/* Home page search autocomplete suggestions , Start */

.autocomplete-suggestions {
  /*  top: 311px !important;
  width: 585px  !important;*/
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  border: 1px solid #999;
  background: #FFF;
  cursor: default;
  overflow: auto;
  -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  z-index: 9 !important;
}
.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}
.autocomplete-selected {
  background: #F0F0F0;
}
.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399FF;
}
/* Home page search autocomplete suggestions , End */


/*cs for w-9 start*/

.w9_box {
  width: 778px;
  margin: auto;
  line-height: 16px;
  border: 1px solid #ccc;
  padding: 5px;
  text-transform: capitalize;
  font-family: 'open_sansregular';
  line-height: 19px;
  background: #fff;
  font-size: 12px;
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px#ccc;
  box-shadow: 0 0 5px #ccc;
}
.w9_box div input, .w9_box div select {
  border: 1px solid #CCCCCC !important;
  border-radius: 2px;
  height: 21px !important;
  margin: 3px 0 0;
  padding: 0 2px;
  vertical-align: middle;
  width: auto;
}
.w9_box div input[type="checkbox"], .w9_box div input[type="radio"] {
  position: relative;
  top: -4px;
  left: 0px;
}
.w-9logo {
  font-size: 24pt;
  font-weight: bold;
  padding-left: 36px;
  position: relative;
  top: 27px;
}
.clear {
  clear: both;
}
.left_n1 {
}
.right_n1 {
  float: right;
  width: 244px;
}
.spna_left {
  display: inline-block;
  font-size: 10pt;
  padding-left: 6px;
  width: 400px;
}
.row_w9 {
  clear: both;
  padding-left: 6px;
  font-size: 10pt;
  min-height: 25px;
  padding: 4px 6px;
}
.w9_box div input[type="text"], .w9_box div select {
  height: 24px !important;
  width: 214px;
  -moz-box-shadow: inset -2px -2px 2px #E2F0FD !important;
  -webkit-box-shadow: inset -2px -5px 2px #E2F0FD !important;
  box-shadow: inset -2px -2px 2px #E2F0FD !important;
}
.w9_box div select {
  height: 26px !important;
  width: 221px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.w9_box div select.in_sel {
  width: 105px;
}
.w9_box div input.inp_in {
  width: 100px;
}
.w9_box div input[type="submit"] {
  border: medium none !important;
  border-radius: 3px;
  font-size: 14px;
  height: 32px !important;
  padding: 0 21px;
  margin: 15px 10px;
  line-height: 30px;
}
.address_box {
  border-bottom: 1px solid #ccc;
}
.txt_c {
  text-align: center;
}
/*.afiliate css , Start*/
.text_aflt {
  font-size: 25px;
  background: #EEE;
  padding: 7px;
  line-height: 30px;
  border-bottom: solid 1px #E4E4E4;
  -moz-box-shadow: inset -2px -2px 2px #E2F0FD !important;
  -webkit-box-shadow: inset -2px -5px 2px #E2F0FD !important;
  box-shadow: inset -2px -2px 2px #E2F0FD !important;
  margin-bottom: 50px;
}
.text_aflt span {
  display: block;
  font-size: 14px;
}
.aflt_Leftbox {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E4E4E4;
  border-radius: 2px;
  float: left;
  padding: 30px 4px 15px;
  width: 370px;
  min-height: 155px;
  -moz-box-shadow: 0 0 5px #eee;
  -webkit-box-shadow: 0 0 5px#eee;
  box-shadow: 0 0 5px #eee;
  -moz-box-shadow: inset -2px -2px 2px #E2F0FD !important;
  -webkit-box-shadow: inset -2px -5px 2px #E2F0FD !important;
  box-shadow: inset -2px -2px 2px #E2F0FD !important;
}
.aflt_Righttbox {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E4E4E4;
  border-radius: 2px;
  float: right;
  padding: 15px 4px 15px 10px;
  width: 370px;
  -moz-box-shadow: 0 0 5px #eee;
  -webkit-box-shadow: 0 0 5px#eee;
  box-shadow: 0 0 5px #eee;
  -moz-box-shadow: inset -2px -2px 2px #E2F0FD !important;
  -webkit-box-shadow: inset -2px -5px 2px #E2F0FD !important;
  box-shadow: inset -2px -2px 2px #E2F0FD !important;
}
.aflt_Leftbox p {
  padding-bottom: 10px;
  border-bottom: solid 1px #ccc;
  margin-bottom: 35px;
}
.aflt_box input {
  width: auto;
}
.cell_aft1 {
  float: left;
  padding-left: 5px;
}
.cell_aft2 {
  padding-left: 20px;
  position: relative;
  top: -4px;
  float: left;
}
.cell_aft3 {
  padding-left: 20px;
  position: relative;
  top: -15px;
  float: left;
}
.cell_aft4 {
  padding-left: 20px;
  position: relative;
  top: -19px;
  float: left;
}
.aflt_box {
  margin: 15px auto 120px;
  width: 790px;
}
.code_box {
  border: solid 1px #ccc !important;
  height: 78px !important;
  width: 90%;
  -moz-box-shadow: inset -2px -2px 2px #E2F0FD !important;
  -webkit-box-shadow: inset -2px -5px 2px #E2F0FD !important;
  box-shadow: inset -2px -2px 2px #E2F0FD !important;
  margin-bottom: 10px;
  border-radius: 5px;
}
.select-logo {
  margin-top: 38px;
}
/*.afiliate css , End*/

/*.span4 {
  border: solid 1px #ccc;
  text-align: center;
  width: 220px !important;
  min-height: 245px !important;
  border-radius: 10px;
  -moz-box-shadow: 0 0 5px #4dbdd3;
  -webkit-box-shadow: 0 0 5px#4dbdd3;
  box-shadow: 0 0 5px #4dbdd3;
  background: #F1F8FE !important;
}*/
.fea-frame .fea-list {
  width: 100%;
}
.fea-frame .fea-list .img {
  display: block;
  float: none !important;
}
ul.fea-list li h2.heading span.text {
  float: none !important;
}
.middle_span {
  margin: 0 132px !important;
}

.btn-group .btn {
  padding: 8px 12px;
  font-family: open_sansregular;
  font-size: 16px !important;
  border-radius: 8px !important;
}
.btn-group .btn-info {
  background-image: linear-gradient(to bottom, #5BC0DE, #3FC2E4);
}
.btn-group .btn-info:hover {
  background-image: linear-gradient(to bottom, #5BC0DE, #3FC2E4);
}
.btn-group .btn-info:hover {
  background-image: none;
  background: #49C1E2;
  opacity: .8;
}
#prefered_list {
  height: 300px; /*your fixed height*/
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}
#prefered_list li {
  display: inline-block;
  border: 1px solid;
}
/*new css for home page , CSS as per new design of home page End*/

.comming_soon {
  text-align: center;
  vertical-align: middle;
  margin-top: 100px;
}
.sing_up_cell1 .country-name {
  padding-top: 9px;
}
.premium-offer {
  font-size: 13px;
  /*margin-left: 19px;*/
  text-align: center;
  color: rgb(6, 180, 234);
  font-weight: bold;
  font-style: italic;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
/* Refreal index/search page */

ol.referals {
  list-style: none;
}
ol.referals .left {
  float: left;
}
ol.referals .right {
  float: right;
}
ol.referals .span6 {
  margin-right: 0px !important;
  float: none !important;
}
li.referal {
  cursor: move;
  line-height: 2px;
  border: 1px solid rgb(60, 192, 226);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
}
ol.referals .saperator {
  padding: 5px;
}
ol.referals .skill-name {
  font-weight: bold;
}
ol.referals .remove-link {
  float: right;
  margin-top: 30px;
}
.referal-heading span {
  font-weight: normal;
  font-size: 12px;
  font-style: italic;
}
/* Link for back to profile */

.back-to-profile {
  margin: 12px;
  float: right;
}
/* User edit/signup form css */
#part-time-shedules {
  padding-left: 20px;
}
.skill-name {
  margin-top: 11px;
  float: left;
}
.allign-center {
  text-align: center;
}
.text-info {
  width: 96%;
  padding: 0 25px;
  min-height: 565px;
  /*background-color: #FFFFFF;*/
  font-family: georgia, serif;
  color: #000;
}
.text-info p {
  font-size: 16px;
}
.text-info ol {
  font-size: 16px;
}

/*css 22-11-15
*/


.container {
  width: 1170px;
}
.welcome-txt h1 {
  color: #0098e0;
  font-size: 50px;
}
.welcome-txt h1 span {
  font-family: 'Rockwell Extra';
}
.welcome-txt > p {
  font-size: 19px;
}
.fea-frame {
  float: left;
  margin: 10px 0 50px;
  padding-bottom: 30px;
  width: 100%;
}
.mn-right {
  font-size: 19px;
  font-family: 'Rokkitt', serif;
  float: right !important;
}
/*.span7.mn-left {
  width: 56% !important;
}*/
.mn-left {
  font-size: 18px;
  font-family: 'Rokkitt', serif;
}
.mn-right li {
  margin-bottom: 20px;
}
.mn-right li span {
  font-weight: bold
}
.mn-right > ul {
  margin: 0;
}
.at-txt {
  font-size: 22px;
}
.at-txt span {
  font-weight: bold;
}
.know-txt {
  margin-bottom: 20px;
}

.browse-btn.blue {
  background: url(btn_bg-2.png) repeat-x;
}
.ip-txt {
  display: inline-block;
  width: 270px;
  border: solid 1px #333333;
  height: 36px;
  text-align: center;
  vertical-align: top;
  position: relative;
  background: url(small-arrow.png) no-repeat center left;
  margin-right: 10px;
}
/*.ip-txt:before{
  background: url(../images/small-arrow.png) no-repeat center left;
  position:absolute;
  left:0;
  height:18px;
  width:9px;
  content:"";
}*/
.ip-txt input[type="text"] {
  border: none;
  background: none;
  width: 71%;
  height: 30px;
  margin: 0;
  font-family: 'Rokkitt', serif;
  text-align: center;
  font-size: 17px;
  color: #333;
}
.btn-i {
  width: 15%;
  display: inline-block;
  vertical-align: middle;
  border: none;
  background: none;
  float: right;
  margin-top: 5px;
  margin-right: 4px;
}
.rc-row {
  margin-top: 25px;
}
.mn-right h3 {
  color: #0098e0;
  font-family: 'Rockwell';
  font-size: 22px;
}
.banner-img {
  /*margin-top: 60px;*/
}

.left-margin-none{
  margin-left: 0px !important;
}

.modal-body .flash_messages{
  position: relative !important;
  font-size: 14px;
}

/* Responsive */

@media screen and (max-width:1169px){
	.logo:after{
		width:300px;
	}
	.container {
    width: 100%;
}
ul.footer-left li {
  padding: 0 10px;
}
}

@media screen and (max-width:767px){
ul.header-right {
  margin: 10px 0 0;
  padding: 0 5px;
}
ul.footer-left {
  float: none;
  margin: 0;
  padding: 9px 0 0;
  width: 100%;
}
ul.footer-right {
  float: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
footer ul li {
  display: inline-block;
  float: none !important;
  padding: 5px;
}
footer{
	text-align:center;
}
.mn-right > ul {
  margin: 0 0 0 16px;
  padding: 0 !important;
}
}
@media screen and (max-width:640px){
	.browse-workers a {
    padding: 0 9px;
}
ul.header-right > li > a {
  font-size: 14px;
}
.src-btn {
  font-size: 15px;
  padding: 9px 35px 9px 19px;
}

}

@media screen and (max-width:479px){
.logo {
  float: none;
  margin: auto;
  max-width: 190px;
}

ul.header-right {
  margin: 5px auto;
  width: 267px;
  z-index: 2;
  float:none;
}
.welcome-txt h1 {
  color: #0098e0;
  font-size: 32px;
}
.register-btn, .register-btn:focus {
  font-size: 11px;
  padding: 0 12px;
}
.at-txt {
  font-size: 20px;
}
}