.panel{
  border: 1px solid #999;
  border-radius: 5px;	
  background: #FFF;
  margin-top: 15px;
}

.temp-locations, .locations-payment{
	margin: 20px;
}

.locations-payment table td{
	padding-right: 5px;
}

.locations-payment .card-type select{
	width: 160px;
}

.locations-payment .card-cvv input{
	width: 127px;
}

.locations-payment #checkout{
    text-align: center;
    padding: 56px;
}

.locations-payment .ladda-spinner{
    float: right;
    margin: 22px;
}

.locations-payment .ladda-label{
  margin-left: 39px;
}

.locations-payment .login_btn_r{
	text-align: center;
}

.temp-locations table{
	border-right: 1px solid #999;	
	margin-top: 10px;
	margin-bottom: 10px;
}

.left-panel{
	width: 50%;
	float: left;
}

.right-panel{
	width: 50%;
	float: right;
}

.date-select select{
	width: 30%;
}

.custom-form-control{
	  margin: 0;
    padding: 0;
    background: #fff;
    border: solid 1px #e2e2e2 !important;
    height: 38px;
    line-height: 38px;
}