.edit-referal{

}

/* profilepage tabs*/

.tab-wrap .nav-tabs {
  border-bottom: 1px solid #04c1f8;
  height: 37px;
}

.tab-wrap .nav-tabs > .active > a, .tab-wrap .nav-tabs > .active > a:hover, .tab-wrap .nav-tabs > .active > a:focus {
  border: 0 none;
  opacity: 0.7;
}

.tab-wrap .nav-tabs > li {
  margin-bottom: 0;
}

.tab-wrap .nav-tabs > li > a {
  background-attachment: scroll !important;
  background-clip: border-box !important;
  background-color: rgba(0, 0, 0, 0) !important;
  background-image: url("tab-bgr.png") !important;
  background-origin: padding-box !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: 100% 80%;
  border: 0 none;
  border-radius: 0;
  color: #fff;
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 10px 35px;
}

.tab-wrap .nav > li > a:hover, .tab-wrap .nav > li > a:focus {
  border: 0 none;
  border-radius: 0 !important;
  box-shadow: none !important;
  color: #fff;
  text-decoration: none;
}
/* profilepage tabs*/

.ajaxful-rating{
  margin-bottom: 5px !important;
}