// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.clickable{
  cursor: pointer;
}

.register-btn, .register-btn:focus {
	border: medium none;
	border-radius: 6px;
	color: #fff !important;
	display: inline-block;
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	text-decoration: none !important;
	text-transform: uppercase;
	font-family: 'Rockwell';
}

.register-btn.blue {
	background: url(btn_bg-blue.png) repeat-x;
}

.src-btn::after {
    background: rgba(0, 0, 0, 0) url("src-icon.png") no-repeat scroll right center;
    content: "";
    height: 26px;
    position: absolute;
    right: 6px;
    top: 5px;
    width: 30px;
}
.src-btn {
    background: rgba(0, 0, 0, 0) url("small-arrow.png") no-repeat scroll left center;
    border: 1px solid #ccc;
    color: #333;
    font-family: "Rokkitt",serif;
    font-size: 18px;
    padding: 9px 40px 9px 25px;
    position: relative;
    top: 1px;
    vertical-align: top;
}

/*new css 31-12-16*/
.search h4 {
  /*border-bottom: 1px dashed #333;*/
  color: #666666;
  font-family: georgia;
  font-size: 13px;
  margin: 0 2%;
  padding: 0 8px;
}
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  background: #28b2d5 none repeat scroll 0 0;
  color: #fff !important;

}
.digg_pagination .current {
  background: #28b2d5 none repeat scroll 0 0;


}

.digg_pagination .current {
    background: #ff9900 none repeat scroll 0 0;
    border: 1px solid #ff9900;
	}

.search-bar .search-input .search-btn {
    background: rgba(0, 0, 0, 0) url("search-bar-icon.png") no-repeat scroll 0 0 / 100% 100%;
    height: 36px;
    position: absolute;
    right: 4px;
    top: -5px;
    width: 40px;
}


.search-bar .search-input .search-btn input[type="submit"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    height: 34px;
    outline: medium none;
    width: 40px;
}
.search-bar .search-input .text input[type="text"] {
  background: #06b4ea none repeat scroll 0 0;
  border-radius: 0;
  color: #fff;
  float: left;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 14px;
  height: 30px;
  margin-bottom: 0;
  min-height: inherit;
  padding: 0 10px;
  width: 98%;
}
.search-box .search-bar {
padding: 0 0 0 5px;
    width: 33%;
}
.search-box h1 {
  color: #06b4ea;
  float: left;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
  line-height: 23px;
  margin: 0;
  text-align: left;
  width: auto;
  padding-left: 50px;
}
.search-form form {
  margin: 0;
}

.search-bar .search-input .text input[type="text"]{
height: 25px;
}

.hireme .ajaxful-rating {
  clear: both;
  display: inline-block;
   margin: 0 4px 0 0;
}
.search_listbox{
border: 0 none;
 margin: 0;
}
.search-main {
  margin: auto;
  max-width: 90%;
  padding-top: 30px;
  width: 100%;
  
}
.search-bar .search-input .text{
height:35px;
}
.search-left {
  float: left;
  width: 39%;
}

.search-right {
  float: right;
  width: 59%;
}

.search-result::after {
  clear: both;
  content: "";
  display: block;
}
.search-main .list_row {
    border-bottom: 1px dashed #333;
	color: #666;
   
}
body .prc-btn{
margin-left:0;
	
}
.search-main .list_fcell {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-radius: 0;
  float: left;
  height: 64px;
  padding: 2px;
  width: 10%;
}
.search-main .list_fcel2 {
  float: left;
  line-height: 18px;
  margin: 0;
  padding: 2px 8px;
  width: 55%;
}
.search-main .list_fcel3 {
  float: right;
  margin-right: 0;
  /*text-align: right;*/
  width: 29%;
}

.search-main .hireme {
  margin-bottom: 0;
}
.search-main .prc-btn {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #1e94bf 0%, #06b4ea 100%) repeat scroll 0 0;

}
.search-main  .list_row:hover {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
 
}
/*
.search-result::before {
  background: #999999 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 40%;
  margin-left: 5px;
  position: absolute;
  top: 0;
  width: 1px;
}*/
.search-result{
 position:relative;
 margin-bottom:25px;
}
.referred-user {
  float: left;
  width: 68%;
}

.referred-by {
  float: left;
  width: 32%;
}

.list_row::after {
  clear: both;
  content: "";
  display: block;
}
.user-img {
  float: left;
  width: 20%;
}
.user-info {
  box-sizing: border-box;
  float: left;
  line-height: 16px;
  padding: 0 4px;
  width: 80%;
}
/*new css 31-12-16 end*/

.referred-user{

 position: relative;
}

.referred-user::after {
  background: #999999 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 124%;
  left: -5px;
  margin-bottom: -5px;
  margin-top: -12px;
  position: absolute;
  top: 0;
  width: 1px;
}
#service-providers {
  border-radius: 5px;
  border: 1px solid #999;
  /*border-top: 1px solid #999;*/
  padding-bottom: 9px;
}
#preferred-referals{
border-radius: 5px;
  border: 1px solid #999;
  /*border-top: 1px solid #999;*/
}


/**/
/**/

