<%= form_tag search_admin_users_path , :method => :get do %>
  <div class="right_box">
    <h3 class="right_h">Filters</h3>
    
    <div class="inp_row">
      <p>Search User</p>
      <span class='hint-message'>By name, email or skills</span>
      <div class="">
        <%= text_field_tag :query ,params[:query],:class=> "filter-attributes form-control" %>
      </div>
      <div class="clear"></div>
    </div>

    <div class="inp_row">
      <p>User Role</p>
      <div class="cell_in1">
        <%= select_tag :role_name , options_for_select(Role.all.collect{ |r| [r.name.titleize, r.name] } , params[:role_name]), :prompt => "All" ,:class=> "filter-attributes form-control"%>
      </div>
      <div class="clear"></div>
    </div>


    <div class="inp_row">
      <div class="cell_in2">
        <%= submit_tag "Filter" , :class=>"button"%>
      </div>
      <div class="clear"></div>
    </div> 
  </div>

<% end %>