<%= simple_form_for( @user, as: :user, url: admin_user_path(@user) ) do |f| %>
  <%= render :partial => 'shared/error_messages', :locals => {:target => @user}%>

  <div class="form-inputs">
    
    <div class="row">
      <div class="col-md-6">
        <h4>Select your profile theme</h4>
        <div class="sing_up_r">    
          <%= f.input :profile_theme, collection: User::PROFILE_THEME.keys.map{|pt| [pt,pt]} ,include_blank: false, input_html: { :class=>"form-control"}%>
        </div>
      </div>      
    </div>

    <%= f.fields_for :photos, f.object.photos.build(:is_profile_photo => true) do |photo| %>
      <div class='row'>
        <div class='col-md-6'>
          <%= photo.input :name, required: false, input_html: { :onchange=>"readURL(this)", :class=>"form-control"}, type: 'file' %>
          <%= photo.hidden_field :is_profile_photo, type: 'hidden' %>                
        </div>
        <div class='col-md-6' id='uploaded-image'>
          <%= image_tag f.object.profile_photo_url(:profile) if f.object.profile_photo.present? %>
        </div>
      </div>
    <% end %>

    <div class='row'>
      <div class='col-md-6'>
        <%= f.input :email, required: true, autofocus: true, input_html: { class: 'form-control' } %>              
      </div>
      <% unless f.object.basic_user? %>
        <div class='col-md-6'>
          <%= f.input :business_name, input_html: { class: 'form-control' } %>
        </div>
      <% end %>  
    </div>

    <div class='row'>
      <div class='col-md-6'>
        <%= f.input :password, input_html: { class: 'form-control' } %>
   
      </div>
      <div class='col-md-6'>
          <%= f.input :password_confirmation, input_html: { class: 'form-control' } %>
      </div>      
    </div>    

    <div class='row'>
      <div class='col-md-6'>
        <%= f.input :first_name, required: true, input_html: { class: 'form-control' } %>
      </div>
      <div class='col-md-6'>
        <%= f.input :last_name, required: true, input_html: { class: 'form-control' } %>
      </div>
    </div>    
   
    <div class='row'>
      <div class='col-md-6'>
        <%= f.input :city, required: true, input_html: { class: 'form-control' } %>
      </div>
      <div class='col-md-6'>
        <%= f.input :postal_code, required: true, input_html: { class: 'form-control user_postal_code' } %>
      </div>
    </div>  

    <div class='row'>
      <div class='col-md-6'>
        <%= f.input :address_1, input_html: { class: 'form-control' } %>
      </div>
      <div class='col-md-6'>
        <%= f.input :address_2, input_html: { class: 'form-control' } %>
      </div>
    </div>     
    
    <div class='row'>
      <div class='col-md-6'>
        <%= f.input :state, input_html: { class: 'form-control' } %>
      </div>
      <div class='col-md-6'>
        <%= f.input :contact_phone, input_html: { class: 'form-control' } %>
      </div>
    </div>  

    <% unless f.object.basic_user? %>
      <div class='row'>
        <div class='col-md-6'>
          <%= f.input :facebook_url, input_html: { class: 'form-control' } %>
        </div>
        <div class='col-md-6'>
          <%= f.input :twitter_url, input_html: { class: 'form-control' } %>
        </div>
      </div> 
        
      <div class='row'>
        <div class='col-md-6'>
          <%= f.input :linkedin_url, input_html: { class: 'form-control' } %>
        </div>
        <div class='col-md-6'>
          <%= f.input :tag_line, input_html: { class: 'form-control' } %>
        </div>
      </div> 

      <div class='row'>
        <div class='col-md-6'>
          <p><b>Website</b>&nbsp;<span class="hint lowercase">(&nbsp;http://www.example.com&nbsp;) </span></p>
          <%= f.input :website, label: false, input_html: { class: 'form-control' } %>
        </div>

        <div class='col-md-6'>
          <%= f.input :skill_tokens, label: 'Skills', input_html: { :data => {:load => @user.skills} } %>
        </div>  
      </div>
  
      <div class='row'>
        <div class='col-md-12'>
          <h4>About My Company</h4>
          <%= f.cktext_area :about_company,  :style => "border: 1px solid rgb(204, 204, 204) !important;width:842px;height:183px;" %>  
        </div>
      </div>
    <% end %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", :class=> 'btn btn-primary' %>
  </div>
<% end %>

<script>
    $(function(){
        
       limit =  "<%= token_limit(@user) %>"

       if (limit == 'null')
           {token_limit = null}
       else if (limit == 1)
           {token_limit = 1}
       else
           {token_limit = 0 }

      $("#user_skill_tokens").tokenInput("/skills/autocomplete",
        { queryParam: 'term' ,
          propertyToSearch: "name",
          theme: "facebook" ,
          tokenLimit: token_limit ,
          prePopulate: $("#user_skill_tokens").data('load')
        });
    

      $(".token-input-list-facebook").siblings(".tooltip-validate").css("margin-left","405px");

      // $('.ckeditor').ckeditor({
      //   // optional config
      // });

    });

  // $(document).ready(function(){
  //   $('form[data-remote]').bind('ajax:before', function(){
  //     for (instance in CKEDITOR.instances){
  //       CKEDITOR.instances[instance].updateElement();
  //     }
  //   });
  // });


</script>
