<div class="row">
  <div role="main" class="col-md-9">
  	<h3>Downline Members For Which Affiliate has already been Rewarded</h3>

    <div id="referrals">
      <%= render :partial =>  'referrals' , :locals => {:downline_members =>@user.downline_members.past_rewards } %>
    </div>

  </div>

  <div class="col-md-3 first_c3">
	   <div class="right_box">
		    <h3 class="right_h">User Detail</h3>
		    
		    <div class="inp_row">	  
			    <p>Username</p>
			    <span><%= @user.name.try(:titleize) %></span>	
		    </div>

		    <div class="inp_row">	  
			    <p>Email</p>
			    <span><%= @user.email %></span>	
		    </div>

		    <div class="inp_row">	  
			    <p>Role</p>
			    <span><%= @user.role_name.try(:titleize) %></span>	
		    </div>	

		    <div class="inp_row">	  
			    <p>Referred By</p>
			    <span><%= @user.affiliate.try(:email) || "None" %></span>	
		    </div>
    

	  	</div>

		<div class="clear"></div>

	  	<div class="right_box">
		    <h3 class="right_h">Referral Detail</h3>
		    
		    <div class="inp_row">
		    	<p>Number Of Referrals</p>
			    <span><%= @user.downline_members.try(:size) %></span>	
		    </div>

		    <div class="inp_row">

		    </div>


		    <div class="inp_row">

		    </div> 

	  	</div>
  </div>
    
  <div class="clear"></div>

</div>