<div class="row">
  <div role="main" class="col-md-9">
  	<h3>Downline Members For Which Reward Is Pending</h3>

    <div id="referrals">
      <%= render :partial =>  'referrals' , :locals => {:downline_members =>@user.downline_members.pending_rewards } %>
    </div>

  </div>

  <div class="col-md-3 first_c3">
	   <div class="right_box">
		    <h3 class="right_h">User Detail</h3>
		    
		    <div class="inp_row">	  
			    <p>Username</p>
			    <span><%= @user.name.try(:titleize) %></span>	
		    </div>

		    <div class="inp_row">	  
			    <p>Email</p>
			    <span><%= @user.email %></span>	
		    </div>

		    <div class="inp_row">	  
			    <p>Role</p>
			    <span><%= @user.role_name.try(:titleize) %></span>	
		    </div>	

		    <div class="inp_row">	  
			    <p>Referred By</p>
			    <span><%= @user.affiliate.try(:email) || "None" %></span>	
		    </div>
    

	  	</div>

		<div class="clear"></div>

	  	<div class="right_box">
		    <h3 class="right_h">Referral Detail</h3>
		    
		   	<table class="table">
		   		<thead>
		   			<tr>
		   				<th>Role</th>
		   				<th>No. of Members</th>
		   				<th>Amount</th>
		   			</tr>
		   		</thead>
		   		<tbody>
		   			<tr>
		   				<td>Basic</td>
		   				<td>
		   					<%=@user.downline_members.pending_rewards.basic.size %>
		   				</td>
		   				<td>
		   				<%= Affiliation::REFERRAL_AMOUNT[:first_tier][:basic] %> x <%= @user.downline_members.pending_rewards.basic.size %>= $&nbsp;
		   					<%= total_reward_for_basic_users %>
		   				</td>
		   			</tr>
		   			<tr>
		   				<td>Business</td>
		   				<td>
		   					<%=@user.downline_members.pending_rewards.business.size %>
		   				</td>
		   				<td>
		   				<%= Affiliation::REFERRAL_AMOUNT[:first_tier][:business] %> x <%= @user.downline_members.pending_rewards.business.size %>= $&nbsp;<%= total_reward_for_business_users %>
		   				</td>
		   			</tr>
		   			<tr>
		   				<td>Premium</td>
		   				<td>
		   					<%=@user.downline_members.pending_rewards.premium.size %>
		   				</td>
		   				<td>
		   					<%= Affiliation::REFERRAL_AMOUNT[:first_tier][:premium] %> x <%= @user.downline_members.pending_rewards.premium.size %> = $&nbsp;<%= total_reward_for_premium_users %>
		   				</td>
		   			</tr>
		   		</tbody>
		   		<tfoot>
		   			<tr>
		   				<td colspan="2"><b>Total</b></td>
		   				<td><b>$&nbsp;<%= total_reward %></b></td>
		   			</tr>
		   			<tr>

		   				<td colspan="3" >
		   				
		   					<% if @user.affiliate && @user.is_reward_amount_more_than_zero? %>	
		   						<span style="font-style: italic;font-size: 12px;color: rgb(46, 154, 254);">In addition to $&nbsp; <%= total_reward %> , <b> $&nbsp; <%= total_reward(:second_tier) %> </b>will be sent to the parent referral <b><%= @user.affiliate.try(:email) || "None" %>  </b> of this user. </span>
		   						</br></br>
		   						<span style="font-style: italic;font-size: 12px;color: rgb(46, 154, 254);">
		   							So total amount would be $&nbsp; <b><%=total_reward(:first_tier) + total_reward(:second_tier) %> </b>
		   						</span>
		   					<% end %>	
		   					<div class="reward-btn">
		   						<%= button_to "Reward Now", pay_affiliation_reward_admin_user_path(@user) , :class=>"btn btn-success" , :method => :post if @user.is_reward_amount_more_than_zero? %>
		   					</div>
		   				</td>
		   			</tr>
		   		</tfoot>
		   	</table>

	  	</div>
  </div>
    
  <div class="clear"></div>

</div>

<style type="text/css">
	
.reward-btn{
	padding-top: 20px;
}

</style>