<div class="users_list digg_pagination">
  <%#= will_paginate downline_members, :container => false %>
</div>

<div class="left_tbl list">
  <table width="647" class="table table-striped table-hover">
    <tr>
      <th>Serial </th>
     <!--  <th>State</th> -->
      <th>Email</th>
      <th>Name</th>
      <th>Business Name</th>
      <th>Role</th>
      <th>Reward</th>
    </tr>

    <% downline_members.each_with_index do |downline_member,index| %>
        <tr>
          <td><a href="javascript:void(0)">#<%= index+1 %></a></td>
          <!-- <td><a href="#" class="comp">Complete</a></td> -->
          <td class='email_link' ><a href="<%= admin_user_path(downline_member) %>"><%= downline_member.email %></a></td>
          <td><%= downline_member.name.try(:titleize) %></td>
          <td><%= downline_member.business_name.try(:titleize) %></td>
          <td><%= downline_member.role_name.try(:titleize) %></td>
          <td>$&nbsp;<%= downline_member.reverse_affiliation.reward_amount %></td>
        </tr>
    <% end %>    
  </table>
</div>

<div class="users_list digg_pagination">
  <%#= will_paginate downline_members, :container => false %>
</div>


<script type="text/javascript">
    $('#referrals .digg_pagination a').on('click', function () {
      $.getScript(this.href);
      return false;
    });
</script>