<div class="users_list digg_pagination">
  <%= will_paginate @users, :container => false %>
</div>

<div class="left_tbl list">
  <table width="647" class="table table-striped table-hover">
    <tr>
      <th>Serial </th>
     <!--  <th>State</th> -->
      <th>Email</th>
      <th>Name</th>
      <th>Business Name</th>
      <th>Role</th>
      <th>Referred By</th>
      <th>City</th>
      <th>State Code</th>
      <th class='user-actions'></th>
    </tr>

    <% @users.each_with_index do |user,index| %>
      <%= render :partial => 'user', :locals => {:user => user, :index => index}%>
    <% end %>    
  </table>
</div>

<div class="users_list digg_pagination">
  <%= will_paginate @users, :container => false %>
</div>


<script type="text/javascript">
    $('#users .digg_pagination a').on('click', function () {
      $.getScript(this.href);
      return false;
    });
</script>
