<tr id="<%= dom_id(user)%>">
  <td><%= index+1 %></td>
  <td  class='email_link' ><a href="<%= admin_user_path(user) %>"><%= user.email %></a></td>
  <td><%= user.name.try(:titleize) %></td>
  <td><%= user.business_name.try(:titleize) %></td>
  <td><%= user.role_name.try(:titleize) %></td>
  <td class='email_link'><%= user.affiliate.try(:email) || 'None' %></td>
  <td>
    <%= user.city %>
		<%# if user.is_affiliate? && !user.w9_form_detail.blank? %>
      <!-- <i class="fa fa-check fa-lg"></i> -->
		<%# else %>
<!-- 			<i class="fa fa-times fa-lg"></i> -->
		<%# end %>  
	</td>
	<td>
	  <%#= user.is_request_reward ? "YES" : "No" %>
    <%= user.state_code %>
	</td>
	<td class='view_edit'> 
    <ul>
      <li>
        <%= link_to "<i class='fa fa-user'></i>".html_safe ,user_path(user.username), :title => 'Edit', :target => "_blank"%>
      </li>
      <li>
        <%= link_to "<i class='fa fa-edit'></i>".html_safe ,edit_admin_user_path(user), :title => 'Edit'%>
      </li>
      <li>
        <% if user.active? %>
          <%= link_to "<i class='fa fa-toggle-on'></i>".html_safe ,deactivate_admin_user_path(user, {:index => index}), :remote => true, :method => :put, :confirm => "Are you sure?", :title => 'Deactivate'%>
        <% else %>
           <%= link_to "<i class='fa fa-toggle-off'></i>".html_safe ,activate_admin_user_path(user, {:index => index}), :remote => true, :method => :put, :confirm => "Are you sure?", :title => 'Activate'%>
        <% end %>  
      </li>
      <li>  
        <%= link_to "<i class='fa fa-trash'></i>".html_safe , admin_user_path(user), :remote => true, :method => :delete, :confirm => "Are you sure?", :title => 'Destroy'%>
      </li>  

      <% if user.is_request_reward %>
        <li>  
					<%= link_to "Approve payment", pay_affiliation_reward_admin_user_path(user) %>
				</li>
      <% end %>
    </ul>
  </td>  
</tr>