<h3>Claimed users</h3>

<div class="left_tbl list">
  <table width="647" class="table table-striped table-hover">
    <tr>
      <th>Serial </th>
     <!--  <th>State</th> -->
      <th>Email</th>
      <th>Name</th>
      <th>Reffering emails</th>
      <th>Claimed at</th>
    </tr>

    <% @claimed_users.each_with_index do |user,index| %>
        <tr>
          <td><a href="javascript:void(0)">#<%= index+1 %></a></td>
          <td><%= link_to user.email , user_path(user.username), :target => "_blank" %></td>
          <td><%= user.business_or_full_name %></td>
          <td><%= user.referred_users.map(&:email) %></td>
          <td><%= user.claimed_at.in_time_zone.strftime("%b %d %Y %I:%M") if user.claimed_at %></td>
        </tr>
    <% end %>    
  </table>
</div>
