<% content_for :header do %>
    <div class="title_head">
      <div class="container">
        <div class="col-md-4">
          <p class="admin_h">Admin /</p>
          <h2 class="orders_h">Import users</h2>
        </div>
        <div class="col-md-8 users-import">
          <%= link_to 'Import users', import_admin_users_path, class: 'btn btn-default' %>
        </div>        
      </div>
    </div>
<% end %>

<div class="row">
  <div role="main" class="col-md-9">
    <div id="users">
      <%= form_tag upload_csv_admin_users_path, multipart: true do %>
        <div class='row'>
          <div class='col-md-3'>
            <label>Select csv file to import</label>
          </div>
          <div class='col-md-9'>
            <%= file_field_tag :csv, class: 'file' %>
          </div>
        </div>
        
        <div class='row upload-csv'>
          <div class='col-md-12'>
            <%= submit_tag 'Upload', class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-3 first_c3">
 
  </div>
    
  <div class="clear"></div>
</div>
