<% content_for :header do %>
    <div class="title_head">
      <div class="container">
        <div class="col-md-4">
          <p class="admin_h">Admin /</p>
          <h2 class="orders_h">Users</h2>
        </div>
        <div class="col-md-8 users-import">
          <div class="col-md-10">
            <%= link_to 'Start hubuco script', start_hubuco_admin_users_path, class: 'btn btn-default' unless @hubuco_script_running %>
          </div> 
          <div class="col-md-2">
            <%= link_to 'Import users', import_admin_users_path, class: 'btn btn-default' %>
          </div>
        </div>        
      </div>
    </div>
<% end %>

<div class="row">
  <div role="main" class="col-md-9">
    <h4 class="">
      Remaining users to process in csv = <%= remaining_jobs_count %>
    </h4>    
    <div id="users">
      <%= render 'users' %>
    </div>
  </div>

  <div class="col-md-3 first_c3">
    <%= render :partial => 'filters'%>
  </div>
    
  <div class="clear"></div>
</div>
