<% content_for :header do %>
    <div class="title_head">
      <div class="container">
        <div class="col-md-4">
          <p class="admin_h">Search /</p>
          <h2 class="orders_h">Search Result</h2>
        </div>

      </div>
    </div>
<% end %>

<div class="row">
  <div role="main" class="col-md-9">

    <div id="users">
      <%= render 'users' %>
    </div>

  </div>

  <div class="col-md-3 first_c3">
    <%= render :partial => 'filters'%>
  </div>
    
  <div class="clear"></div>


</div>
