<% content_for :header do %>
    <div class="title_head">
      <div class="container">
        <div class="col-md-4">
          <h2 class="orders_h" style="padding-top: 29px;"><%= @user.full_name_or_email %></h2>
        </div>

      </div>
    </div>
<% end %>


<ul class="nav nav-tabs" role="tablist" id="myTab">
  <li class="active">
  	<%= link_to "All Downline Members" , "#all" , :role=>"tab", :"data-toggle"=> "tab" %>
  </li>
  <li>
  	<%= link_to "Past Rewards" , "#past" , :role=>"tab", :"data-toggle"=> "tab" %>
  </li>  
  <li>
	<%= link_to "Pending Rewards" , "#pending" , :role=>"tab", :"data-toggle"=> "tab" %>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="all">
  		<%= render :partial => 'all_members' %>
  </div>
  <div class="tab-pane" id="past">
  		<%= render 'past_rewards' %>
  </div>
  <div class="tab-pane" id="pending">
  		<%= render 'pending_rewards' %>
  </div>
</div>
