<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav side-nav">
    <li class="<%= nav_class(admin_root_path) %>">
        <a href="<%= admin_root_path %>"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
    </li>
    <li class="<%= nav_class(admin_users_path) %>">
        <a href="<%= admin_users_path %>"><i class="fa fa-fw fa-bar-chart-o"></i> Users</a>
    </li>
    <li class="<%= nav_class(failed_admin_user_imports_path)  %>">
        <a href="<%= failed_admin_user_imports_path %>"><i class="fa fa-fw fa-table"></i> Failed user imports</a>
    </li>
    <li class="<%= nav_class(import_admin_users_path) %>">
        <a href="<%= import_admin_users_path %>"><i class="fa fa-fw fa-edit"></i> Import users</a>
    </li>

    <li class="<%= nav_class(admin_reward_transaction_path) %>">
        <a href="<%= admin_reward_transaction_path %>"><i class="fa fa-fw fa-edit"></i> Reward Transactions</a>
    </li>

    <li class="<%= nav_class(admin_skills_path) %>">
        <a href="<%= admin_skills_path %>"><i class="fa fa-fw fa-edit"></i> Skills</a>
    </li> 
    <li class="<%= nav_class(claimed_admin_users_path) %>">
        <a href="<%= claimed_admin_users_path %>"><i class="fa fa-fw fa-edit"></i> Claimed users</a>
    </li> 

    <li class="<%= nav_class(admin_email_verification_logs_path) %>">
        <a href="<%= admin_email_verification_logs_path %>"><i class="fa fa-fw fa-edit"></i> Hubuco API</a>
    </li> 
    
  </ul>
</div>