<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>

      <% if is_admin_signed_in? %>
        <%= link_to "Welcome Admin", admin_root_path , :class=>"navbar-brand"%>
      <% else %>
        <%= link_to "Admin" ,"javascript:void(0)", :class=>"navbar-brand" %>
      <% end %>

  </div>
  <!-- Top Menu Items -->
  <ul class="nav navbar-right top-nav">

      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
          <ul class="dropdown-menu alert-dropdown">
              <li class="divider"></li>
              <li>
                  <a href="#">View All</a>
              </li>
          </ul>
      </li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= current_user.full_name %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li>
                  <a href="#"><i class="fa fa-fw fa-user"></i> <%= current_user.email %></a>
              </li>
              <li class="divider"></li>
              <li>
                  <a href="<%= destroy_user_session_path %>"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
              </li>
          </ul>
      </li>
  </ul>
  
  <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
  <%= render :partial => 'shared/admin/left_bar' %>
  <!-- /.navbar-collapse -->
</nav>