<div id="tempLocationsModal" class="modal fade" role="dialog" aria-labelledby="">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Uploaded Locations</h4>
        <p>You will need to pay $ 1 per location</p>
      </div>

      <div class="modal-body">
        <div id="response-message" style='display:none;'></div>
        <table class='table'>
          <thead>
            <th>Address line 1</th>
            <th>Address line 2</th>
            <th>Postal Code</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Actions</th>
          </thead>

          <tbody>
            <% @temp_locations.each do |temp_location|%>
              <tr id="<%= dom_id(temp_location) %>">
                <td><%= temp_location.address_1 %></td>
                <td><%= temp_location.address_2 %></td>
                <td><%= temp_location.postal_code %></td>
                <td><%= temp_location.city %></td>
                <td><%= temp_location.state_code %></td>
                <td><%= temp_location.country_code %></td>
                <td>
                 <!--  <span><%#= link_to 'Edit', '#', class: 'btn btn-sm btn-primary'%></span> -->
                  <span><%= link_to 'Destroy', temp_location_path(temp_location), class: 'btn btn-sm btn-danger', remote: true , :method => :delete, :confirm => "Are you sure?", :title => 'Remove' %></span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="modal-footer">
        <button id="edit-user-import-btn" type="submit" class="btn btn-primary ladda-button" data-style="expand-right"><span class="ladda-label">Pay and Save</span></button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
