<h2>Edit location</h2>

<div>
  <%= form_for @location do |f| %>

    <%= render :partial => 'shared/error_messages', :locals => {:target => @location}%>

    <div class='row'>
      <div class="span2">
        <strong>Address line 1</strong>
      </div>
      <div class="span6">
        <%= f.text_field :address_1, class: 'form-control' %>
      </div>   
    </div>   

    <div class='row'>
      <div class="span2">
        <strong>Address line 2</strong>
      </div>
      <div class="span6">
        <%= f.text_field :address_2, class: 'form-control' %>
      </div>   
    </div>   

    <div class='row'>
      <div class="span2">
        <strong>City</strong>
      </div>
      <div class="span6">
        <%= f.text_field :city, class: 'form-control' %>
      </div>   
    </div>       

    <div class='row'>
      <div class="span2">
        <strong>State code</strong>
      </div>
      <div class="span6">
        <%= f.text_field :state_code, class: 'form-control' %>
      </div>   
    </div>   

    <div class='row'>
      <div class="span2">
        <strong>Country code</strong>
      </div>
      <div class="span6">
        <%= f.text_field :country_code, class: 'form-control' %>
      </div>   
    </div>       

    <div class='row'>
      <div class="span2">
        <strong>Postal code</strong>
      </div>
      <div class="span6">
        <%= f.text_field :postal_code, class: 'form-control' %>
      </div>   
    </div>     

    <div class='row'>
      <div class="span10">
        <%= f.submit :save, class: 'btn btn-info' %>
      </div>   
    </div>  

  <% end %>  
</div>
