 <p class='pull-left'><%= link_to 'Download', sample_csv_locations_path %> sample locations csv</p>

<h2>Locations<%= link_to 'Import new locations', new_location_path, class: 'btn btn-info import-location'%>
</h2>

<table class='table'>
  <thead>
    <th>Address line 1</th>
    <th>Address line 2</th>
    <th>Postal Code</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Actions</th>
  </thead>

  <tbody>
    <% @locations.each do |location|%>
      <tr id="<%= dom_id(location) %>">
        <td><%= location.address_1 %></td>
        <td><%= location.address_2 %></td>
        <td><%= location.postal_code %></td>
        <td><%= location.city %></td>
        <td><%= location.state_code %></td>
        <td><%= location.country_code %></td>
        <td>
          <span><%= link_to 'Edit', edit_location_path(location), class: 'btn btn-sm btn-primary'%></span>
          <span><%= link_to 'Destroy', location_path(location), class: 'btn btn-sm btn-danger', remote: true , :method => :delete, :confirm => "Are you sure?", :title => 'Delete' %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>