<p class=''><%= link_to 'Download', sample_csv_locations_path %> sample locations csv</p>

<br>
<br>
<br>

<div>
  <%= form_for(current_user, :url => temp_import_locations_path, html: {method: :post, multipart: true}, remote: true) do |f| %>
    <div id="response-message" style='display:none;'></div>
    <%#= render :partial => 'shared/error_messages', :locals => {:target => current_user}%>

    <div class='row'>
      <div class="span2">
        <strong>Select locations csv:</strong>
      </div>
      <div class="span6">
        <%= f.file_field :locations_csv, class: 'form-control' %>
      </div>
      <div class="span4">
        <%= f.submit :upload, class: 'btn btn-info' %>
      </div>      
    </div>   

  <% end %>  
</div>
