<% if @res[:success] %>

  $("#response-message")
    .html("<div class='alert fade in alert-success'>Locations has been uploaded and now redirecting to complete the payment</div>")
    .slideDown();


  setTimeout(function(){ location.href = '/temp_locations'; }, 3000);

  <%#=j render partial: 'locations/temp' %>

  // var tempLocationsModal = $("<%#=escape_javascript(render :partial=>'temp' )%>");
  // tempLocationsModal.modal();

  // tempLocationsModal.on('hidden.bs.modal', function () {
  //   $('.modal-backdrop').remove();
  // });

  // tempLocationsModal.on('shown.bs.modal', function () {
  //   $("#edit-user-import").bind("ajax:beforeSend", function (e, data, status, xhr){
  //     var l = Ladda.create($(this).find("#edit-user-import-btn").get(0));
  //     l.start();    
  //   }).bind("ajax:complete", function (e, data, status, xhr){
  //     var l = Ladda.create($(this).find("#edit-user-import-btn").get(0));
  //     l.stop(); 

  //   })
  // });

<% else %>
  $("#response-message")
    .html("<div class='alert fade in alert-danger'><%=h @res[:msg] %></div>")
    .slideDown();
<% end %>