<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      
        <% if is_admin_signed_in? %>
          <%= link_to "Welcome Admin" ,admin_root_path , :class=>"navbar-brand"%>
        <% else %>
          <%= link_to "Admin" ,"javascript:void(0)", :class=>"navbar-brand" %>
        <% end %>


      </div>
    <div class="navbar-collapse collapse">
      
    <% if  is_admin_signed_in? %>  
      <ul class="nav navbar-nav">
        <li class="<%= admin_nav_class(admin_users_path) %>">
          <%= link_to "Users" ,admin_users_path %>
        </li>
        <li class="<%= admin_nav_class(failed_admin_user_imports_path) %>">
          <%= link_to "Failed user imports" ,failed_admin_user_imports_path %>
        </li>        
        <li class="<%= admin_nav_class(admin_reward_transaction_path) %>">
          <%= link_to "Reward Transactions", admin_reward_transaction_path %>
        </li>
        <li class="<%= admin_nav_class(admin_skills_path) %>">
          <%= link_to "Skills", admin_skills_path %>
        </li> 
        <li class="<%= admin_nav_class(admin_email_verification_logs_path) %>">
          <%= link_to "Hubuco API", admin_email_verification_logs_path %>
        </li>               
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to current_user.email , "#"%>
            </li>
            <li>
              <%= link_to "Logout" , destroy_user_session_path %>
            </li>
          </ul>
        </li>
      </ul>
    <% end %>


    </div>
    <!--/.nav-collapse --> 
  </div>
</div>