
<div class="row-fluid">
    <div class="footer">
        <p>Copyright 2013 trade-labor.com</p>
        <ul class="social-icon">
            <li>
                <%= link_to image_tag("ph-icon.png") ,root_path , :id =>"logo-image" %></li>
            <li>
                <%= link_to image_tag("in-icon.png") ,root_path , :id =>"logo-image" %></li>
        </ul>
    </div>
</div>