<footer>
  <aside class="container">
    <ul class="footer-left">
      <li> <%= link_to  "Home" , root_path %> </li>
      <li><%= link_to  "Contact Us" , contact_us_path %></li>
      <li><%= link_to  "Profile Page Tips" , profile_tips_path %></li>
<!--       <li><%#= link_to  "Contests & Promotions" , contests_promotions_path %></li> -->
    </ul>
    <ul class="footer-right">
      <li>
        <span class='st_facebook_large'></span>
      </li>
      
      <li>
        <span class='st_twitter_large'></span>
      </li>
      <li>
        <span class='st_googleplus_large'></span>
      </li>
      <li>
        <span class='st_linkedin_large'></span>
      </li>
      <li>
        <span class='st_pinterest_large'></span>
      </li>
      <li>
        <span class='st_email_large'></span>
      </li>
    </ul>
  </aside>
</footer>

<% content_for :footer do %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61687566-1', 'auto');
    ga('send', 'pageview');

  </script>
<% end %>
