<header>
  <aside class="container">
    <aside class="logo">
        <%= link_to image_tag("logo.png") ,root_path%>
      </aside>
      <ul class="header-right">
        <li class="browse-workers">
          <%= link_to "WHAT IS RISZIL?" ,what_is_riszil_path%>
        </li>
        
        <% if current_user %>
         <li>
          <span class="">
            <div class="btn-group">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                Account <span class="caret"></span>
              </button>
              <ul class="dropdown-menu account" role="menu">
                <li>
                  <%= link_to "<img src=#{current_user.profile_photo_url(:very_small)} /> <span>Profile</span>".html_safe(),user_path(current_user.username) %>
                </li>
                
                <li>
                  <%= link_to "<i class='fa fa-edit'></i> <span>Edit profile</span>".html_safe(),edit_user_registration_path %>
                </li>

                <li>
                  <%= link_to "<i class='fa fa-user'></i> <span>Change password</span>".html_safe(),edit_password_path %>
                </li>

                <li>
                  <%= link_to "<i class='fa fa-user-plus'></i> <span>Invite friend</span>".html_safe(),new_invite_path %>
                </li>

                <li> 
                  <%= link_to "<i class='icon-briefcase'></i> <span>Membership</span>".html_safe(), membership_path ,{:class => "setting_icon" } %>
                </li>

                <!--<li> 
                  <%#= link_to "<i class='icon-wrench'></i> <span>Settings</span>".html_safe() , 'javascript:void(0)',{:class => "setting_icon" } %>
                </li>-->
              <!-- 
                <li> 
                  <%#= link_to "<i class='icon-link'></i> <span>Affiliate Program</span>".html_safe() , affiliate_path ,{:class => "setting_icon" } %>
                </li> -->
<!--                 <li> 
                  <%#= link_to "<i class='icon-info-sign'></i> <span>Reports</span>".html_safe() , report_user_path(current_user) ,{:class => "setting_icon" } %>
                </li> -->

                <li> 
                  <%= link_to "<i class='icon-info-sign'></i> <span>Referral Card</span>".html_safe(), referral_card_path ,{:class => "setting_icon" } %>
                </li>

                <li>
                  <%= link_to "<i class='icon-info-sign'></i> <span>Locations</span>".html_safe(), locations_path %>
                </li>
                
                <%# if !current_user.w9_form_detail.blank? %>
<!--                   <li> 
                    <%#= link_to "<i class='icon-edit'></i> <span>Edit W9 form</span>".html_safe() , w9_form_path ,{:class => "setting_icon" } %>
                  </li> -->
                <%# end %>  
                <li class="divider"></li>
                <% if current_user_is_admin? %>  
                  <li> 
                    <%= link_to "<i class='icon-link'></i> <span>Admin</span>".html_safe() , admin_root_path ,{:class => "setting_icon" } %>
                  </li>
                <% end %>
                <li>
                  <%= link_to("<i class='icon-off'></i> <span>Logout</span>".html_safe(), destroy_user_session_path,{:class => "logout_icon" })%>
                </li>
              </ul>
            </div>
          </span>
          </li> 
        <% else %>
          <li class="sign-in">
            <a href="<%= new_user_session_path %>"><%= image_tag "user-icon.png"%> SIGN-IN</a> 
          </li> 
        <% end %>
      </ul>
  </aside>
</header>
