<!DOCTYPE html>
<html>
  <head>
      <title>Admin</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <%= favicon_link_tag 'admin/favicon.ico' %>
      <%= stylesheet_link_tag   "admin/application", media: "all" %>
      <%= javascript_include_tag "admin/application" %> 
      <%= javascript_include_tag "jquery.validationEngine-en" %> 
      <%= csrf_meta_tags %>
  </head>

  <body>

        <div class="loading" style='display:none;'>Loading&#8230;</div>

        <!--flash messages start-->
        <div id="flash-message">
            <%= render :partial => '/shared/flash_messages'%>
        </div>
        <!--flash messages end--> 

        <%= render :partial => 'layouts/admin_header' %>

        <%= yield :header %>
   
        <div class="container main-container">
          <%= yield %>       
        </div>
    
        
        <div class='footer-container'>
          <%= render :partial => 'layouts/admin_footer'%>
          <%= yield :footer %>
        </div>


  </body>

</html>