<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= display_meta_tags(default_meta_tags) %>

    <%= stylesheet_link_tag    "bootstrap_and_overrides", media: "all" %>
    <%= stylesheet_link_tag    "bootstrap-responsive.min", media: "all" %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= stylesheet_link_tag "newresponsive" %>
    
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery.validationEngine-en" %> 
    <%= favicon_link_tag 'favicon.ico' %>
    <%= ajaxful_rating_style %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= yield(:head) %>
  </head>

  <body>
    <div>
    
      <div id="flash-message">
        <%= render :partial => '/shared/flash_messages'%>
      </div>

      <%= render 'layouts/header' %>

      <section>
        <aside class="container search-main">
          <%= yield %>
        </aside>
      </section>

      <%= render 'layouts/footer' %>
      <%= yield :footer %>
    </div>    
  </body>
  
</html>