<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%= display_meta_tags(default_meta_tags) %>

    <%= stylesheet_link_tag  "profile/bootstrap" %>
    <%= stylesheet_link_tag  "users" %>
    <%= stylesheet_link_tag  "style" %>
    <%= stylesheet_link_tag  "fonts"%>
    <%= stylesheet_link_tag  "header_and_footer"%>
    <%= stylesheet_link_tag  "ajaxful_rating"%>
    <%= stylesheet_link_tag  "photo"%>
    <%= stylesheet_link_tag "newresponsive" %>
    
    <%= ajaxful_rating_style %>
    <%= javascript_include_tag "profile/modernizr-2.8.3.min" %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= yield(:head) %>

  </head>
<body>
  <div class="main-frame">
    
    <!-- <img src='trading.jpg' />-->
    <!--flash messages start-->
    <div id="flash-message">
        <%= render :partial => '/shared/flash_messages'%>
    </div>
    <!--flash messages end--> 

    <%= render :partial => 'layouts/header' %>

    <section>
      <aside class='container'>
        <%= yield %>
      </aside>
    </section>

    <div class='footer-container'>
      <%= render 'layouts/footer' %>
    </div>

  </div>

  <%= javascript_include_tag "application" %>
  <%= yield :footer %>

</body>
</html>