<!DOCTYPE html>
<html lang="en">

<head>

    <title>Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= favicon_link_tag 'admin/favicon.ico' %>
    <%= stylesheet_link_tag   "admin/new_admin", media: "all" %>
    <%= csrf_meta_tags %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <%= render :partial => 'shared/admin/nav'%>

        <div id="page-wrapper">

          <div class="container-fluid">

            <!-- Page Heading -->
            <%= yield :page_heading %>
            <!-- /.row -->

            <div id="flash-message" class="row">
              <div class="col-lg-12">
                <%= render :partial => '/shared/flash_messages'%>
              </div>
            </div>
            <!-- /.row -->

            <%= yield %>

          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <%= javascript_include_tag "admin/new_admin" %> 
    <%= javascript_include_tag "jquery.validationEngine-en" %>     

</body>

</html>
