<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Riszil | Register</title>
    <%= display_meta_tags(default_meta_tags) %>

    <%= stylesheet_link_tag    "bootstrap.min", media: "all" %>
    <%= stylesheet_link_tag    "fonts"%>
    <%= stylesheet_link_tag    "header_and_footer"%>
    <%= stylesheet_link_tag    "register"%>
    <%= stylesheet_link_tag    "style"%>
    <%= stylesheet_link_tag    "plan"%>
    <%= stylesheet_link_tag    "famfamfam-flags"%>
    <%= stylesheet_link_tag    "ladda.min"%>
    <%= stylesheet_link_tag  "token-input"%>
    <%= stylesheet_link_tag  "token-input-facebook"%>
    <%= stylesheet_link_tag "newresponsive" %>

    <%= javascript_include_tag "register" %>
    <%= javascript_include_tag "jquery.validationEngine-en" %> 
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= yield(:head) %>
  </head>

  <body>
    <div>
      
      <!-- <img src='trading.jpg' />-->
      <!--flash messages start-->
      <div id="flash-message">
          <%= render :partial => '/shared/flash_messages'%>
      </div>
      <!--flash messages end--> 

      <%= render 'layouts/header' %>

      <section>
        <aside class="container">
          <%= yield %>
        </aside>
      </section>

      <div class='footer-container'>
          <%= render 'layouts/footer' %>
          <%= yield :footer %>
      </div>

    </div>
  </body>
</html>